﻿@model GUHabitat.Models.ModelAjouterVenteCentre
@{
    ViewBag.Title = "";
}

<h4> <span class="badge badge-success">Centre : @Model.libelleCentreString</span></h4>


@if (ViewBag.MessageStockAjout != null)
{
    <div class="alert alert-danger">
        @ViewBag.MessageStockAjout

    </div>

}



<hr />



<form action="~/VenteCentre/Ajouter" method="post" id="form" class="form-horizontal">
    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.CodeCentre)

    <!-- Tab panes -->
    <div class="tab-content">

        <br />

        <div class="row col-12">

            <div class="row col-12">
                <h4>
                    <span class="badge badge-success">Informations Génerale</span>
                </h4>
            </div>

            <br /><br />

            <div class="row">

                <div class="form-group col-sm-4 ">
                    <label for="NniM">Reference</label>
                    @Html.TextBoxFor(x => x.Reference, new { @class = "form-control", @readonly = "true", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.Reference)
                </div>

                <div class="form-group col-sm-5 ">
                    <label for="Date"> Date </label>
                    @Html.TextBoxFor(x => x.Date, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(x => x.Date)
                </div>


            </div>


        </div>


        <hr />
        <div class="row col-12">

            <div class="row col-12">
                <h4>
                    <span class="badge badge-success">Nbre Bouteilles Consommateur</span>
                </h4>


            </div>


            <br /><br />


            <div class="row">



                <div class="form-group col-sm-2">
                    <label>B12</label>
                    @Html.TextBoxFor(x => x.B12Consommateur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B12Consommateur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B9</label>
                    @Html.TextBoxFor(x => x.B9Consommateur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B9Consommateur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6R</label>
                    @Html.TextBoxFor(x => x.B6RConsommateur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B6RConsommateur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6V</label>
                    @Html.TextBoxFor(x => x.B6VConsommateur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B6VConsommateur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B3</label>
                    @Html.TextBoxFor(x => x.B3Consommateur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B3Consommateur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B35</label>
                    @Html.TextBoxFor(x => x.B35Consommateur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B35Consommateur)
                </div>

            </div>

        </div>



        <hr />

        <div class="row col-12">

            <div class="row col-12">
                <h4>
                    <span class="badge badge-success">Prix Bouteilles Consommateur</span>
                </h4>
            </div>



            <br /><br />


            <div class="row">

                <div class="form-group col-sm-2">
                    <label>B12</label>
                    @Html.TextBoxFor(x => x.B12PrixConsommateur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B12PrixConsommateur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B9</label>
                    @Html.TextBoxFor(x => x.B9PrixConsommateur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B9PrixConsommateur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6R</label>
                    @Html.TextBoxFor(x => x.B6RPrixConsommateur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B6RPrixConsommateur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6V</label>
                    @Html.TextBoxFor(x => x.B6VPrixConsommateur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B6VPrixConsommateur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B3</label>
                    @Html.TextBoxFor(x => x.B3PrixConsommateur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B3PrixConsommateur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B35</label>
                    @Html.TextBoxFor(x => x.B35PrixConsommateur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B35PrixConsommateur)
                </div>

            </div>

        </div>



        <div class="row col-12">

            <div class="row col-12">
                <h4>
                    <span class="badge badge-success">Nbre Bouteilles Revendeur</span>
                </h4>
            </div>



            <br /><br />


            <div class="row">

                <div class="form-group col-sm-2">
                    <label>B12</label>
                    @Html.TextBoxFor(x => x.B12Revendeur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B12Revendeur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B9</label>
                    @Html.TextBoxFor(x => x.B9Revendeur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B9Revendeur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6R</label>
                    @Html.TextBoxFor(x => x.B6RRevendeur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B6RRevendeur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6V</label>
                    @Html.TextBoxFor(x => x.B6VRevendeur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B6VRevendeur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B3</label>
                    @Html.TextBoxFor(x => x.B3Revendeur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B3Revendeur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B35</label>
                    @Html.TextBoxFor(x => x.B35Revendeur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B35Revendeur)
                </div>

            </div>

        </div>




        <div class="row col-12">

            <div class="row col-12">
                <h4>
                    <span class="badge badge-success">Prix Bouteilles Revendeur</span>
                </h4>
            </div>



            <br /><br />


            <div class="row">

                <div class="form-group col-sm-2">
                    <label>B12</label>
                    @Html.TextBoxFor(x => x.B12PrixRevendeur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B12PrixRevendeur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B9</label>
                    @Html.TextBoxFor(x => x.B9PrixRevendeur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B9PrixRevendeur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6R</label>
                    @Html.TextBoxFor(x => x.B6RPrixRevendeur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B6RPrixRevendeur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6V</label>
                    @Html.TextBoxFor(x => x.B6VPrixRevendeur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B6VPrixRevendeur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B3</label>
                    @Html.TextBoxFor(x => x.B3PrixRevendeur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B3PrixRevendeur)
                </div>
                <div class="form-group col-sm-2">
                    <label>B35</label>
                    @Html.TextBoxFor(x => x.B35PrixRevendeur, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B35PrixRevendeur)
                </div>

            </div>

        </div>



        <div class="row">
            <div class="form-group col-sm-12">
                <label for="nomFamilleM">Commentaires</label>
                @Html.TextAreaFor(x => x.Commentaire, new { @class = "form-control", @autocomplete = "off" })
                @Html.ValidationMessageFor(x => x.Commentaire)
            </div>

        </div>


        <hr />



        <br /><br />

        @if (User.IsInRole("ServiceDC"))
        {
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary ">Enregistrer</button>
            </div>
        }

    </div>
</form>
<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });

    $(function () {
        $('#datetimepicker3').datetimepicker({
            dateFormat: 'HH:mm'
        });
    });





    $('form').submit(function () {
        $(this).find(':submit').attr('disabled', 'disabled');
    });





</script>



