﻿@model GUHabitat.ModelsViews.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Login</title>
    <!-- Custom fonts for this template-->
    <link href="~/template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/template/css/sb-admin.css" rel="stylesheet">
</head>
<body class="bg-info">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Authentication", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.TextBox("Login", null, htmlAttributes: new { @class = "form-control", placeholder = "Login" ,required = "required" ,autofocus = "autofocus" })
                            <label for="inputEmail">Login</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.Password("Password", null, htmlAttributes: new { @class = "form-control", placeholder = "Password", required = "required" })
                            <label for="inputPassword">Password</label>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Login</button>

                }
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/template/vendor/jquery/jquery.min.js"></script>
    <script src="~/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/template/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>