﻿@model GUHabitat.ModelsViews.LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Login";
  
}
    <!-- Bootstrap -->
<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet">
<link href="@Url.Content("/Content/modern-business.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/css/cssLogin.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jsLogin.js")"></script>
@using (Html.BeginForm("Login", "Authentication", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true)



       <div class="card card-container">


                @*<img id="profile-img" class="profile-img-card" src="~/images/logo.png" />
                <p id="profile-name" class="profile-name-card"></p>*@
                <form class="form-signin">
                    <span id="reauth-email" class="reauth-email"></span>
                    @Html.TextBox("Login", null, htmlAttributes: new { @class = "form-control", placeholder = " إسم المستخدم  " })
                    @Html.ValidationMessageFor(model => model.Login)
                    <br />
                    @Html.Password("Password", null, htmlAttributes: new { @class = "form-control", placeholder = "كلمة المرور" })
                    @Html.ValidationMessageFor(model => model.Password)
                    <br />
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"> تسجيل الدخول</button>

                </form><!-- /form -->
            </div><!-- /card-container -->
      
 

}


