﻿<br/>
<br />
<br />
<br />
@model GUHabitat.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SomaGaz</title>
    <!-- Custom fonts for this template-->
    <link href="~/template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/template/css/sb-admin.css" rel="stylesheet">

    <style rel="stylesheet">
        body {
            background-color: #e9ecef;
        }
    </style>

   


</head>
<body>
    <div class="">

       
        <div class="card card-login mx-auto mt-8">
            <br />
            <div class="text-center">
                <img src="~/Content/Somagaz.png" " class="rounded" alt="...">
            </div>




            <div class="card-body ">
                @using (Html.BeginForm("Login", "Authentication", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        <div class="input-group mb-4">
                            @Html.TextBox("Login", null, htmlAttributes: new { @class = "form-control", placeholder = "Nom d'utilisateur", required = "required", autofocus = "autofocus", @autocomplete = "off" })
                           


                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-4">
                            @Html.Password("Password", null, htmlAttributes: new { @class = "form-control", placeholder = "Mot de passe", required = "required", @autocomplete = "off" })
                          
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Connexion</button>

                }
            </div>

        </div>
      
    </div>
        <!-- Bootstrap core JavaScript-->
        <script src="~/template/vendor/jquery/jquery.min.js"></script>
        <script src="~/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/template/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>