﻿@using PagedList.Mvc
@{
    ViewBag.Title = "Liste de BEEPS";
}
@model GUHabitat.Models.ListeBeepModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}
<br />

<div>

    <form class="form-inline" action="~/Beep/Index">

        @Html.TextBoxFor(x => x.filtreMotCle, new { @class = "form-control", @autocomplete = "off", @placeholder = "Mot Clé" })&ensp;
        <button type="submit" class="btn btn-primary" id="buttonChercher">Chercher</button>
    </form>
    <br />
    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Série</th>
                        <th>Date</th>
                        <th>Client</th>
                        <th>Numero Facture</th>
                        <th>B12</th>
                        <th>B09</th>
                        <th>B6R</th>
                        <th>B6V</th>
                        <th>B03</th>
                        <th>B35</th>
                        <th>Etat</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListeBeep)
                    {
                        <tr>
                            <td>@item.Serie</td>
                            <td>@item.Date.ToShortDateString()</td>
                            <td>@item.CodeClient </td>
                            <td>@item.NumeroFacture </td>
                            <td>@item.B12</td>
                            <td>@item.B9</td>
                            <td>@item.B6R</td>
                            <td>@item.B6V</td>
                            <td>@item.B3 </td>
                            <td>@item.B35 </td>
                            <td>@item.etatString </td>


                            <td>
                                <a href="@Url.Action("Details","Beep", new { id = item.id})" class="btn btn-outline-info">
                                    <i class="fas fa-fw fa-info-circle"></i>
                                    Details
                                </a>

                            </td>


                        </tr>
                    }

                </tbody>

            </table>
            <div class="pager">
                Page @(Model.ListeBeep.PageCount < Model.ListeBeep.PageNumber ? 0 : Model.ListeBeep.PageNumber)
                / @Model.ListeBeep.PageCount   @Html.PagedListPager(Model.ListeBeep, page => Url.Action("Index", new { page, filtreMotCle = Model.filtreMotCle }))
            </div>
        </div>
    </div>

</div>





    @*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@
 