﻿@using PagedList.Mvc
@{
    ViewBag.Title = "Liste Details Attestation";
}
@model GUHabitat.Models.ModelListeAredpDetails
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}

<div>
    @*<form class="form-inline" action="~/AredpDetails/Index">
        <div class="magin"></div>
        <div class="form-group left ">

            @Html.TextBoxFor(x => x.filtreMotCle, new { @class = "form-control left", @autocomplete = "off", @placeholder = "Mot Clé" })&ensp;

        </div>
        <div class="form-group right ">
            <button type="submit" class="btn btn-primary right" id="buttonChercher">Chercher</button>
        </div>
    </form>*@
    <br />
    <div id="divAjaxContainer">
        <div class="table-responsive">

            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Type Bouteille</th>
                        <th class="text-lg-center">Poids Lu</th>
                        <th class="text-lg-center">Tare</th>
                        <th class="text-lg-center">Pois Manquant</th>
                        <th class="text-lg-center">Pois Restant</th>
                        @if (User.IsInRole("OperateurDCPesse"))
                        {
                            <th class="text-lg-center">Actions</th>
                        }

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListeAredpDetails)
                    {
                        <tr>
                            <td class="text-lg-center">@item.NomProduit</td>
                            <td class="text-lg-center">@item.poidsLu</td>
                            <td class="text-lg-center">@item.Tare </td>
                            <td class="text-lg-center">@item.poidsManquant</td>
                            <td class="text-lg-center">@item.poidsRestant</td>

                            @if (User.IsInRole("OperateurDCPesse"))
                            {
                                <td class="text-lg-center">
                                    <a href="@Url.Action("Modifier","AredpDetails", new { id = item.id})" class="btn btn-outline-info">
                                        <i class="fas fa-fw fa-edit"></i>
                                        Modifier
                                    </a>

                                </td>

                            }

                        </tr>

                    }


                </tbody>

            </table>

        </div>

   

        <div class="pager">
            Page @(Model.ListeAredpDetails.PageCount < Model.ListeAredpDetails.PageNumber ? 0 : Model.ListeAredpDetails.PageNumber)
            / @Model.ListeAredpDetails.PageCount   @Html.PagedListPager(Model.ListeAredpDetails, page => Url.Action("Index", new { page }))
        </div>
    </div>

</div>





@*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@






