﻿@model GUHabitat.Models.ModelModifierAredpDetails
@{
    ViewBag.Title = "Modifer";
}



<form action="~/AredpDetails/Modifier" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.idAredp)

    <div class="tab-content">
        <div class='tab-pane container fade in show active' id='s1'>

            <br /><br />
            <div class="row">


                <div class="form-group col-sm-6 ">
                    <label for="Entite">Bouteille</label>
                    @Html.DropDownListFor(x => x.idProduit, new SelectList(Model.ListeProduit, "id", "libelle"), "--Choix Bouteille--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.idProduit)
                </div>


                <div class="form-group col-sm-6 ">
                    <label for="Login"> Poids Lu</label>
                    @Html.TextBoxFor(x => x.poidsLu, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.poidsLu)
                </div>


                <div class="form-group col-sm-6 ">
                    <label for="Nom"> Tare </label>
                    @Html.TextBoxFor(x => x.Tare, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.Tare)
                </div>


            </div>
        </div>
    </div>

    <hr />

    @if (User.IsInRole("OperateurDCPesse"))
    {
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>

    }



</form>



