﻿@model GUHabitat.Models.ModelAjouterBonChargementCiterne
@{
    ViewBag.Title = "";
}

<h4> <span class="badge badge-success">Type : @Model.TypeBon</span></h4>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    @if (User.IsInRole("OperateurDCCiterne") || User.IsInRole("ServiceVracPrivee"))
    {
        <li class='nav-item'>
            <a class='nav-link' data-toggle='tab' href='#s1' id="_s1">Direction Commerciale </a>
        </li>
    }
    @if (User.IsInRole("Securite"))
    {

        <li class='nav-item'>
            <a class='nav-link ' data-toggle='tab' href='#s2' id="_s2">Sécurite de L'exploitation</a>
        </li>

    }
    @*@if ((User.IsInRole("ServiceDE")) && (Model.idTypeBon == 1))
        {
            <li class='nav-item'>
                <a class='nav-link' data-toggle='tab' href='#s1' id="_s1">Déclaration Vrac DE </a>
            </li>
        }*@
    @if (User.IsInRole("ServiceDE"))
    {
        <li class='nav-item'>
            <a class='nav-link ' data-toggle='tab' href='#s3' id="_s3">Production de L'exploitation</a>
        </li>
    }

</ul>
<form action="~/BonChargementCiterne/Ajouter" method="post" id="form" class="form-horizontal">
    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.idTypeBon)
    <!-- Tab panes -->
    <div class="tab-content">
        <div class='tab-pane container fade ' id='s1'>

            <br />
            <div class="row">


                <div class="form-group col-sm-4 ">
                    <label for="Date"> Date </label>
                    @Html.TextBoxFor(x => x.Date, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(x => x.Date)
                </div>

                <div class="form-group col-sm-4 ">
                    <label for="NniM">Reference</label>
                    @Html.TextBoxFor(x => x.Reference, new { @class = "form-control", @readonly = "true", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.Reference)
                </div>
                <div class="form-group col-sm-3">
                    <label for="PrenomM">ImmatriculeCamion</label>
                    @Html.TextBoxFor(x => x.ImmtriculeCamion, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.ImmtriculeCamion)
                </div>
                <div class="form-group col-sm-4">
                    <label for="PrenomPereM"> ResponsableCamion</label>
                    @Html.TextBoxFor(x => x.ResponsableCamion, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.ResponsableCamion)
                </div>
                <div class="form-group col-sm-4">
                    <label for="nomFamilleM">ChauffeurCamion</label>
                    @Html.TextBoxFor(x => x.ChauffeurCamion, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.ChauffeurCamion)
                </div>
                <div class="form-group col-sm-3">
                    <label>Code Client</label>
                    @Html.TextBoxFor(x => x.CodeClient, new { @class = " form-control", onblur = "getClient('m');", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.CodeClient)
                </div>
                <div class="form-group col-sm-4">
                    <label for="NniM">NomClient</label>
                    @Html.TextBoxFor(x => x.NomClient, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.NomClient)
                </div>
                <div class="form-group col-sm-4">
                    <label for="PrenomM">Tonnage Commandé</label>
                    @Html.TextBoxFor(x => x.Tonnage, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.Tonnage)
                </div>
                <div class="form-group col-sm-3">
                    <label for="PrenomPereM"> Code Destination</label>
                    @Html.TextBoxFor(x => x.CodeDestination, new { @class = "form-control", onblur = "getDestination();", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.CodeDestination)
                </div>
                <div class="form-group col-sm-4">
                    <label for="nomFamilleM">Libelle Destiantion</label>
                    @Html.TextBoxFor(x => x.libelleDestination, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.libelleDestination)
                </div>

            </div>




        </div>
        <div class='tab-pane container fade' id='s2'>

            <br />
            <div class="row">

                <div class="form-group col-sm-4">
                    <label for="nomFamilleM">permis Chauffeur</label>
                    @Html.TextBoxFor(x => x.Numeropermis, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.Numeropermis)
                </div>
                <div class="form-group col-sm-4">
                    <label for="nomFamilleM">Numero Police RC Tracteur</label>
                    @Html.TextBoxFor(x => x.NpoliceRC, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.NpoliceRC)
                </div>
                <div class="form-group col-sm-4">
                    <label for="nomFamilleM">Numero Police RC citerne gaz</label>
                    @Html.TextBoxFor(x => x.NpoliceRCGaz, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.NpoliceRCGaz)
                </div>
                <div class="form-group col-sm-2">
                    <label for="nomFamilleM">Nbre Personnes</label>
                    @Html.TextBoxFor(x => x.NbrePersonnes, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.NbrePersonnes)
                </div>
                <div class="form-group col-sm-12">
                    <label for="nomFamilleM">Observations(Etat général)</label>
                    @Html.TextAreaFor(x => x.Observation, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.Observation)
                </div>


            </div>



            <br /><br />

            <hr />


            <div class="form-group row">



                <div class="col-md-6">
                    <fieldset>

                        <h4> <span class="badge badge-info">Demmarage</span></h4>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("Demmarage", "Ok")
                            </span>
                            <label>
                                Ok
                            </label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("Demmarage", "pas Ok")
                            </span>
                            <label>
                                Pas Ok
                            </label>



                        </div>

                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>

                        <h4> <span class="badge badge-info">Etat de pneus</span></h4>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("EtatPneus", "Ok")
                            </span>

                            <label>
                                Ok
                            </label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("EtatPneus", "pas Ok")
                            </span>

                            <label>
                                Pas Ok
                            </label>

                        </div>

                    </fieldset>
                </div>


                <div class="col-md-6">
                    <fieldset>

                        <h4> <span class="badge badge-info">Freinage</span></h4>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("Freinage", "Ok")
                            </span>

                            <label>
                                Ok
                            </label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("Freinage", "pas Ok")
                            </span>

                            <label>
                                Pas Ok
                            </label>

                        </div>

                    </fieldset>
                </div>


                <div class="col-md-6">
                    <fieldset>

                        <h4> <span class="badge badge-info">Extincteur</span></h4>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("Extincteur", "Ok")
                            </span>

                            <label>
                                Ok
                            </label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("Extincteur", "pas Ok")
                            </span>

                            <label>
                                Pas Ok
                            </label>

                        </div>

                    </fieldset>
                </div>

                <div class="col-md-6">
                    <fieldset>

                        <h4> <span class="badge badge-info">EST Autoriser A Entree</span></h4>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("AutoriserEntree", "Oui")
                            </span>

                            <label>
                                Oui
                            </label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("AutoriserEntree", "Non")
                            </span>

                            <label>
                                Non
                            </label>

                        </div>

                    </fieldset>
                </div>

                <div class="col-md-6">
                    <fieldset>

                        <h4> <span class="badge badge-info">Quantite fact = Quantite Chargee </span></h4>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("QuantiteFactQuantiteChargee", "Oui")
                            </span>

                            <label>
                                Oui
                            </label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("QuantiteFactQuantiteChargee", "Non")
                            </span>

                            <label>
                                Non
                            </label>

                        </div>

                    </fieldset>
                </div>





                <div class="col-md-6">
                    <fieldset>

                        <h4> <span class="badge badge-info">Facture </span></h4>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("Facturer", "Oui")
                            </span>

                            <label>
                                Oui
                            </label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("Facturer", "Non")
                            </span>

                            <label>
                                Non
                            </label>

                        </div>

                    </fieldset>
                </div>


                <div class="col-md-6">
                    <fieldset>

                        <h4> <span class="badge badge-info">EST Autoriser A Sortie</span></h4>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("AutoriserSortie", "Oui")
                            </span>

                            <label>
                                Oui
                            </label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("AutoriserSortie", "Non")
                            </span>

                            <label>
                                Non
                            </label>

                        </div>

                    </fieldset>
                </div>



            </div>

        </div>


        <div class='tab-pane container fade' id='s3'>


            <br />

            <hr />


            <div class="form-group row">


                <div class="form-group col-sm-4">
                    <label for="nomFamilleM">Poids debut</label>
                    @Html.TextBoxFor(x => x.PoidDebut, new { @class = "form-control", @autocomplete = "off", @id = "PoidDebut" })
                    @Html.ValidationMessageFor(x => x.PoidDebut)
                </div>
                <div class="form-group col-sm-4">
                    <label for="nomFamilleM">Numero pont bascule</label>
                    @Html.TextBoxFor(x => x.NumeroPontBascule, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.NumeroPontBascule)
                </div>

                <div class="form-group col-sm-4">
                    <label for="Date"> Heure chargement </label>
                    @Html.TextBoxFor(x => x.heureChargement, new { @class = "form-control ", @id = "datetimepicker3" })
                    @Html.ValidationMessageFor(x => x.heureChargement)
                </div>
                <div class="form-group col-sm-4">
                    <label for="Date"> Heure fin chargement </label>
                    @Html.TextBoxFor(x => x.heureFinChargement, new { @class = "form-control datetimepicker3" })
                    @Html.ValidationMessageFor(x => x.heureFinChargement)
                </div>

                <div class="form-group col-sm-4">
                    <label for="nomFamilleM">Poids apres chargement</label>
                    @Html.TextBoxFor(x => x.PoidsApresChargement, new { @class = "form-control", @autocomplete = "off", @id = "PoidsApresChargement" })
                    @Html.ValidationMessageFor(x => x.PoidsApresChargement)
                </div>
                <div class="form-group col-sm-4">
                    <label for="nomFamilleM">Tonnage charger</label>
                    @Html.TextBoxFor(x => x.TonnageCharger, new { @class = "form-control", @autocomplete = "off", @id = "TonnageCharger", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.TonnageCharger)
                </div>
                <div class="form-group col-sm-4">
                    <label for="nomFamilleM">Numero Facture</label>
                    @Html.TextBoxFor(x => x.NumeroFacture, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.NumeroFacture)
                </div>
                <div class="form-group col-sm-2">
                    <label for="nomFamilleM">Temps estimé en min </label>
                    @Html.TextBoxFor(x => x.TempsEstime, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.TempsEstime)
                </div>
                <div class="form-group col-sm-12">
                    <label for="nomFamilleM">Observations(Etat général)</label>
                    @Html.TextAreaFor(x => x.ObservationExploitation, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.ObservationExploitation)
                </div>



            </div>




            <br />
            <hr />
            <div class="form-group row">



                <div class="col-md-6">
                    <fieldset>

                        <h4> <span class="badge badge-info">Clapet / Vanne </span></h4>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("ClapetVanne", "Ok")
                            </span>
                            <label>
                                Ok
                            </label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("ClapetVanne", "pas Ok")
                            </span>
                            <label>
                                Pas Ok
                            </label>



                        </div>

                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>

                        <h4> <span class="badge badge-info">Calage Vehicule</span></h4>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("CalageVehicule", "Ok")
                            </span>

                            <label>
                                Ok
                            </label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("CalageVehicule", "pas Ok")
                            </span>

                            <label>
                                Pas Ok
                            </label>

                        </div>

                    </fieldset>
                </div>


                <div class="col-md-6">
                    <fieldset>

                        <h4> <span class="badge badge-info">Mise a la Terre</span></h4>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("MiseTerre", "Ok")
                            </span>

                            <label>
                                Ok
                            </label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("MiseTerre", "pas Ok")
                            </span>

                            <label>
                                Pas Ok
                            </label>

                        </div>

                    </fieldset>
                </div>




                <div class="col-md-6">
                    <fieldset>

                        <h4> <span class="badge badge-info">EST Autoriser A Etre Charger</span></h4>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("AutoriserCharger", "Oui")
                            </span>

                            <label>
                                Oui
                            </label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.RadioButton("AutoriserCharger", "Non")
                            </span>

                            <label>
                                Non
                            </label>

                        </div>

                    </fieldset>
                </div>




            </div>




        </div>
        <hr />

        @if (User.IsInRole("OperateurDCCiterne") || User.IsInRole("ServiceVracPrivee"))
        {
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary">Enregistrer</button>
            </div>


        }

    </div>
</form>
<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });

    $(function () {
        $('#datetimepicker3').datetimepicker({
            dateFormat: 'HH:mm'
        });
    });


     function getClient(type) {

        var _Code;
        if (type == 'm') _Code = $("#CodeClient").val();

        if (_Code != null) {

            var ROOT = '@Url.Content("~/")';
            var url =  ROOT + "Home/GetClient/";
            $.getJSON(url, { Code: _Code }, function (data) {

                        $("#NomClient").val(data);



            })
        }
     }


    function getDestination() {

        var _Code;
        _Code = $("#CodeDestination").val();

        if (_Code != null) {

            var ROOT = '@Url.Content("~/")';
            var url =  ROOT + "Home/GetDestination";
            $.getJSON(url, { Code: _Code }, function (data) {

                $("#libelleDestination").val(data);



            })
        }
     }




    $('form').submit(function () {
        $(this).find(':submit').attr('disabled', 'disabled');
    });



</script>


