﻿@using PagedList.Mvc

@model GUHabitat.Models.ModelListeBonChargementCiterne
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}


@if (!Model.ListeBonChargementCiterne.Any())
{
<div class="alert alert-danger">
    Pas d'instance
</div>

}
else
{
    <h4> <span class="badge badge-success">Nombre Instance :  @ViewBag.nbInstance</span></h4>
    <br /><br />

    <div>
        <form class="form-inline" action="~/BonChargementCiterne/Instance">

            <div class="magin"></div>
            <div class="form-group left ">

                @Html.TextBoxFor(x => x.filtreMotCle, new { @class = "form-control left", @autocomplete = "off", @placeholder = "Mot Clé" })&ensp;

            </div>
            <div class="form-group right ">
                <button type="submit" class="btn btn-primary right" id="buttonChercher">Chercher</button>
            </div>

        </form>
        <br />
        <div id="divAjaxContainer">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="section-colored alert-success">
                        <tr>
                            <th class="text-lg-center">Reference</th>
                            <th class="text-lg-center">Date</th>
                            <th class="text-lg-center">Type</th>
                            <th class="text-lg-center">Code</th>
                            <th class="text-lg-center">Nom</th>
                            <th class="text-lg-center">Destination</th>
                            <th class="text-lg-center">Tonnage</th>
                            <th class="text-lg-center">Etat</th>

                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListeBonChargementCiterne)
                        {
                        <tr>
                            <td class="text-lg-center">@item.Reference</td>
                            <td class="text-lg-center">@item.Date.ToShortDateString()</td>
                            <td class="text-lg-center">@item.TypeBon</td>
                            <td class="text-lg-center">@item.CodeClient</td>
                            <td class="text-lg-center">@item.NomClient</td>
                            <td class="text-lg-center">@item.libelleDestination</td>
                            <td class="text-lg-center">@item.TonnageCharger.ToString("0.000") </td>
                            <td class="text-lg-center">@item.etatString </td>

                            <td class="text-lg-center">
                                <a href="@Url.Action("Details","BonChargementCiterne", new { id = item.id})" class="btn btn-outline-info">
                                    <i class="fas fa-fw fa-info-circle"></i>
                                    Details
                                </a>

                            </td>



                        </tr>
                        }

                    </tbody>

                </table>
            </div>
            <div class="pager">
                Page @(Model.ListeBonChargementCiterne.PageCount < Model.ListeBonChargementCiterne.PageNumber ? 0 : Model.ListeBonChargementCiterne.PageNumber)
                / @Model.ListeBonChargementCiterne.PageCount   @Html.PagedListPager(Model.ListeBonChargementCiterne, page => Url.Action("Instance", new { page }))
            </div>
        </div>

    </div>

}







@*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@
