﻿@using PagedList.Mvc

@model GUHabitat.Models.ModelListeFicheVenteBouteille
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}



@if (!Model.ListeFicheVente.Any())
{
    <div class="alert alert-danger">
        Pas d'instance
    </div>

}
else
{

    <h4> <span class="badge badge-success">Nombre Instance :  @ViewBag.nbInstance</span></h4>
    <br /><br />

          <div>
              <form class="form-inline" action="~/FicheVenteBouteille/Acloturer">
                  <div class="magin"></div>
                  <div class="form-group left ">

                      @Html.TextBoxFor(x => x.filtreMotCle, new { @class = "form-control left", @type = "date" })&ensp;

                      @*@Html.TextBoxFor(x => x.filtreMotCle, new { @class = "form-control left", @autocomplete = "off", @placeholder = "Mot Clé" })&ensp;*@

                  </div>
                  <div class="form-group right ">
                      <button type="submit" class="btn btn-primary right" id="buttonChercher">Chercher</button>
                  </div>

              </form>


              <br />
              <div id="divAjaxContainer">


                  @*<input id="checkall" type="checkbox"> Tout
            <br />
            <br />*@

                  <div class="table-responsive">

                      <table class="table table-bordered table-hover">
                          <thead class="section-colored alert-success">
                              <tr>
                                  @*<th class="text-lg-center">Cocher</th>*@
                                  <th class="text-lg-center">Reference</th>
                                  <th class="text-lg-center">Date</th>
                                  <th class="text-lg-center">Type</th>
                                  <th class="text-lg-center">Concerné</th>
                                  <th class="text-lg-center">B12</th>
                                  <th class="text-lg-center">B9</th>
                                  <th class="text-lg-center">B6R</th>
                                  <th class="text-lg-center">B6V</th>
                                  <th class="text-lg-center">B3</th>
                                  <th class="text-lg-center">B35</th>
                                  <th class="text-lg-center">Etat</th>
                                  <th class="text-lg-center">Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                              @foreach (var item in Model.ListeFicheVente)
                              {
                                  <tr>
                                      @*<td class="text-lg-center"><input type="checkbox" name="chk_1" class="deleteCheckbox" pkey="@item.id" value=""></td>*@
                                      <td class="text-lg-center">@item.Reference</td>
                                      <td class="text-lg-center">@item.Date.ToShortDateString()</td>
                                      <td class="text-lg-center">@item.TypeFiche</td>
                                      @if (item.idTypeFiche == 1 || item.idTypeFiche == 3)
                                      {
                                          <td class="text-lg-center">@item.CodeClient </td>
                                      }
                                      @if (item.idTypeFiche == 2)
                                      {
                                          <td class="text-lg-center">@item.matriculeEmploye </td>
                                      }
                                      <td class="text-lg-center">@item.B12Afact</td>
                                      <td class="text-lg-center">@item.B9Afact</td>
                                      <td class="text-lg-center">@item.B6RAfact</td>
                                      <td class="text-lg-center">@item.B6VAfact</td>
                                      <td class="text-lg-center">@item.B3Afact </td>
                                      <td class="text-lg-center">@item.B35Afact </td>
                                      <td class="text-lg-center">@item.etatString </td>


                                      <td class="text-lg-center">
                                          <a href="@Url.Action("Details","FicheVenteBouteille", new { id = item.id})" class="btn btn-outline-info">
                                              <i class="fas fa-fw fa-info-circle"></i>
                                              Details
                                          </a>

                                      </td>



                                  </tr>
                              }

                          </tbody>

                      </table>

                  </div>




                  <div class="pager">
                      Page @(Model.ListeFicheVente.PageCount < Model.ListeFicheVente.PageNumber ? 0 : Model.ListeFicheVente.PageNumber)
                      / @Model.ListeFicheVente.PageCount   @Html.PagedListPager(Model.ListeFicheVente, page => Url.Action("Acloturer", new { page, filtreMotCle = Model.filtreMotCle }))
                  </div>
              </div>


              <hr />

             

              <div class="text-center">

                    @*@if (User.IsInRole("Admin"))
                    {

                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-primary" id="btnPrintSelected">Clôturer</button>
                        </div>

                    }*@


                  @if (User.IsInRole("Admin"))
                  {
                      <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#CloturerParDate">
                          <i class="fas fa-fw fa-lock"></i>
                          Clôturer
                      </a>

                  }



              </div>

            


          </div>

}


          <div class="modal fade" id="CloturerParDate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Etês vous sûre de vouloir Clôturer les enregistrement liés à cette date : @Model.filtreMotCle</h5>
                          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                          </button>
                      </div>
                      <div class="modal-footer">
                          <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>

                          <a href="@Url.Action("CloturerParDate","FicheVenteBouteille", new { date =  Model.filtreMotCle})" class="btn btn-primary">

                              Clôturer
                          </a>
                      </div>
                  </div>
              </div>
          </div>


<script>

    $(document).on('click', '#btnPrintSelected', function (event) {
        var idArray = new Array();

        $("input:checked.deleteCheckbox").each(function (i) {
            idArray[i] = $(this).attr('pkey');
        });

        var ROOT = '@Url.Content("~/")';

        $.ajax({
            type: "POST",
            url: ROOT + "/FicheVenteBouteille/Selected",
            dataType: "json",
            traditional: true,
            data: {
                ids: idArray
            }


        })

            .done(function () {
                alert("success");
            })
            .fail(function () {


                $("#frmPrint").submit();
            })
        //
        event.preventDefault();
        window.location.href = ROOT + '/FicheVenteBouteille/Index';

    });




    $("#checkall").change(function () {
        $(".deleteCheckbox").prop("checked", $(this).prop("checked"))
    })


</script>








