﻿@model GUHabitat.Models.ModelAjouterFicheVenteBouteille
@{
    ViewBag.Title = "Ajouter une Fiche";
}
<h4> <span class="badge badge-success">Type : @Model.TypeFicheString</span></h4>


@if (ViewBag.MessageAjout1 != null)
{
    <div class="alert alert-danger">
        @ViewBag.MessageAjout1

    </div>

}

@if (ViewBag.MessageAjout2 != null)
{
    <div class="alert alert-danger">
        @ViewBag.MessageAjout2

    </div>

}


@if (ViewBag.MessageAjout3 != null)
{
    <div class="alert alert-danger">
        @ViewBag.MessageAjout3

    </div>

}


<!-- Nav tabs -->
    <ul class="nav nav-tabs">
        @if ((User.IsInRole("OperateurDC") || User.IsInRole("OperateurDCPesse")) && (Model.idTypeFiche == 1 || Model.idTypeFiche == 3))
        {
            <li class='nav-item'>
                <a class='nav-link' data-toggle='tab' href='#s1' id="_s1"> Client </a>
            </li>
        }

        @if ((User.IsInRole("OperateurDC") || User.IsInRole("OperateurDCPesse")) && (Model.idTypeFiche == 2))
        {
            <li class='nav-item'>
                <a class='nav-link' data-toggle='tab' href='#s1' id="_s1"> Employé </a>
            </li>
        }

        @if (User.IsInRole("OperateurDE"))
        {

            <li class='nav-item'>
                <a class='nav-link ' data-toggle='tab' href='#s2' id="_s2">Réception d’emballage vide</a>
            </li>

        }
        @if (User.IsInRole("OperateurDE"))
        {
            <li class='nav-item'>
                <a class='nav-link ' data-toggle='tab' href='#s3' id="_s3">Expédition d’emballage plein</a>
            </li>
        }


        @if (User.IsInRole("OperateurDE"))
        {
            <li class='nav-item'>
                <a class='nav-link ' data-toggle='tab' href='#s4' id="_s4">Changement d’emballage défectueux</a>
            </li>
        }

        @if (User.IsInRole("OperateurDE"))
        {
            <li class='nav-item'>
                <a class='nav-link ' data-toggle='tab' href='#s5' id="_s5">Quantité  à facturer</a>
            </li>
        }


    </ul>
    <form action="~/FicheVenteBouteille/Ajouter" method="post" id="form" class="form-horizontal">
        @Html.HiddenFor(x => x.id)
        @Html.HiddenFor(x => x.idTypeFiche)
     
        <!-- Tab panes -->
        <div class="tab-content">
            <div class='tab-pane container fade ' id='s1'>

                <br />
                <div class="row">


                    <h4>
                        <span class="badge badge-success">Informations Génerale</span>
                    </h4>

                    <br /><br />

                          <div class="row">

                              <div class="form-group col-sm-2 ">
                                  <label for="NniM">Reference</label>
                                  @Html.TextBoxFor(x => x.Reference, new { @class = "form-control", @readonly = "true", @autocomplete = "off" })
                                  @Html.ValidationMessageFor(x => x.Reference)
                              </div>

                              <div class="form-group col-sm-2 ">
                                  <label for="Date"> Date </label>
                                  @Html.TextBoxFor(x => x.Date, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                                  @Html.ValidationMessageFor(x => x.Date)
                              </div>

                              @if ((User.IsInRole("OperateurDC") || User.IsInRole("OperateurDCPesse")) && (Model.idTypeFiche == 1 || Model.idTypeFiche == 3))
                              { 
                                  <div class="form-group col-sm-2">
                                      <label>Code Client</label>
                                      @Html.TextBoxFor(x => x.CodeClient, new { @class = " form-control", onblur = "getClient('m');", @autocomplete = "off" })
                                      @Html.ValidationMessageFor(x => x.CodeClient)
                                  </div>
                                  <div class="form-group col-sm-6">
                                      <label for="NniM">Nom Client</label>
                                      @Html.TextBoxFor(x => x.NomClient, new { @class = "form-control", @autocomplete = "off" })
                                      @Html.ValidationMessageFor(x => x.NomClient)
                                  </div>
                                  <div class="form-group col-sm-4">
                                      <label for="PrenomM">Vehicule Immatricule</label>
                                      @Html.TextBoxFor(x => x.VehiculeImmatricule, new { @class = "form-control", @autocomplete = "off" })
                                      @Html.ValidationMessageFor(x => x.VehiculeImmatricule)
                                  </div>
                                  <div class="form-group col-sm-2">
                                      <label for="PrenomM">Nbre Personnes</label>
                                      @Html.TextBoxFor(x => x.NbrePersonnes, new { @class = "form-control", @autocomplete = "off" })
                                      @Html.ValidationMessageFor(x => x.NbrePersonnes)
                                  </div>

                              }
                              @if ((User.IsInRole("OperateurDC") || User.IsInRole("OperateurDCPesse")) && (Model.idTypeFiche == 2))
                              {
                                  <div class="form-group col-sm-2">
                                      <label for="PrenomM">Matricule</label>
                                      @Html.TextBoxFor(x => x.matriculeEmploye, new { @class = "form-control", onblur = "getEmploye('m');", @autocomplete = "off" })
                                      @Html.ValidationMessageFor(x => x.matriculeEmploye)
                                  </div>
                                  <div class="form-group col-sm-6">
                                      <label for="PrenomM">Nom Employé</label>
                                      @Html.TextBoxFor(x => x.NomEmploye, new { @class = "form-control", @autocomplete = "off" })
                                      @Html.ValidationMessageFor(x => x.NomEmploye)
                                  </div>
                              }

                          </div>


                </div>

                <br />

                <div class="row">

                    @if ((User.IsInRole("OperateurDC") || User.IsInRole("OperateurDCPesse")) && (Model.idTypeFiche == 1 || Model.idTypeFiche == 3))
                    { 

                        <h4>
                            <span class="badge badge-success">Quantité vide présenté par le client</span>
                        </h4>
                    }

                    @if ((User.IsInRole("OperateurDC") || User.IsInRole("OperateurDCPesse")) && (Model.idTypeFiche == 2))
                    {

                        <h4>
                            <span class="badge badge-success">Quantité vide présenté par l'employé</span>
                        </h4>
                    }

                    <br /><br />


                    <div class="row">


                        <div class="form-group col-sm-2">
                            <label>B12</label>
                            @Html.TextBoxFor(x => x.B12Client, new { @class = "form-control", @autocomplete = "off" })
                            @Html.ValidationMessageFor(x => x.B12Client)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B9</label>
                            @Html.TextBoxFor(x => x.B9Client, new { @class = "form-control", @autocomplete = "off" })
                            @Html.ValidationMessageFor(x => x.B9Client)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6R</label>
                            @Html.TextBoxFor(x => x.B6RClient, new { @class = "form-control", @autocomplete = "off" })
                            @Html.ValidationMessageFor(x => x.B6RClient)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6V</label>
                            @Html.TextBoxFor(x => x.B6VClient, new { @class = "form-control", @autocomplete = "off" })
                            @Html.ValidationMessageFor(x => x.B6VClient)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B3</label>
                            @Html.TextBoxFor(x => x.B3Client, new { @class = "form-control", @autocomplete = "off" })
                            @Html.ValidationMessageFor(x => x.B3Client)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B35</label>
                            @Html.TextBoxFor(x => x.B35Client, new { @class = "form-control", @autocomplete = "off" })
                            @Html.ValidationMessageFor(x => x.B35Client)
                        </div>

                    </div>

                </div>

                <hr />

            </div>


            <div class='tab-pane container fade' id='s2'>

                <br />
                <div class="row">


                    <h4>
                        <span class="badge badge-success">Quantité jugée recevable</span>
                    </h4>

                    <br />

                    <div class="row">


                        <div class="form-group col-sm-2">
                            <label>B12</label>
                            @Html.TextBoxFor(x => x.B12VideRec, new { @class = "form-control", @autocomplete = "off", @id = "B12VideRec" })
                            @Html.ValidationMessageFor(x => x.B12VideRec)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B9</label>
                            @Html.TextBoxFor(x => x.B9VideRec, new { @class = "form-control", @autocomplete = "off", @id = "B9VideRec" })
                            @Html.ValidationMessageFor(x => x.B9VideRec)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6R</label>
                            @Html.TextBoxFor(x => x.B6RVideRec, new { @class = "form-control", @autocomplete = "off", @id = "B6RVideRec" })
                            @Html.ValidationMessageFor(x => x.B6RVideRec)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6V</label>
                            @Html.TextBoxFor(x => x.B6VVideRec, new { @class = "form-control", @autocomplete = "off", @id = "B6VVideRec" })
                            @Html.ValidationMessageFor(x => x.B6VVideRec)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B3</label>
                            @Html.TextBoxFor(x => x.B3VideRec, new { @class = "form-control", @autocomplete = "off", @id = "B3VideRec" })
                            @Html.ValidationMessageFor(x => x.B3VideRec)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B35</label>
                            @Html.TextBoxFor(x => x.B35VideRec, new { @class = "form-control", @autocomplete = "off", @id = "B35VideRec" })
                            @Html.ValidationMessageFor(x => x.B35VideRec)
                        </div>

                    </div>

                    <br /><br />



                    <h4>
                        <span class="badge badge-success">Quantité jugée défectueuse</span>
                    </h4>

                    <br />

                    <div class="row">


                        <div class="form-group col-sm-2">
                            <label>B12</label>
                            @Html.TextBoxFor(x => x.B12VideDef, new { @class = "form-control", @autocomplete = "off", @id = "B12VideDef" })
                            @Html.ValidationMessageFor(x => x.B12VideDef)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B9</label>
                            @Html.TextBoxFor(x => x.B9VideDef, new { @class = "form-control", @autocomplete = "off", @id = "B9VideDef" })
                            @Html.ValidationMessageFor(x => x.B9VideDef)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6R</label>
                            @Html.TextBoxFor(x => x.B6RVideDef, new { @class = "form-control", @autocomplete = "off", @id = "B6RVideDef" })
                            @Html.ValidationMessageFor(x => x.B6RVideDef)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6V</label>
                            @Html.TextBoxFor(x => x.B6VVideDef, new { @class = "form-control", @autocomplete = "off", @id = "B6VVideDef" })
                            @Html.ValidationMessageFor(x => x.B6VVideDef)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B3</label>
                            @Html.TextBoxFor(x => x.B3VideDef, new { @class = "form-control", @autocomplete = "off", @id = "B3VideDef" })
                            @Html.ValidationMessageFor(x => x.B3VideDef)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B35</label>
                            @Html.TextBoxFor(x => x.B35VideDef, new { @class = "form-control", @autocomplete = "off", @id = "B35VideDef" })
                            @Html.ValidationMessageFor(x => x.B35VideDef)
                        </div>




                    </div>




                </div>





                <hr />

            </div>

            <div class='tab-pane container fade' id='s3'>


                <br />


                <div class="row">

                    <h4>
                        <span class="badge badge-success">Quantité remplie</span>
                    </h4>


                    <div class="row">

                        <div class="form-group col-sm-2">
                            <label>B12</label>
                            @Html.TextBoxFor(x => x.B12PleinRemp, new { @class = "form-control", @autocomplete = "off", @id = "B12PleinRemp" })
                            @Html.ValidationMessageFor(x => x.B12PleinRemp)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B9</label>
                            @Html.TextBoxFor(x => x.B9PleinRemp, new { @class = "form-control", @autocomplete = "off", @id = "B9PleinRemp" })
                            @Html.ValidationMessageFor(x => x.B9PleinRemp)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6R</label>
                            @Html.TextBoxFor(x => x.B6RPleinRemp, new { @class = "form-control", @autocomplete = "off", @id = "B6RPleinRemp" })
                            @Html.ValidationMessageFor(x => x.B6RPleinRemp)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6V</label>
                            @Html.TextBoxFor(x => x.B6VPleinRemp, new { @class = "form-control", @autocomplete = "off", @id = "B6VPleinRemp" })
                            @Html.ValidationMessageFor(x => x.B6VPleinRemp)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B3</label>
                            @Html.TextBoxFor(x => x.B3PleinRemp, new { @class = "form-control", @autocomplete = "off", @id = "B3PleinRemp" })
                            @Html.ValidationMessageFor(x => x.B3PleinRemp)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B35</label>
                            @Html.TextBoxFor(x => x.B35PleinRemp, new { @class = "form-control", @autocomplete = "off", @id = "B35PleinRemp" })
                            @Html.ValidationMessageFor(x => x.B35PleinRemp)
                        </div>

                    </div>

                    <br />

                    <h4>
                        <span class="badge badge-success">Quantité jugée défectueuse (sur chaîne)</span>
                    </h4>

                    <div class="row">

                        <div class="form-group col-sm-2">
                            <label>B12</label>
                            @Html.TextBoxFor(x => x.B12PleinDef, new { @class = "form-control", @autocomplete = "off", @id = "B12PleinDef" })
                            @Html.ValidationMessageFor(x => x.B12PleinDef)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B9</label>
                            @Html.TextBoxFor(x => x.B9PleinDef, new { @class = "form-control", @autocomplete = "off", @id = "B9PleinDef" })
                            @Html.ValidationMessageFor(x => x.B9PleinDef)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6R</label>
                            @Html.TextBoxFor(x => x.B6RPleinDef, new { @class = "form-control", @autocomplete = "off", @id = "B6RPleinDef" })
                            @Html.ValidationMessageFor(x => x.B6RPleinDef)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6V</label>
                            @Html.TextBoxFor(x => x.B6VPleinDef, new { @class = "form-control", @autocomplete = "off", @id = "B6VPleinDef" })
                            @Html.ValidationMessageFor(x => x.B6VPleinDef)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B3</label>
                            @Html.TextBoxFor(x => x.B3PleinDef, new { @class = "form-control", @autocomplete = "off", @id = "B3PleinDef" })
                            @Html.ValidationMessageFor(x => x.B3PleinDef)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B35</label>
                            @Html.TextBoxFor(x => x.B35PleinDef, new { @class = "form-control", @autocomplete = "off", @id = "B35PleinDef" })
                            @Html.ValidationMessageFor(x => x.B35PleinDef)
                        </div>



                    </div>

                </div>

                <hr />

            </div>



            <div class='tab-pane container fade' id='s4'>

                <br />
                <div class="row">
                    <h4>
                        <span class="badge badge-success">Quantité à remplacer</span>
                    </h4>
                    <br />

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>B12</label>
                            @Html.TextBoxFor(x => x.B12DefAremp, new { @class = "form-control", @autocomplete = "off", @readonly = "true", @id = "B12DefAremp" })
                            @Html.ValidationMessageFor(x => x.B12DefAremp)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B9</label>
                            @Html.TextBoxFor(x => x.B9DefAremp, new { @class = "form-control", @autocomplete = "off", @readonly = "true", @id = "B9DefAremp" })
                            @Html.ValidationMessageFor(x => x.B9DefAremp)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6R</label>
                            @Html.TextBoxFor(x => x.B6RDefAremp, new { @class = "form-control", @autocomplete = "off", @readonly = "true", @id = "B6RDefAremp" })
                            @Html.ValidationMessageFor(x => x.B6RDefAremp)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6V</label>
                            @Html.TextBoxFor(x => x.B6VDefAremp, new { @class = "form-control", @autocomplete = "off", @readonly = "true", @id = "B6VDefAremp" })
                            @Html.ValidationMessageFor(x => x.B6VDefAremp)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B3</label>
                            @Html.TextBoxFor(x => x.B3DefAremp, new { @class = "form-control", @autocomplete = "off", @readonly = "true", @id = "B3DefAremp" })
                            @Html.ValidationMessageFor(x => x.B3DefAremp)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B35</label>
                            @Html.TextBoxFor(x => x.B35DefAremp, new { @class = "form-control", @autocomplete = "off", @readonly = "true", @id = "B35DefAremp" })
                            @Html.ValidationMessageFor(x => x.B35DefAremp)
                        </div>

                    </div>

                    <br /><br />

                    <h4>
                        <span class="badge badge-success">Quantité remplacée</span>
                    </h4>

                    <br />

                    <div class="row">

                        <div class="form-group col-sm-2">
                            <label>B12</label>
                            @Html.TextBoxFor(x => x.B12DefRemp, new { @class = "form-control", @autocomplete = "off", @id = "B12DefRemp" })
                            @Html.ValidationMessageFor(x => x.B12DefRemp)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B9</label>
                            @Html.TextBoxFor(x => x.B9DefRemp, new { @class = "form-control", @autocomplete = "off", @id = "B9DefRemp" })
                            @Html.ValidationMessageFor(x => x.B9DefRemp)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6R</label>
                            @Html.TextBoxFor(x => x.B6RDefRemp, new { @class = "form-control", @autocomplete = "off", @id = "B6RDefRemp" })
                            @Html.ValidationMessageFor(x => x.B6RDefRemp)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6V</label>
                            @Html.TextBoxFor(x => x.B6VDefRemp, new { @class = "form-control", @autocomplete = "off", @id = "B6VDefRemp" })
                            @Html.ValidationMessageFor(x => x.B6VDefRemp)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B3</label>
                            @Html.TextBoxFor(x => x.B3DefRemp, new { @class = "form-control", @autocomplete = "off", @id = "B3DefRemp" })
                            @Html.ValidationMessageFor(x => x.B3DefRemp)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B35</label>
                            @Html.TextBoxFor(x => x.B35DefRemp, new { @class = "form-control", @autocomplete = "off", @id = "B35DefRemp" })
                            @Html.ValidationMessageFor(x => x.B35DefRemp)
                        </div>

                    </div>

                </div>

                <hr />

            </div>



            <div class='tab-pane container fade' id='s5'>

                <br />
                <h4>
                    <span class="badge badge-success">Quantité à facturer</span>
                </h4>
                <br />

                <div class="row">

                    <div class="form-group col-sm-2">
                        <label>B12</label>
                        @Html.TextBoxFor(x => x.B12Afact, new { @class = "form-control", @autocomplete = "off", @id = "B12Afact", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B12Afact)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B9</label>
                        @Html.TextBoxFor(x => x.B9Afact, new { @class = "form-control", @autocomplete = "off", @id = "B9Afact", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B9Afact)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B6R</label>
                        @Html.TextBoxFor(x => x.B6RAfact, new { @class = "form-control", @autocomplete = "off", @id = "B6RAfact", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B6RAfact)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B6V</label>
                        @Html.TextBoxFor(x => x.B6VAfact, new { @class = "form-control", @autocomplete = "off", @id = "B6VAfact", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B6VAfact)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B3</label>
                        @Html.TextBoxFor(x => x.B3Afact, new { @class = "form-control", @autocomplete = "off", @id = "B3Afact", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B3Afact)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B35</label>
                        @Html.TextBoxFor(x => x.B35Afact, new { @class = "form-control", @autocomplete = "off", @id = "B35Afact", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B35Afact)
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="nomFamilleM">Commentaires</label>
                        @Html.TextAreaFor(x => x.Commentaire, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.Commentaire)
                    </div>



                </div>

                <hr />

            </div>


            <br /><br />

            @if (User.IsInRole("OperateurDC") || User.IsInRole("OperateurDCPesse"))
            {
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-primary ">Enregistrer</button>
                </div>

            }


        </div>
    </form>
<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });

    $(function () {
        $('#datetimepicker3').datetimepicker({
            dateFormat: 'HH:mm'
        });
    });


     function getClient(type) {

        var _Code;
        if (type == 'm') _Code = $("#CodeClient").val();

        if (_Code != null) {

            var ROOT = '@Url.Content("~/")';
            var url =  ROOT + "Home/GetClient/";
            $.getJSON(url, { Code: _Code }, function (data) {

                        $("#NomClient").val(data);



            })
        }
     }



    function getEmploye(type) {
       
        var _matricule;
        if (type == 'm') _matricule = $("#matriculeEmploye").val();
        
        if (_matricule != null) {

            var ROOT = '@Url.Content("~/")';
            var url = ROOT + "Home/GetEmploye/";
            $.getJSON(url, { matricule: _matricule }, function (data) {

                $("#NomEmploye").val(data);



            })
        }
     }



    function getDestination() {

        var _Code;
        _Code = $("#CodeDestination").val();

        if (_Code != null) {

            var ROOT = '@Url.Content("~/")';
            var url =  ROOT + "Home/GetDestination";
            $.getJSON(url, { Code: _Code }, function (data) {

                $("#libelleDestination").val(data);



            })
        }
     }


    $('form').submit(function () {
        $(this).find(':submit').attr('disabled', 'disabled');
    });


   


</script>



