﻿@model GUHabitat.Models.ModelAjouterFicheVenteBouteille
@{
    ViewBag.Title = "Details Fiche ";
}


<p>
    @if ((User.IsInRole("OperateurDC") || User.IsInRole("OperateurDCPesse") || User.IsInRole("OperateurDE") || User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDE") || User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC")) && (Model.idTypeFiche == 1 || Model.idTypeFiche == 3))
    {

        <a href="@Url.Action("ImprimerA5", "FicheVenteBouteille", new { id = Model.id })" class="btn btn-outline-dark">
            <i class="fas fa-fw fa-print"></i>
            Imprimer
        </a>
        <a href="@Url.Action("Imprimer", "FicheVenteBouteille", new { id = Model.id })" class="btn btn-outline-dark">
            <i class="fas fa-fw fa-print"></i>
            Imprimer Details
        </a>
    }

    @if ((User.IsInRole("OperateurDC") || User.IsInRole("OperateurDCPesse") || User.IsInRole("OperateurDE") || User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDE") || User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC")) && (Model.idTypeFiche == 2))
    {

        <a href="@Url.Action("ImprimerDotationA5", "FicheVenteBouteille", new { id = Model.id })" class="btn btn-outline-dark">
            <i class="fas fa-fw fa-print"></i>
            Imprimer
        </a>
        <a href="@Url.Action("ImprimerDotation", "FicheVenteBouteille", new { id = Model.id })" class="btn btn-outline-dark">
            <i class="fas fa-fw fa-print"></i>
            Imprimer Details
        </a>
    }

    @if ((User.IsInRole("OperateurDC") || User.IsInRole("OperateurDCPesse") || User.IsInRole("OperateurDE")) && (Model.etat != 3 && Model.etat != 4))
    {
        <a href="@Url.Action("Modifier", "FicheVenteBouteille", new { id = Model.id })" class="btn btn-outline-primary">
            <i class="fas fa-fw fa-edit"></i>
            Modifier
        </a>
    }


    @if ((User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE")) && (Model.etat == 3))
    {

        <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#InstanceFicheBouteille">
            <i class="fas fa-fw fa-arrow-alt-circle-left"></i>
            En Instance
        </a>
    }


    @if ((User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE")) && (Model.etat != 3 && Model.etat != 4))
    {

        <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#ValiderFicheBouteille">
            <i class="fas fa-fw fa-check"></i>
            Valider
        </a>
    }


</p>

<h4> <span class="badge badge-success">Type : @Model.TypeFiche</span></h4>

<!-- Nav tabs -->
<ul class="nav nav-tabs">

    @if (Model.idTypeFiche == 1 || Model.idTypeFiche == 3)
    {
        <li class='nav-item'>
            <a class='nav-link' data-toggle='tab' href='#s1' id="_s1"> Client </a>
        </li>
    }

    @if (Model.idTypeFiche == 2)
    {
        <li class='nav-item'>
            <a class='nav-link' data-toggle='tab' href='#s1' id="_s1"> Employé </a>
        </li>
    }

    <li class='nav-item'>
        <a class='nav-link ' data-toggle='tab' href='#s2' id="_s2">Réception d’emballage vide</a>
    </li>

    <li class='nav-item'>
        <a class='nav-link ' data-toggle='tab' href='#s3' id="_s3">Expédition d’emballage plein</a>
    </li>

    <li class='nav-item'>
        <a class='nav-link ' data-toggle='tab' href='#s4' id="_s4">Changement d’emballage défectueux</a>
    </li>

    <li class='nav-item'>
        <a class='nav-link ' data-toggle='tab' href='#s5' id="_s5">Quantité  à facturer</a>
    </li>

</ul>




<form action="~/FicheVenteBouteille/Details" method="post" class="form-horizontal">
    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.idTypeFiche)
    <!-- Tab panes -->
    <div class="tab-content">
        <div class='tab-pane container fade ' id='s1'>

            <br />
            <div class="row">

                <h4>
                    <span class="badge badge-success">Informations Génerale</span>
                </h4>

                <br /><br />


                      <div class="row">

                          <div class="form-group col-sm-2 ">
                              <label for="NniM">Reference</label>
                              @Html.TextBoxFor(x => x.Reference, new { @class = "form-control", @readonly = "true", @autocomplete = "off" })
                              @Html.ValidationMessageFor(x => x.Reference)
                          </div>

                          <div class="form-group col-sm-2 ">
                              <label for="Date"> Date </label>
                              @Html.TextBoxFor(x => x.Date, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @readonly = "true" })
                              @Html.ValidationMessageFor(x => x.Date)
                          </div>

                          @if (Model.idTypeFiche == 1 || Model.idTypeFiche == 3)
                          {
                              <div class="form-group col-sm-2">
                                  <label>Code Client</label>
                                  @Html.TextBoxFor(x => x.CodeClient, new { @class = " form-control", onblur = "getClient('m');", @autocomplete = "off", @readonly = "true" })
                                  @Html.ValidationMessageFor(x => x.CodeClient)
                              </div>
                              <div class="form-group col-sm-6">
                                  <label for="NniM">Nom Client</label>
                                  @Html.TextBoxFor(x => x.NomClient, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                                  @Html.ValidationMessageFor(x => x.NomClient)
                              </div>
                              <div class="form-group col-sm-4">
                                  <label for="PrenomM">Vehicule Immatricule</label>
                                  @Html.TextBoxFor(x => x.VehiculeImmatricule, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                                  @Html.ValidationMessageFor(x => x.VehiculeImmatricule)
                              </div>

                              <div class="form-group col-sm-2">
                                  <label for="PrenomM">Nbre Personnes</label>
                                  @Html.TextBoxFor(x => x.NbrePersonnes, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                                  @Html.ValidationMessageFor(x => x.NbrePersonnes)
                              </div>
                          }
                          @if (Model.idTypeFiche == 2)
                          {
                              <div class="form-group col-sm-2">
                                  <label for="PrenomM">Matricule</label>
                                  @Html.TextBoxFor(x => x.matriculeEmploye, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                                  @Html.ValidationMessageFor(x => x.matriculeEmploye)
                              </div>
                              <div class="form-group col-sm-6">
                                  <label for="PrenomM">Nom Employé</label>
                                  @Html.TextBoxFor(x => x.NomEmploye, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                                  @Html.ValidationMessageFor(x => x.NomEmploye)
                              </div>
                          }
                      </div>



            </div>

            <br />


            <div class="row">
                @if (Model.idTypeFiche == 1 || Model.idTypeFiche == 3)
                {

                    <h4>
                        <span class="badge badge-success">Quantité vide présenté par le client</span>
                    </h4>
                }

                @if (Model.idTypeFiche == 2)
                {

                    <h4>
                        <span class="badge badge-success">Quantité vide présenté par l'employé</span>
                    </h4>
                }
                <br />

                <div class="row">


                    <div class="form-group col-sm-2">
                        <label>B12</label>
                        @Html.TextBoxFor(x => x.B12Client, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B12Client)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B9</label>
                        @Html.TextBoxFor(x => x.B9Client, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B9Client)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B6R</label>
                        @Html.TextBoxFor(x => x.B6RClient, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B6RClient)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B6V</label>
                        @Html.TextBoxFor(x => x.B6VClient, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B6VClient)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B3</label>
                        @Html.TextBoxFor(x => x.B3Client, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B3Client)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B35</label>
                        @Html.TextBoxFor(x => x.B35Client, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B35Client)
                    </div>

                </div>

            </div>



        </div>


        <div class='tab-pane container fade' id='s2'>

            <br />
            <div class="row">


                <h4>
                    <span class="badge badge-success">Quantité jugée recevable</span>
                </h4>

                <br />

                <div class="row">


                    <div class="form-group col-sm-2">
                        <label>B12</label>
                        @Html.TextBoxFor(x => x.B12VideRec, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B12VideRec)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B9</label>
                        @Html.TextBoxFor(x => x.B9VideRec, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B9VideRec)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B6R</label>
                        @Html.TextBoxFor(x => x.B6RVideRec, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B6RVideRec)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B6V</label>
                        @Html.TextBoxFor(x => x.B6VVideRec, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B6VVideRec)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B3</label>
                        @Html.TextBoxFor(x => x.B3VideRec, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B3VideRec)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B35</label>
                        @Html.TextBoxFor(x => x.B35VideRec, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B35VideRec)
                    </div>

                </div>

                <br /><br />



                <h4>
                    <span class="badge badge-success">Quantité jugée défectueuse</span>
                </h4>

                <br />

                <div class="row">


                    <div class="form-group col-sm-2">
                        <label>B12</label>
                        @Html.TextBoxFor(x => x.B12VideDef, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B12VideDef)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B9</label>
                        @Html.TextBoxFor(x => x.B9VideDef, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B9VideDef)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B6R</label>
                        @Html.TextBoxFor(x => x.B6RVideDef, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B6RVideDef)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B6V</label>
                        @Html.TextBoxFor(x => x.B6VVideDef, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B6VVideDef)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B3</label>
                        @Html.TextBoxFor(x => x.B3VideDef, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B3VideDef)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B35</label>
                        @Html.TextBoxFor(x => x.B35VideDef, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B35VideDef)
                    </div>




                </div>




            </div>





            <hr />

        </div>

        <div class='tab-pane container fade' id='s3'>


            <br />


            <div class="row">

                <h4>
                    <span class="badge badge-success">Quantité remplie</span>
                </h4>


                <div class="row">

                    <div class="form-group col-sm-2">
                        <label>B12</label>
                        @Html.TextBoxFor(x => x.B12PleinRemp, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B12PleinRemp)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B9</label>
                        @Html.TextBoxFor(x => x.B9PleinRemp, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B9PleinRemp)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B6R</label>
                        @Html.TextBoxFor(x => x.B6RPleinRemp, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B6RPleinRemp)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B6V</label>
                        @Html.TextBoxFor(x => x.B6VPleinRemp, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B6VPleinRemp)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B3</label>
                        @Html.TextBoxFor(x => x.B3PleinRemp, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B3PleinRemp)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B35</label>
                        @Html.TextBoxFor(x => x.B35PleinRemp, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B35PleinRemp)
                    </div>

                </div>

                <br />

                <h4>
                    <span class="badge badge-success">Quantité jugée défectueuse (sur chaîne)</span>
                </h4>

                <div class="row">

                    <div class="form-group col-sm-2">
                        <label>B12</label>
                        @Html.TextBoxFor(x => x.B12PleinDef, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B12PleinDef)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B9</label>
                        @Html.TextBoxFor(x => x.B9PleinDef, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B9PleinDef)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B6R</label>
                        @Html.TextBoxFor(x => x.B6RPleinDef, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B6RPleinDef)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B6V</label>
                        @Html.TextBoxFor(x => x.B6VPleinDef, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B6VPleinDef)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B3</label>
                        @Html.TextBoxFor(x => x.B3PleinDef, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B3PleinDef)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B35</label>
                        @Html.TextBoxFor(x => x.B35PleinDef, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B35PleinDef)
                    </div>



                </div>

            </div>

            <hr />

        </div>



        <div class='tab-pane container fade' id='s4'>

            <br />
            <div class="row">
                <h4>
                    <span class="badge badge-success">Quantité à remplacer</span>
                </h4>
                <br />

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>B12</label>
                        @Html.TextBoxFor(x => x.B12DefAremp, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B12DefAremp)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B9</label>
                        @Html.TextBoxFor(x => x.B9DefAremp, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B9DefAremp)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B6R</label>
                        @Html.TextBoxFor(x => x.B6RDefAremp, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B6RDefAremp)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B6V</label>
                        @Html.TextBoxFor(x => x.B6VDefAremp, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B6VDefAremp)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B3</label>
                        @Html.TextBoxFor(x => x.B3DefAremp, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B3DefAremp)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B35</label>
                        @Html.TextBoxFor(x => x.B35DefAremp, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B35DefAremp)
                    </div>

                </div>

                <br /><br />

                <h4>
                    <span class="badge badge-success">Quantité remplacée</span>
                </h4>

                <br />

                <div class="row">

                    <div class="form-group col-sm-2">
                        <label>B12</label>
                        @Html.TextBoxFor(x => x.B12DefRemp, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B12DefRemp)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B9</label>
                        @Html.TextBoxFor(x => x.B9DefRemp, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B9DefRemp)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B6R</label>
                        @Html.TextBoxFor(x => x.B6RDefRemp, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B6RDefRemp)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B6V</label>
                        @Html.TextBoxFor(x => x.B6VDefRemp, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B6VDefRemp)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B3</label>
                        @Html.TextBoxFor(x => x.B3DefRemp, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B3DefRemp)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B35</label>
                        @Html.TextBoxFor(x => x.B35DefRemp, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.B35DefRemp)
                    </div>

                </div>

            </div>

            <hr />

        </div>



        <div class='tab-pane container fade' id='s5'>

            <br />
            <h4>
                <span class="badge badge-success">Quantité à facturer</span>
            </h4>
            <br />

            <div class="row">

                <div class="form-group col-sm-2">
                    <label>B12</label>
                    @Html.TextBoxFor(x => x.B12Afact, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.B12Afact)
                </div>
                <div class="form-group col-sm-2">
                    <label>B9</label>
                    @Html.TextBoxFor(x => x.B9Afact, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.B9Afact)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6R</label>
                    @Html.TextBoxFor(x => x.B6RAfact, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.B6RAfact)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6V</label>
                    @Html.TextBoxFor(x => x.B6VAfact, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.B6VAfact)
                </div>
                <div class="form-group col-sm-2">
                    <label>B3</label>
                    @Html.TextBoxFor(x => x.B3Afact, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.B3Afact)
                </div>
                <div class="form-group col-sm-2">
                    <label>B35</label>
                    @Html.TextBoxFor(x => x.B35Afact, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.B35Afact)
                </div>

                <div class="form-group col-sm-12">
                    <label for="nomFamilleM">Commentaires</label>
                    @Html.TextAreaFor(x => x.Commentaire, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.Commentaire)
                </div>


            </div>

            <hr />

        </div>


        <br /><br />

    </div>
</form>
<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });

    $(function () {
        $('#datetimepicker3').datetimepicker({
            dateFormat: 'HH:mm'
        });
    });


     function getClient(type) {

        var _Code;
        if (type == 'm') _Code = $("#CodeClient").val();

        if (_Code != null) {

            var ROOT = '@Url.Content("~/")';
            var url =  ROOT + "Home/GetClient/";
            $.getJSON(url, { Code: _Code }, function (data) {

                        $("#NomClient").val(data);



            })
        }
     }


    function getDestination() {

        var _Code;
        _Code = $("#CodeDestination").val();

        if (_Code != null) {

            var ROOT = '@Url.Content("~/")';
            var url =  ROOT + "Home/GetDestination";
            $.getJSON(url, { Code: _Code }, function (data) {

                $("#libelleDestination").val(data);



            })
        }
     }


</script>




<!-- Instance Modal-->
<div class="modal fade" id="InstanceFicheBouteille" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Etês vous sûre de vouloir mettre En Instance cette Fiche ?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>

                <a href="@Url.Action("EnInstance","FicheVenteBouteille", new { id = Model.id})" class="btn btn-primary">
                    @*<i class="fas fa-fw fa-info-circle"></i>*@
                    Valider
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Valider Modal-->
<div class="modal fade" id="ValiderFicheBouteille" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Etês vous sûre de vouloir valider cette Fiche ?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>

                <a href="@Url.Action("Valider","FicheVenteBouteille", new { id = Model.id})" class="btn btn-primary">
                    @*<i class="fas fa-fw fa-info-circle"></i>*@
                    Valider
                </a>
            </div>
        </div>
    </div>
</div>