﻿@using PagedList.Mvc
@{
    ViewBag.Title = "Liste Fiche ";
}
@model GUHabitat.Models.ModelListeFicheVenteBouteille
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}
<br />
<br />
<div>
    <form class="form-inline" action="~/FicheVenteBouteille/Index">
        <div class="row">

            <div class="magin"></div>
            <div class="form-group left ">

                @Html.TextBoxFor(x => x.filtreMotCle, new { @class = "form-control left", @autocomplete = "off", @placeholder = "Mot Clé" })&ensp;

            </div>
            <div class="form-group right ">
                <button type="submit" class="btn btn-primary right" id="buttonChercher">Chercher</button>
            </div>
        </div>
    </form>
    <br />
    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Reference</th>
                        <th class="text-lg-center">Date</th>
                        <th class="text-lg-center">Type</th>
                        <th class="text-lg-center">Concerné</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B9</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B3</th>
                        <th class="text-lg-center">B35</th>
                        <th class="text-lg-center">Etat</th>
                        <th class="text-lg-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListeFicheVente)
                    {
                    <tr>
                        <td class="text-lg-center">@item.Reference</td>
                        <td class="text-lg-center">@item.Date.ToShortDateString()</td>
                        <td class="text-lg-center">@item.TypeFiche</td>
                        @if (item.idTypeFiche == 1 || item.idTypeFiche == 3)
                        {
                            <td class="text-lg-center">@item.CodeClient </td>
                        }
                        @if (item.idTypeFiche == 2)
                        {
                            <td class="text-lg-center">@item.matriculeEmploye </td>
                        }
                        <td class="text-lg-center">@item.B12Afact</td>
                        <td class="text-lg-center">@item.B9Afact</td>
                        <td class="text-lg-center">@item.B6RAfact</td>
                        <td class="text-lg-center">@item.B6VAfact</td>
                        <td class="text-lg-center">@item.B3Afact </td>
                        <td class="text-lg-center">@item.B35Afact </td>
                        <td class="text-lg-center">@item.etatString </td>


                        <td class="text-lg-center">
                            <a href="@Url.Action("Details","FicheVenteBouteille", new { id = item.id})" class="btn btn-outline-info">
                                <i class="fas fa-fw fa-info-circle"></i>
                                Details
                            </a>

                        </td>



                    </tr>
                    }

                </tbody>

            </table>

        </div>
        <div class="pager">
            Page @(Model.ListeFicheVente.PageCount < Model.ListeFicheVente.PageNumber ? 0 : Model.ListeFicheVente.PageNumber)
            / @Model.ListeFicheVente.PageCount   @Html.PagedListPager(Model.ListeFicheVente, page => Url.Action("Index", new { page, filtreMotCle = Model.filtreMotCle }))
        </div>
    </div>

</div>





@*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@
