﻿@using PagedList.Mvc
@{
    ViewBag.Title = "";
}
@model GUHabitat.Models.ModelListeFicheVenteBouteille
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}
<br />
<br />

<h4> <span class="badge badge-success">Total Personnes :  @ViewBag.totalPersonnes</span></h4>
<br /><br />

<div>
    <form class="form-inline" action="~/FicheVenteBouteille/NbrePresonnes">
        <div class="row">

            <div class="magin"></div>
            <div class="form-group left ">

                @Html.TextBoxFor(x => x.filtreMotCle, new { @class = "form-control left", @type = "date" })&ensp;

            </div>
            <div class="form-group right ">
                <button type="submit" class="btn btn-primary right" id="buttonChercher">Chercher</button>
            </div>
        </div>
    </form>
    <br />
    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Reference</th>
                        <th class="text-lg-center">Date</th>
                        <th class="text-lg-center">Type</th>
                        <th class="text-lg-center">Code</th>
                        <th class="text-lg-center">Nom</th>
                        <th class="text-lg-center">Immatricule Vehicule</th>
                        <th class="text-lg-center">Nbre Personnes</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListeFicheVente)
                    {
                        <tr>
                            <td class="text-lg-center">@item.Reference</td>
                            <td class="text-lg-center">@item.Date.ToShortDateString()</td>
                            <td class="text-lg-center">@item.TypeFiche</td>
                            <td class="text-lg-center">@item.CodeClient</td>
                            <td class="text-lg-center">@item.NomClient</td>
                            <td class="text-lg-center">@item.VehiculeImmatricule</td>
                            <td class="text-lg-center">@item.NbrePersonnes</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
        <div class="pager">
            Page @(Model.ListeFicheVente.PageCount < Model.ListeFicheVente.PageNumber ? 0 : Model.ListeFicheVente.PageNumber)
            / @Model.ListeFicheVente.PageCount   @Html.PagedListPager(Model.ListeFicheVente, page => Url.Action("NbrePresonnes", new { page, filtreMotCle = Model.filtreMotCle }))
        </div>
    </div>

</div>





@*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@
