﻿@{
    ViewBag.Title = "Situation Interieur";
}

@model  IEnumerable<GUHabitat.Models.ModelStatistiqueInterieur>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}

<br />
<br />

<form class="form-inline" action="~/StatistiquesCentres/SituationInterieurParCentre" method="post">

    <div class="row">

        <div class="magin"></div>
        <div class="form-group left ">

            @*<div class="form-group text-lg-center ">
                @Html.DropDownList("Code", ViewBag.ListeCentre as SelectList,"Choix centre", new { @class = "form-control",ViewBag.Code})

            </div>*@

            <div class="form-group text-lg-center ">
                <input type="text" name="CodeCentre" value="@ViewBag.CodeCentre" class="search-text form-control  " placeholder="code centre" autocomplete="off" />
            </div>
            <div class="magin"></div>
            <div class="form-group ">
                <input type="date" name="dateDebut" value="@ViewBag.dateDebut" class="search-text form-control  " placeholder="Date" autocomplete="off" />
            </div>
        </div>
        <div class="form-group  right">

            <div class="form-group ">
                <input type="date" name="dateFin" value="@ViewBag.dateFin" class="search-text form-control  " placeholder="Date" autocomplete="off" />
            </div>
            <div class="magin"></div>

            <button type="submit" class="btn btn-primary " id="buttonChercher">Chercher</button>
        </div>

        <div class="magin"></div>
        <div class="ml-auto">

            <a href="@Url.Action("CentreSomagaz", "Statistiques")" class="btn btn-info">

                Code Centre
            </a>
        </div>
    </div>

</form>


<br />
<br />

@if (User.IsInRole("Admin")  || User.IsInRole("DG") || User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDE") || User.IsInRole("DirecteurDIC"))
{
    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Date Debut</th>
                        <th class="text-lg-center">Date Fin</th>
                        <th class="text-lg-center">Centre</th>
                        @if (User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDIC"))
                        {
                            <th class="text-center"></th>
                        }



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                    <tr>


                        <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                        <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>

                        <td class="text-lg-center">@item.LibelleCentre</td>
                        @if (User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDIC"))
                        {
                            <td class="text-lg-center">
                                <a href="@Url.Action("ImprimerCentre","StatistiquesCentres", new { CodeCentre = ViewBag.CodeCentre ,dateDebut = item.dateDebut,dateFin = item.dateFin})" class="btn btn-outline-dark">
                                    <i class="fas fa-fw fa-print"></i>
                                    Imprimer
                                </a>

                            </td>


                        }


                    </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}
<br />




@if (User.IsInRole("Admin")  || User.IsInRole("DG") || User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDE") || User.IsInRole("DirecteurDIC"))
{
    <h3>
        <span class="badge badge-success">Stock</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>

                        <th class="text-lg-center">Stock Début</th>
                        <th class="text-lg-center">Stock Théorie</th>
                        <th class="text-lg-center">Stock Fin</th>
                        <th class="text-lg-center">Reception</th>
                        <th class="text-lg-center">Retour</th>
                        <th class="text-lg-center">Gain / Perte</th>
                        <th class="text-lg-center">Stock Théorie Actuel</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                    <tr>


                        <td class="section-colored alert-warning text-lg-center"><span style="font-weight:bold">@item.Stock.ToString("0.000")</span></td>
                        <td class="section-colored alert-warning text-lg-center"><span style="font-weight:bold">@item.StockTheorie.ToString("0.000")</span></td>
                        <td class="section-colored alert-warning text-lg-center"><span style="font-weight:bold">@item.StockFin.ToString("0.000")</span></td>
                        <td class="section-colored alert-warning text-lg-center"><span style="font-weight:bold">@item.Reception.ToString("0.000")</span></td>
                        <td class="section-colored alert-warning text-lg-center"><span style="font-weight:bold">@item.Retour.ToString("0.000")</span></td>
                        <td class="section-colored alert-warning text-lg-center"><span style="font-weight:bold">@item.GainPerte.ToString("0.000")</span></td>
                        <td class="section-colored alert-warning text-lg-center"><span style="font-weight:bold">@item.StockActuel.ToString("0.000")</span></td>


                    </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}
<br />




@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
{
    <h3>
        <span class="badge badge-success">Production</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>

                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>

                        <th class="text-lg-center">Total(TM)</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td class="text-lg-center">@item.B12Production</td>
                            <td class="text-lg-center">@item.B9Production</td>
                            <td class="text-lg-center">@item.B6RProduction</td>
                            <td class="text-lg-center">@item.B6VProduction</td>
                            <td class="text-lg-center">@item.B3Production </td>
                            <td class="text-lg-center">@item.B35Production</td>

                            <td class="section-colored alert-danger text-xl-center "><span style="font-weight:bold">@item.TotalProduction.ToString("0.000")</span> </td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

}



@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
{
    <h3>
        <span class="badge badge-success">Facturation</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>

                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>

                        <th class="text-lg-center">Total(TM)</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td class="text-lg-center">@item.B12Afact</td>
                            <td class="text-lg-center">@item.B9Afact</td>
                            <td class="text-lg-center">@item.B6RAfact</td>
                            <td class="text-lg-center">@item.B6VAfact</td>
                            <td class="text-lg-center">@item.B3Afact </td>
                            <td class="text-lg-center">@item.B35Afact</td>
                            <td class="section-colored alert-danger text-xl-center "><span style="font-weight:bold">@item.TotalFacturation.ToString("0.000")</span> </td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

}


@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
{
    <h3>
        <span class="badge badge-success">Vente</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>

                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td class="text-lg-center">@item.B12Vente</td>
                            <td class="text-lg-center">@item.B9Vente</td>
                            <td class="text-lg-center">@item.B6RVente</td>
                            <td class="text-lg-center">@item.B6VVente</td>
                            <td class="text-lg-center">@item.B3Vente </td>
                            <td class="text-lg-center">@item.B35Vente</td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

}


@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
{
    <h3>
        <span class="badge badge-success">Vente Consommateur</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>

                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td class="text-lg-center">@item.B12VenteConsomateur</td>
                            <td class="text-lg-center">@item.B9VenteConsomateur</td>
                            <td class="text-lg-center">@item.B6RVenteConsomateur</td>
                            <td class="text-lg-center">@item.B6VVenteConsomateur</td>
                            <td class="text-lg-center">@item.B3VenteConsomateur</td>
                            <td class="text-lg-center">@item.B35VenteConsomateur</td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

}


@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
{
    <h3>
        <span class="badge badge-success">Vente Revendeur</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>

                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td class="text-lg-center">@item.B12VenteRevendeur</td>
                            <td class="text-lg-center">@item.B9VenteRevendeur</td>
                            <td class="text-lg-center">@item.B6RVenteRevendeur</td>
                            <td class="text-lg-center">@item.B6VVenteRevendeur</td>
                            <td class="text-lg-center">@item.B3VenteRevendeur</td>
                            <td class="text-lg-center">@item.B35VenteRevendeur</td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

}




@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
{
    <h3>
        <span class="badge badge-success"> Consignation</span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>

                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td class="text-lg-center">@item.B12Consignation</td>
                            <td class="text-lg-center">@item.B9Consignation</td>
                            <td class="text-lg-center">@item.B6RConsignation</td>
                            <td class="text-lg-center">@item.B6VConsignation</td>
                            <td class="text-lg-center">@item.B3Consignation</td>
                            <td class="text-lg-center">@item.B35Consignation</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}

@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
{
    <h3>
        <span class="badge badge-success"> Dotation  </span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>

                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td class="text-lg-center">@item.B12Dotation</td>
                            <td class="text-lg-center">@item.B9Dotation</td>
                            <td class="text-lg-center">@item.B6RDotation</td>
                            <td class="text-lg-center">@item.B6VDotation</td>
                            <td class="text-lg-center">@item.B3Dotation</td>
                            <td class="text-lg-center">@item.B35Dotation</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}

@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
{
    <h3>
        <span class="badge badge-success"> Emballage  </span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>

                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td class="text-lg-center">@item.B12Emballage</td>
                            <td class="text-lg-center">@item.B9Emballage</td>
                            <td class="text-lg-center">@item.B6REmballage</td>
                            <td class="text-lg-center">@item.B6VEmballage</td>
                            <td class="text-lg-center">@item.B3Emballage</td>
                            <td class="text-lg-center">@item.B35Emballage </td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}





<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });


</script>



@*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@




