﻿@{
    ViewBag.Title = "Situation Centre Nouakchott";
}

@model  IEnumerable<GUHabitat.Models.ModelStatistiqueCentreNKTT>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}

<br />
<br />

<form class="form-inline" action="~/StatistiquesCentres/SituationCentreNKTT" method="post">

    <div class="row">

        <div class="magin"></div>
        <div class="form-group left ">

            <div class="form-group ">
                <input type="date" name="dateDebut" value="@ViewBag.dateDebut" class="search-text form-control  " placeholder="Date" autocomplete="off" />
            </div>
        </div>
        <div class="form-group  right">

            <div class="form-group ">
                <input type="date" name="dateFin" value="@ViewBag.dateFin" class="search-text form-control  " placeholder="Date" autocomplete="off" />
            </div>
            <div class="magin"></div>

            <button type="submit" class="btn btn-primary " id="buttonChercher">Chercher</button>
            <div class="magin"></div>

        </div>
    </div>

</form>



<br />
<br />

@if (User.IsInRole("Admin") || User.IsInRole("DirecteurDIC") || User.IsInRole("DG") || User.IsInRole("ServiceDC"))
{
    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Date Debut</th>
                        <th class="text-lg-center">Date Fin</th>
                        <th class="text-center">Centre</th>
                        <th class="text-center"></th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                    <tr>


                        <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                        <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                        <td class="text-lg-center">NOUAKCHOTT</td>
                        <td class="text-lg-center">
                            <a href="@Url.Action("ImprimerCentreNKTT","StatistiquesCentres", new { dateDebut = item.dateDebut,dateFin = item.dateFin})" class="btn btn-outline-dark">
                                <i class="fas fa-fw fa-print"></i>
                                Imprimer
                            </a>

                        </td>

                    </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}
<br />




@*<h3>
        <span class="badge badge-dark">Centre Nouakchott</span>
    </h3>
*@


@if (User.IsInRole("Admin") || User.IsInRole("DirecteurDIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success">Stock</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Stock Début</th>
                        <th class="text-lg-center">Stock Théorie</th>
                        <th class="text-lg-center">Stock Fin</th>
                        <th class="text-lg-center">Dépotage</th>
                        <th class="text-lg-center">Retour</th>
                        <th class="text-lg-center">Gain / Perte</th>
                        <th class="text-lg-center">Stock Actuel</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {



                    <tr>


                        <td class="text-lg-center">@item.StockNKTT.ToString("0.000")</td>
                        <td class="text-lg-center">@item.StockTheorieNKTT.ToString("0.000")</td>
                        <td class="text-lg-center">@item.StockFinNKTT.ToString("0.000")</td>
                        <td class="text-lg-center">@item.Depotage.ToString("0.000")</td>
                        <td class="text-lg-center">@item.TotalRetour.ToString("0.000")</td>
                        <td class="text-lg-center">@item.GainPerteNktt.ToString("0.000")</td>

                        <td class="text-lg-center">@item.StockActuelNktt.ToString("0.000")</td>

                    </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}


@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success">Collaborateurs</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Envoie</th>
                        <th class="text-lg-center">Reception</th>
                        <th class="text-lg-center">Restant</th>
                        

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {



                        <tr>

                            <td class="text-lg-center">@item.TonnageCollaborateurEnvoie.ToString("0.000")</td>
                            <td class="text-lg-center">@item.TonnageCollaborateurReception.ToString("0.000")</td>
                            <td class="text-lg-center">@item.TonnageCollaborateurActuel.ToString("0.000")</td>
                            

                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}

@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success">Production</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>
                        <th class="text-lg-center">Conditionné(TM)</th>
                        <th class="text-lg-center">Somgaz Vrac(TM)</th>
                        <th class="text-lg-center">Autres Vrac(TM)</th>
                        <th class="text-lg-center">Total(TM)</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.B12Production</td>
                            <td class="text-lg-center">@item.B9Production</td>
                            <td class="text-lg-center">@item.B6RProduction</td>
                            <td class="text-lg-center">@item.B6VProduction</td>
                            <td class="text-lg-center">@item.B3Production </td>
                            <td class="text-lg-center">@item.B35Production</td>
                            <td class="text-lg-center">@item.TotalConditionneeProduction.ToString("0.000") </td>
                            <td class="text-lg-center">@item.TonnageSomagaz.ToString("0.000") </td>
                            <td class="text-lg-center">@item.AutresVrac.ToString("0.000") </td>
                            <td class="section-colored alert-danger text-xl-center "><span style="font-weight:bold">@item.TotalProduction.ToString("0.000")</span> </td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

}


@if (User.IsInRole("Admin") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("DIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success"> Facturation</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>
                        <th class="text-lg-center">Conditionné(TM)</th>
                        @*<th class="text-lg-center">Somgaz Vrac(TM)</th>*@
                        <th class="text-lg-center">Autres Vrac(TM)</th>
                        <th class="text-lg-center ">Total(TM)</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.B12Afact</td>
                            <td class="text-lg-center">@item.B9Afact</td>
                            <td class="text-lg-center">@item.B6RAfact</td>
                            <td class="text-lg-center">@item.B6VAfact</td>
                            <td class="text-lg-center">@item.B3Afact </td>
                            <td class="text-lg-center">@item.B35Afact </td>
                            <td class="text-lg-center">@item.TotalConditionneeCommerciale.ToString("0.000") </td>
                            @*<td class="text-lg-center">@item.TonnageSomagaz </td>*@
                            <td class="text-lg-center">@item.TonnagePrivee.ToString("0.000") </td>
                            <td class="section-colored alert-danger text-xl-center "><span style="font-weight:bold">@item.TotalFacturation.ToString("0.000")</span> </td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}


@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success">Vente</span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            
                            <td class="text-lg-center">@item.B12Vente</td>
                            <td class="text-lg-center">@item.B9Vente</td>
                            <td class="text-lg-center">@item.B6RVente</td>
                            <td class="text-lg-center">@item.B6VVente</td>
                            <td class="text-lg-center">@item.B3Vente </td>
                            <td class="text-lg-center">@item.B35Vente</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}



@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success">Vente Directe</span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                       
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                           
                            <td class="text-lg-center">@item.B12VenteDirecte</td>
                            <td class="text-lg-center">@item.B9VenteDirecte</td>
                            <td class="text-lg-center">@item.B6RVenteDirecte</td>
                            <td class="text-lg-center">@item.B6VVenteDirecte</td>
                            <td class="text-lg-center">@item.B3VenteDirecte </td>
                            <td class="text-lg-center">@item.B35VenteDirecte</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}



@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success"> Consignation</span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.B12Consignation</td>
                            <td class="text-lg-center">@item.B9Consignation</td>
                            <td class="text-lg-center">@item.B6RConsignation</td>
                            <td class="text-lg-center">@item.B6VConsignation</td>
                            <td class="text-lg-center">@item.B3Consignation </td>
                            <td class="text-lg-center">@item.B35Consignation</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}


@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success"> Dotation  </span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.B12Dotation</td>
                            <td class="text-lg-center">@item.B9Dotation</td>
                            <td class="text-lg-center">@item.B6RDotation</td>
                            <td class="text-lg-center">@item.B6VDotation</td>
                            <td class="text-lg-center">@item.B3Dotation </td>
                            <td class="text-lg-center">@item.B35Dotation</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}

@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success"> Avoir  </span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>
                        <th class="text-lg-center">Total(TM)</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.B12Avoir</td>
                            <td class="text-lg-center">@item.B9Avoir</td>
                            <td class="text-lg-center">@item.B6RAvoir</td>
                            <td class="text-lg-center">@item.B6VAvoir</td>
                            <td class="text-lg-center">@item.B3Avoir </td>
                            <td class="text-lg-center">@item.B35Avoir</td>
                            <td class="section-colored alert-danger text-xl-center "><span style="font-weight:bold">@item.TonnageAvoirNktt.ToString("0.000")</span> </td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}

@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success"> Emballage  </span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>

                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td class="text-lg-center">@item.B12Emballage</td>
                            <td class="text-lg-center">@item.B9Emballage</td>
                            <td class="text-lg-center">@item.B6REmballage</td>
                            <td class="text-lg-center">@item.B6VEmballage</td>
                            <td class="text-lg-center">@item.B3Emballage</td>
                            <td class="text-lg-center">@item.B35Emballage</td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}


<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });


</script>



@*@*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@
@*<script>
            $(document).ready(function () {
                toastr.success("Test");
            });
    </script>*@
