﻿@model GUHabitat.Models.ModelModifierConsignationCentre
@{
    ViewBag.Title = "";
}

<h4> <span class="badge badge-success">Centre : @Model.LibelleCentre</span></h4>


@if (ViewBag.MessageStockModifier != null)
{
    <div class="alert alert-danger">
        @ViewBag.MessageStockModifier

    </div>
}

<hr />



<form action="~/ConsignationCentre/Modifier" method="post" id="form" class="form-horizontal">
    @Html.HiddenFor(x => x.id)

    <!-- Tab panes -->
    <div class="tab-content">

        <br />

        <div class="row col-12">

            <div class="row col-12">
                <h4>
                    <span class="badge badge-success">Informations Génerale</span>
                </h4>
            </div>

            <br /><br />

            <div class="row">

                <div class="form-group col-sm-4 ">
                    <label for="NniM">Reference</label>
                    @Html.TextBoxFor(x => x.Reference, new { @class = "form-control", @readonly = "true", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.Reference)
                </div>

                <div class="form-group col-sm-5 ">
                    <label for="Date"> Date </label>
                    @Html.TextBoxFor(x => x.Date, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(x => x.Date)
                </div>

                <div class="form-group col-sm-3 ">
                    <label for="Entite">Centre</label>
                    @Html.DropDownListFor(x => x.CodeCentre, new SelectList(Model.ListeCentre, "Code", "libelle"), "--Choix Centre --", new { @class = "form-control", @id = "Centre" })
                    @Html.ValidationMessageFor(x => x.CodeCentre)
                </div>

            </div>


        </div>


        <hr />
        <div class="row col-12">

            <div class="row col-12">
                <h4>
                    <span class="badge badge-success">Nbre Bouteilles</span>
                </h4>


            </div>


            <br /><br />


            <div class="row">



                <div class="form-group col-sm-2">
                    <label>B12</label>
                    @Html.TextBoxFor(x => x.B12, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B12)
                </div>
                <div class="form-group col-sm-2">
                    <label>B9</label>
                    @Html.TextBoxFor(x => x.B9, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B9)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6R</label>
                    @Html.TextBoxFor(x => x.B6R, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B6R)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6V</label>
                    @Html.TextBoxFor(x => x.B6V, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B6V)
                </div>
                <div class="form-group col-sm-2">
                    <label>B3</label>
                    @Html.TextBoxFor(x => x.B3, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B3)
                </div>
                <div class="form-group col-sm-2">
                    <label>B35</label>
                    @Html.TextBoxFor(x => x.B35, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B35)
                </div>

            </div>

        </div>



        <hr />

        <div class="row col-12">

            <div class="row col-12">
                <h4>
                    <span class="badge badge-success">Prix Bouteilles</span>
                </h4>
            </div>



            <br /><br />


            <div class="row">

                <div class="form-group col-sm-2">
                    <label>B12</label>
                    @Html.TextBoxFor(x => x.B12Prix, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B12Prix)
                </div>
                <div class="form-group col-sm-2">
                    <label>B9</label>
                    @Html.TextBoxFor(x => x.B9Prix, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B9Prix)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6R</label>
                    @Html.TextBoxFor(x => x.B6RPrix, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B6RPrix)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6V</label>
                    @Html.TextBoxFor(x => x.B6VPrix, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B6VPrix)
                </div>
                <div class="form-group col-sm-2">
                    <label>B3</label>
                    @Html.TextBoxFor(x => x.B3Prix, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B3Prix)
                </div>
                <div class="form-group col-sm-2">
                    <label>B35</label>
                    @Html.TextBoxFor(x => x.B35Prix, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B35Prix)
                </div>

            </div>

        </div>



        <div class="row">
            <div class="form-group col-sm-12">
                <label for="nomFamilleM">Commentaires</label>
                @Html.TextAreaFor(x => x.Commentaire, new { @class = "form-control", @autocomplete = "off" })
                @Html.ValidationMessageFor(x => x.Commentaire)
            </div>

        </div>


        <hr />



        <br /><br />

        @if (User.IsInRole("ServiceDC"))
        {
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary ">Enregistrer</button>
            </div>
        }

    </div>
</form>
<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });

    $(function () {
        $('#datetimepicker3').datetimepicker({
            dateFormat: 'HH:mm'
        });
    });





    $('form').submit(function () {
        $(this).find(':submit').attr('disabled', 'disabled');
    });


    document.getElementById("Centre").value  = @Model.CodeCentre;


</script>



