﻿@model GUHabitat.Models.ModelAjouterBonRetourCiterne
@{
    ViewBag.Title = "";
}

<h4> <span class="badge badge-success">Type : @Model.TypeBon</span></h4>

<hr />

@if (ViewBag.MessageAjout != null)
{
    <div class="alert alert-danger">
        @ViewBag.MessageAjout

    </div>

}

@if (ViewBag.MessageAjoutPV != null)
{
    <div class="alert alert-danger">
        @ViewBag.MessageAjoutPV

    </div>

}


<form action="~/BonRetourCiterne/Ajouter" method="post" id="form" class="form-horizontal">
    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.idTypeBon)

    <!-- Tab panes -->
    <div class="tab-content">

        <br />

        <div class="row col-12">

            <div class="row col-12">
                <h4>
                    <span class="badge badge-success">Informations Génerale</span>
                </h4>
            </div>

                    <br /><br />

                    <div class="row">

                        <div class="form-group col-sm-2 ">
                            <label for="NniM">Reference</label>
                            @Html.TextBoxFor(x => x.Reference, new { @class = "form-control", @readonly = "true", @autocomplete = "off" })
                            @Html.ValidationMessageFor(x => x.Reference)
                        </div>



                        @if (Model.idTypeBon == 1)
                        {
                            <div class="form-group col-sm-2">
                                <label>Code Centre</label>
                                @Html.TextBoxFor(x => x.CodeCentre, new { @class = " form-control", onblur = "GetCentre('m');", @autocomplete = "off" })
                                @Html.ValidationMessageFor(x => x.CodeCentre)
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="NniM">Centre</label>
                                @Html.TextBoxFor(x => x.libelleCentre, new { @class = "form-control", @autocomplete = "off" })
                                @Html.ValidationMessageFor(x => x.libelleCentre)
                            </div>



                        }


                        @if (Model.idTypeBon == 2)
                        {
                            <div class="form-group col-sm-2">
                                <label for="PrenomM">Code Client</label>
                                @Html.TextBoxFor(x => x.CodeClient, new { @class = "form-control", onblur = "getClient('m');", @autocomplete = "off" })
                                @Html.ValidationMessageFor(x => x.CodeClient)
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="PrenomM">Nom Client</label>
                                @Html.TextBoxFor(x => x.NomClient, new { @class = "form-control", @autocomplete = "off" })
                                @Html.ValidationMessageFor(x => x.NomClient)
                            </div>
                        }

                        <div class="form-group col-sm-3">
                            <label>Reference Pesee</label>
                            @Html.TextBoxFor(x => x.ReferencePVPesee, new { @class = "form-control", @autocomplete = "off" })
                            @Html.ValidationMessageFor(x => x.ReferencePVPesee)
                        </div>



                    </div>


                </div>


                <hr />
                <div class="row col-12">

                    <div class="row col-12">
                        <h4>
                            <span class="badge badge-success">Bon de Chargement</span>
                        </h4>


                    </div>


                    <br /><br />


                    <div class="row">


                        <div class="form-group col-sm-2">
                            <label>Reference BC</label>
                            @Html.TextBoxFor(x => x.ReferenceBonChargement, new { @class = "form-control", onblur = "GetBonChargement('m');", @autocomplete = "off" })
                            @Html.ValidationMessageFor(x => x.ReferenceBonChargement)
                        </div>
                        <div class="form-group col-sm-2 ">
                            <label for="Date"> Date Envoie </label>
                            @Html.TextBoxFor(x => x.DateEnvoie, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.DateEnvoie)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>Poids Vide</label>
                            @Html.TextBoxFor(x => x.PoidsVide, new { @class = "form-control", @autocomplete = "off", @readonly = "true", @id = "PoidsVide" })
                            @Html.ValidationMessageFor(x => x.PoidsVide)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>Poids Plein</label>
                            @Html.TextBoxFor(x => x.PoidsPlein, new { @class = "form-control", @autocomplete = "off", @readonly = "true", @id = "PoidsPlein" })
                            @Html.ValidationMessageFor(x => x.PoidsPlein)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>Poids Gaz</label>
                            @Html.TextBoxFor(x => x.PoidsGaz, new { @class = "form-control", @autocomplete = "off", @readonly = "true", @id = "PoidsGaz" })
                            @Html.ValidationMessageFor(x => x.PoidsGaz)
                        </div>


                    </div>

                </div>



                <hr />

                <div class="row col-12">

                    <div class="row col-12">
                        <h4>
                            <span class="badge badge-success">Le Retour</span>
                        </h4>
                    </div>


                    <br /><br />


                          <div class="row">

                              <div class="form-group col-sm-3">
                                  <label for="PrenomM">Immatricule Camion</label>
                                  @Html.TextBoxFor(x => x.ImmtriculeCamion, new { @class = "form-control", @autocomplete = "off" })
                                  @Html.ValidationMessageFor(x => x.ImmtriculeCamion)
                              </div>


                              <div class="form-group col-sm-3 ">
                                  <label for="Date"> Date Retour </label>
                                  @Html.TextBoxFor(x => x.DateRetour, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                                  @Html.ValidationMessageFor(x => x.DateRetour)
                              </div>

                              <div class="form-group col-sm-3">
                                  <label>Poids Retour</label>
                                  @Html.TextBoxFor(x => x.PoidsGazRestant, new { @class = "form-control", @autocomplete = "off", @id = "PoidsRetour" })
                                  @Html.ValidationMessageFor(x => x.PoidsGazRestant)
                              </div>



                              @*<div class="form-group col-sm-3">
                                <label>Poids Vide Retour</label>
                                @Html.TextBoxFor(x => x.PoidsVideRetour, new { @class = "form-control", @autocomplete = "off", @id = "PoidsRetour" })
                                @Html.ValidationMessageFor(x => x.PoidsVideRetour)
                            </div>
                             <div class="form-group col-sm-3">
                                <label>Poids Plein Retour</label>
                                @Html.TextBoxFor(x => x.PoidsPleinRetour, new { @class = "form-control", @autocomplete = "off", @id = "PoidsRetour" })
                                @Html.ValidationMessageFor(x => x.PoidsPleinRetour)
                            </div>*@


                          </div>

                </div>


                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="nomFamilleM">Commentaires</label>
                        @Html.TextAreaFor(x => x.Commentaire, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.Commentaire)
                    </div>

                </div>


                <hr />



                <br /><br />

                @if (User.IsInRole("ServiceDC") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("ServiceDE") || User.IsInRole("OperateurDCCiterne"))
                {
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-primary ">Enregistrer</button>
                    </div>
                }

            </div>
</form>
<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });

    $(function () {
        $('#datetimepicker3').datetimepicker({
            dateFormat: 'HH:mm'
        });
    });


    function GetBonChargement(type) {

          var _ReferenceBonChargement;
        if (type == 'm') _ReferenceBonChargement = $("#ReferenceBonChargement").val();

          if (_ReferenceBonChargement != null) {

              var ROOT = '@Url.Content("~/")';
              var url = ROOT + "Home/GetBonChargement/";
              $.getJSON(url, { ReferenceBonChargement: _ReferenceBonChargement }, function (data) {


                  $("#ImmtriculeCamion").val(data.ImmtriculeCamion);
                  $("#DateEnvoie").val(data.DateString);
                  $("#PoidsVide").val(data.PoidDebutString);
                  $("#PoidsPlein").val(data.PoidsApresChargementString);
                  $("#PoidsGaz").val(data.TonnageChargerString);


            })
        }
     }






     function getClient(type) {

        var _Code;
         if (type == 'm') _Code = $("#CodeClient").val();

        if (_Code != null) {

            var ROOT = '@Url.Content("~/")';
            var url =  ROOT + "Home/GetClient/";
            $.getJSON(url, { Code: _Code }, function (data) {

                $("#NomClient").val(data);



            })
        }
     }



    function GetCentre(type) {

        var _Code;
        if (type == 'm') _Code = $("#CodeCentre").val();

        if (_Code != null) {

            var ROOT = '@Url.Content("~/")';
            var url = ROOT + "Home/GetCentre/";
            $.getJSON(url, { Code: _Code }, function (data) {

                $("#libelleCentre").val(data);



            })
        }
     }



    function getDestination() {

        var _Code;
        _Code = $("#CodeDestination").val();

        if (_Code != null) {

            var ROOT = '@Url.Content("~/")';
            var url =  ROOT + "Home/GetDestination";
            $.getJSON(url, { Code: _Code }, function (data) {

                $("#libelleDestination").val(data);



            })
        }
     }


    $('form').submit(function () {
        $(this).find(':submit').attr('disabled', 'disabled');
    });


</script>



