﻿@model GUHabitat.Models.ModelModifierBonRetourCiterne
@{
    ViewBag.Title = "";
}

<p>

        @*@if (User.IsInRole("Admin") || User.IsInRole("OperateurDCCiterne") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDE") || User.IsInRole("DG"))
        {

            <a href="@Url.Action("Imprimer", "BonRetourCiterne", new { id = Model.id })" class="btn btn-outline-dark">
                <i class="fas fa-fw fa-print"></i>
                Imprimer
            </a>
        }*@


    @if ((User.IsInRole("ServiceDC") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("ServiceDE") || User.IsInRole("OperateurDCCiterne")) && (Model.etat == 1 || Model.etat == 2))
    {
        <a href="@Url.Action("Modifier", "BonRetourCiterne", new { id = Model.id })" class="btn btn-outline-primary">
            <i class="fas fa-fw fa-edit"></i>
            Modifier
        </a>
    }

    @if ((User.IsInRole("ServiceDE") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("ServiceDC")) && (Model.etat == 3 || Model.etat == 4))
    {
        <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#InstanceBon">
            <i class="fas fa-fw fa-arrow-alt-circle-left"></i>
            En Instance
        </a>

    }



    @if ((User.IsInRole("ServiceDE") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("ServiceDC")) && (Model.etat == 1 || Model.etat == 2))
    {
        <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#Valider">
            <i class="fas fa-check"></i>
            Valider
        </a>

    }


    @if ((User.IsInRole("ServiceDE") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("OperateurDCCiterne") || User.IsInRole("ServiceDC")) && (Model.etat != 5))
    {
        <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#LivraisonModal">
            <i class="fas fa-truck"></i>
            Livrer
        </a>

    }

</p>

<div class="d-flex">
    <div>
        <h4> <span class="badge badge-success">Type : @Model.TypeBon</span></h4>
    </div>
    @if (Model.etat == 4)
    {
        <div class="ml-auto">
            <h4> <span class="badge badge-success"> @Model.etatString  le : @Model.DateLivraisonString</span> </h4>
        </div>
    }

</div>

<hr />
<form action="~/BonRetourCiterne/Ajouter" method="post" id="form" class="form-horizontal">
    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.idTypeBon)

    <!-- Tab panes -->
    <div class="tab-content">

        <br />

        <div class="row col-12">

            <div class="row col-12">
                <h4>
                    <span class="badge badge-success">Informations Génerale</span>
                </h4>
            </div>


            <br /><br />

            <div class="row">

                <div class="form-group col-sm-2 ">
                    <label for="NniM">Reference</label>
                    @Html.TextBoxFor(x => x.Reference, new { @class = "form-control", @readonly = "true", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.Reference)
                </div>



                @if (Model.idTypeBon == 1)
                {
                    <div class="form-group col-sm-2">
                        <label>Code Centre</label>
                        @Html.TextBoxFor(x => x.CodeCentre, new { @class = " form-control", onblur = "GetCentre('m');", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.CodeCentre)
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="NniM">Centre</label>
                        @Html.TextBoxFor(x => x.libelleCentre, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.libelleCentre)
                    </div>



                }


                @if (Model.idTypeBon == 2)
                {
                    <div class="form-group col-sm-2">
                        <label for="PrenomM">Code Client</label>
                        @Html.TextBoxFor(x => x.CodeClient, new { @class = "form-control", onblur = "getClient('m');", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.CodeClient)
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="PrenomM">Nom Client</label>
                        @Html.TextBoxFor(x => x.NomClient, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.NomClient)
                    </div>
                }

                <div class="form-group col-sm-3">
                    <label>Reference Pesee</label>
                    @Html.TextBoxFor(x => x.ReferencePVPesee, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.ReferencePVPesee)
                </div>



            </div>


        </div>


        <hr />
        <div class="row col-12">


            <div class="row col-12">
                <h4>
                    <span class="badge badge-success">Bon de Chargement</span>
                </h4>


            </div>


            <br /><br />


            <div class="row">


                <div class="form-group col-sm-2">
                    <label>Reference BC</label>
                    @Html.TextBoxFor(x => x.ReferenceBonChargement, new { @class = "form-control", onblur = "GetBonChargement('m');", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.ReferenceBonChargement)
                </div>
                <div class="form-group col-sm-2 ">
                    <label for="Date"> Date Envoie </label>
                    @Html.TextBoxFor(x => x.DateEnvoie, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.DateEnvoie)
                </div>
                <div class="form-group col-sm-2">
                    <label>Poids Vide</label>
                    @Html.TextBoxFor(x => x.PoidsVide, new { @class = "form-control", @autocomplete = "off", @readonly = "true", @id = "PoidsVide" })
                    @Html.ValidationMessageFor(x => x.PoidsVide)
                </div>
                <div class="form-group col-sm-2">
                    <label>Poids Plein</label>
                    @Html.TextBoxFor(x => x.PoidsPlein, new { @class = "form-control", @autocomplete = "off", @readonly = "true", @id = "PoidsPlein" })
                    @Html.ValidationMessageFor(x => x.PoidsPlein)
                </div>
                <div class="form-group col-sm-2">
                    <label>Poids Gaz</label>
                    @Html.TextBoxFor(x => x.PoidsGaz, new { @class = "form-control", @autocomplete = "off", @readonly = "true", @id = "PoidsGaz" })
                    @Html.ValidationMessageFor(x => x.PoidsGaz)
                </div>


            </div>

        </div>



        <hr />

        <div class="row col-12">

            <div class="row col-12">
                <h4>
                    <span class="badge badge-success">Le Retour</span>
                </h4>
            </div>

            <br /><br />


                  <div class="row">


                      <div class="form-group col-sm-3">
                          <label for="PrenomM">Immatricule Camion</label>
                          @Html.TextBoxFor(x => x.ImmtriculeCamion, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                          @Html.ValidationMessageFor(x => x.ImmtriculeCamion)
                      </div>

                      <div class="form-group col-sm-2 ">
                          <label for="Date"> Date Retour </label>
                          @Html.TextBoxFor(x => x.DateRetour, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @readonly = "true" })
                          @Html.ValidationMessageFor(x => x.DateRetour)
                      </div>
                      @*<div class="form-group col-sm-2">
                          <label>Poids Vide Retour</label>
                          @Html.TextBoxFor(x => x.PoidsVideRetour, new { @class = "form-control", @autocomplete = "off", @id = "PoidsRetour", @readonly = "true" })
                          @Html.ValidationMessageFor(x => x.PoidsVideRetour)
                      </div>
                      <div class="form-group col-sm-2">
                          <label>Poids Plein Retour</label>
                          @Html.TextBoxFor(x => x.PoidsPleinRetour, new { @class = "form-control", @autocomplete = "off", @id = "PoidsRetour", @readonly = "true" })
                          @Html.ValidationMessageFor(x => x.PoidsPleinRetour)
                      </div>*@
                      <div class="form-group col-sm-2">
                          <label>Poids Retour</label>
                          @Html.TextBoxFor(x => x.PoidsGazRestant, new { @class = "form-control", @autocomplete = "off", @readonly = "true", @id = "PoidsGazRestant" })
                          @Html.ValidationMessageFor(x => x.PoidsGazRestant)
                      </div>
                      <div class="form-group col-sm-4">
                          <label>Poids Receptionner Par Centre</label>
                          @Html.TextBoxFor(x => x.PoidsReceptionnerCentre, new { @class = "form-control", @autocomplete = "off", @readonly = "true", @id = "PoidsReceptionnerCentre" })
                          @Html.ValidationMessageFor(x => x.PoidsReceptionnerCentre)
                      </div>


                  </div>

        </div>


        <div class="row">
            <div class="form-group col-sm-12">
                <label for="nomFamilleM">Commentaires</label>
                @Html.TextAreaFor(x => x.Commentaire, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                @Html.ValidationMessageFor(x => x.Commentaire)
            </div>

        </div>



    </div>
</form>


<!-- EnInstance Modal-->
<div class="modal fade" id="InstanceBon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Etês vous sûre de vouloir mettre En Instance cet Bon de Retour ?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>

                <a href="@Url.Action("EnInstance","BonRetourCiterne", new { id = Model.id})" class="btn btn-primary">
                    En Instance
                </a>
            </div>
        </div>
    </div>
</div>




<!-- Valider Modal-->
<div class="modal fade" id="Valider" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Etês vous sûre de vouloir Valider cet Bon de Retour ?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>

                <a href="@Url.Action("Valider","BonRetourCiterne", new { id = Model.id})" class="btn btn-primary">
                    Valider
                </a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="LivraisonModal" tabindex="-1" role="dialog" aria-labelledby="LivraisonModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Livraison</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    @Html.HiddenFor(x => x.id)

                    <div class="form-group ">
                        <label for="Date"> Date Livraison </label>
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.DateLivraison, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @id = "DateLiv" })
                            @Html.ValidationMessageFor(x => x.DateLivraison)

                        </div>
                        @*<input type="date" id="DateLiv" class="search-text form-control  " placeholder="Date" autocomplete="off" />*@
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" onclick="EnregistrerLivraison();">Enregistrer</button>
            </div>
        </div>
    </div>
</div>




<script>


    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });

    $(function () {
        $('#datetimepicker3').datetimepicker({
            dateFormat: 'HH:mm'
        });
    });



    function EnregistrerLivraison() {


        var fileData = new FormData();
        // Adding one more key to FormData object
       
        fileData.append('idBonRetour', $('#id').val());
        fileData.append('DateLivraison', $('#DateLiv').val());
       
         
            var ROOT = '@Url.Content("~/")';
            var Url = ROOT + "BonRetourCiterne/AjouterLivraisonRetourne";
       
        $.ajax({

            url: Url,
            data: fileData,
            type: "POST",
            contentType: false,
            processData: false,
            success: function (result) {
                if (result = 'success') {

                    window.location.reload();
                    window.location.href = ROOT + 'BonRetourCiterne/Index'

                }
               
            },

           
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });





    }

</script>