﻿@using PagedList.Mvc
@{
                /**/

                ViewBag.Title = "Liste des Bons";
}
@model GUHabitat.Models.ModelListeBonRetourCiterne
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}
<br />

<div>
    <form class="form-inline" action="~/BonRetourCiterne/Index">
        <div class="row">

            <div class="magin"></div>
            <div class="form-group left ">

                @Html.TextBoxFor(x => x.filtreMotCle, new { @class = "form-control left", @autocomplete = "off", @placeholder = "Mot Clé" })&ensp;

            </div>
            <div class="form-group right ">
                <button type="submit" class="btn btn-primary right" id="buttonChercher">Chercher</button>
            </div>
        </div>
    </form>
    <br />
    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Reference</th>
                        <th class="text-lg-center">Date</th>
                        <th class="text-lg-center">Type</th>
                        <th class="text-lg-center">Code</th>
                        <th class="text-lg-center">Concerné</th>
                        <th class="text-lg-center">Poids Depart</th>
                        <th class="text-lg-center">Poids Retour</th>
                        <th class="text-lg-center">Etat</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListeBonRetourCiterne)
                    {
                    <tr>
                        <td class="text-lg-center">@item.Reference</td>
                        <td class="text-lg-center">@item.DateRetour.ToShortDateString()</td>
                        <td class="text-lg-center">@item.TypeBon</td>
                        @if (item.idTypeBon == 1)
                        {
                            <td class="text-lg-center">@item.CodeCentre </td>
                            <td class="text-lg-center">@item.LibelleCentre </td>
                        }
                        @if (item.idTypeBon == 2)
                        {
                            <td class="text-lg-center">@item.CodeClient </td>
                            <td class="text-lg-center">@item.NomClient </td>
                        }

                        <td class="text-lg-center">@item.PoidsGaz.ToString("0.000") </td>
                        <td class="text-lg-center">@item.PoidsGazRestant.ToString("0.000") </td>
                        <td class="text-lg-center">@item.etatString </td>

                        <td class="text-lg-center">
                            <a href="@Url.Action("Details","BonRetourCiterne", new { id = item.id})" class="btn btn-outline-info">
                                <i class="fas fa-fw fa-info-circle"></i>
                                Details
                            </a>

                        </td>



                    </tr>
                    }

                </tbody>

            </table>
        </div>
        <div class="pager">
            Page @(Model.ListeBonRetourCiterne.PageCount < Model.ListeBonRetourCiterne.PageNumber ? 0 : Model.ListeBonRetourCiterne.PageNumber)
            / @Model.ListeBonRetourCiterne.PageCount   @Html.PagedListPager(Model.ListeBonRetourCiterne, page => Url.Action("Index", new { page, filtreMotCle = Model.filtreMotCle }))
        </div>
    </div>

</div>





@*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@
