﻿@using System.Security.Claims
@using GUHabitat.Common
@{
    ClaimsIdentity claimIdentity = null;
    if (Request.IsAuthenticated)
    {
        claimIdentity = User.Identity as ClaimsIdentity;
    }
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}
<!DOCTYPE html>
<html lang="@CultureHelper.GetCurrentNeutralCulture()" dir="@(CultureHelper.IsRighToLeft() ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Système Bordereau Somagaz">
    <meta name="author" content="AhmedMohamed">
    <title>SOMAGAZ</title>
    <!-- Custom fonts for this template-->
    <link href="~/template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/template/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <!-- Bootstrap CSS -->
    @if (CultureHelper.IsRighToLeft())
    {
        <link href="~/template/css/sb-admin-ar.css" rel="stylesheet">

    }
    else
    {
        <link href="~/template/css/sb-admin.css" rel="stylesheet">
    }


    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/Calcule.js"></script>
    <script src="~/Scripts/FileAredp.js"></script>
    <link href="~/Content/PagedList.css" rel="stylesheet">
    <link href="~/Content/toastr.min.css" rel="stylesheet">
    <link href="~/Content/Responsive.css" rel="stylesheet" />


    <style rel="stylesheet">
        /* Styles for validation helpers
        -----------------------------------------------------------*/
        .field-validation-error {
            color: #ff0000;
        }

        .field-validation-valid {
            display: none;
        }

        .input-validation-error {
            border: 1px solid #ff0000;
            background-color: #ffeeee;
        }

        .validation-summary-errors {
            font-weight: bold;
            color: #ff0000;
        }

        .validation-summary-valid {
            display: none;
        }

        #toast-container {
            margin-top: 60px;
        }
    </style>
</head>
<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top border border-danger">
        <a class="navbar-brand mr-1 text-warning" href="~/Home/Index">       @*<img id="profile-img" height=40 width=40 src="~/Content/GAZ.png" />*@SOMAGAZ</a>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            @*<div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>*@
        </form>
        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">

            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i> @claimIdentity.FindFirst(ClaimTypes.NameIdentifier).Value
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">

                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Déconnecter</a>
                    <div class="dropdown-divider"></div>
                    @Html.ActionLink("Changer mot de passe ", "ModifierPassword", "Utilisateur", new { login = claimIdentity.FindFirst(ClaimTypes.NameIdentifier).Value }, new { @class = "dropdown-item" })

                </div>
            </li>
        </ul>
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">


            @if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DG") || User.IsInRole("DirecteurDE") || User.IsInRole("DirecteurDIC"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-signal"></i>
                        <span>Statistiques Globale</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">


                        @if (User.IsInRole("Admin") || User.IsInRole("DG"))
                        {
                            <a href="@Url.Action("SituationGlobale", "StatistiquesCentres", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Situation Globale
                            </a>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("DG"))
                        {
                            <a href="@Url.Action("SituationCentreNKTT", "StatistiquesCentres", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Situation NKTT
                            </a>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DG") || User.IsInRole("DirecteurDE") || User.IsInRole("DirecteurDIC"))
                        {
                            <a href="@Url.Action("SituationInterieurParCentre", "StatistiquesCentres", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Situation Interieur
                            </a>
                        }




                    </div>
                </li>

            }



            @if (!User.IsInRole("Securite") && !User.IsInRole("OperateurDE") && !User.IsInRole("OperateurDCFacturation"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-signal"></i>
                        <span>Statistiques</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        @if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDE") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
                        {
                            <a href="@Url.Action("Index", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Génerale
                            </a>
                        }

                        @*@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDE") || User.IsInRole("DG") || User.IsInRole("DIC"))
                            {
                                <a href="@Url.Action("SituationCentres", "Statistiques", new { id = 0 })" class="dropdown-item">
                                    <i class="fas fa-fw fa-chart-bar"></i>
                                    Situation Centres
                                </a>
                            }*@




                        @if (User.IsInRole("Admin") || User.IsInRole("Sortie") || User.IsInRole("OperateurDC") || User.IsInRole("OperateurDE") || User.IsInRole("SuperviseurDE") || User.IsInRole("OperateurDCPesse") || User.IsInRole("ServiceDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDE") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
                        {
                            <a href="@Url.Action("Entree", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Entrées
                            </a>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Sortie") || User.IsInRole("OperateurDC") || User.IsInRole("SuperviseurDE") || User.IsInRole("OperateurDCPesse") || User.IsInRole("ServiceDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDE") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
                        {
                            <a href="@Url.Action("Sortie", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Sorties
                            </a>
                        }

                        @*@if (User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
                        {
                            <a href="@Url.Action("Situation", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Situation
                            </a>
                        }*@

                        @if (User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC"))
                        {
                            <a href="@Url.Action("VenteParClient", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Vente Client
                            </a>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC"))
                        {
                            <a href="@Url.Action("VenteClients", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Ventes Clients
                            </a>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC"))
                        {
                            <a href="@Url.Action("BonusParClient", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Bonus Client
                            </a>
                        }


                        @if (User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC"))
                        {
                            <a href="@Url.Action("BonusClients", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Bonus Clients
                            </a>
                        }



                        @if (User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("OperateurDCCiterne") || User.IsInRole("DirecteurDC"))
                        {
                            <a href="@Url.Action("BonusVracPartenaire", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Bonus Partenaire
                            </a>

                        }


                        @if (User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("OperateurDCCiterne") || User.IsInRole("DirecteurDC"))
                        {
                            <a href="@Url.Action("BonusVracPartenaires", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Bonus Partenaires
                            </a>
                        }


                        @if (User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("OperateurDCCiterne") || User.IsInRole("DirecteurDC"))
                        {
                            <a href="@Url.Action("BonusVracPrivee", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Bonus Privee
                            </a>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("OperateurDCCiterne") || User.IsInRole("DirecteurDC"))
                        {
                            <a href="@Url.Action("BonusVracPrivees", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Bonus Privees
                            </a>
                        }



                        @if (User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC"))
                        {
                            <a href="@Url.Action("ConsignationParClient", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Consignation Client
                            </a>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC"))
                        {
                            <a href="@Url.Action("AvoirParClient", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Avoir Client
                            </a>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("ServiceDE") || User.IsInRole("ServiceDC") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("OperateurDCCiterne") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDE") || User.IsInRole("Logistique") || User.IsInRole("DirecteurDIC"))
                        {
                            <a href="@Url.Action("StatistiquesVrac", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Statistiques Vrac
                            </a>
                        }


                        @if (User.IsInRole("Admin") || User.IsInRole("ServiceDC") || User.IsInRole("DG") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("OperateurDCCiterne") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDE") || User.IsInRole("Logistique") || User.IsInRole("DirecteurDIC"))
                        {
                            <a href="@Url.Action("VracSomagaz", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Vrac Somagaz
                            </a>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("ServiceDC") || User.IsInRole("DG") || User.IsInRole("ServiceDE") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("OperateurDCCiterne") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDE") || User.IsInRole("DirecteurDIC"))
                        {
                            <a href="@Url.Action("VracPrivee", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Autres Vrac
                            </a>
                        }


                        @if (User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("ServiceDE") || User.IsInRole("ServiceDC") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("OperateurDCCiterne") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDE") || User.IsInRole("Logistique") || User.IsInRole("DirecteurDIC"))
                        {
                            <a href="@Url.Action("StatistiquesRetourVrac", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Retours Vrac
                            </a>
                        }



                        @if (User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("ServiceDE") || User.IsInRole("ServiceDC") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("OperateurDCCiterne") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDE") || User.IsInRole("Logistique") || User.IsInRole("DirecteurDIC"))
                        {
                            <a href="@Url.Action("RetourCentre", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Retour Somagaz
                            </a>
                        }


                        @if (User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("ServiceDE") || User.IsInRole("ServiceDC") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("OperateurDCCiterne") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDE") || User.IsInRole("DirecteurDIC"))
                        {
                            <a href="@Url.Action("RetourClient", "Statistiques", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-chart-bar"></i>
                                Retour Vrac Client
                            </a>
                        }

                    </div>
                </li>

            }



            @*@if (User.IsInRole("DG") || User.IsInRole("Admin") || User.IsInRole("DirecteurDIC"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-newspaper"></i>
                        <span>Fiche Situation</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        @if (User.IsInRole("Admin") || User.IsInRole("DirecteurDIC"))
                        {

                            <a href="@Url.Action("Ajouter", "FicheSituation", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-plus"></i>
                                Nouvelle Fiche
                            </a>
                        }



                        <a href="@Url.Action("Index", "FicheSituation", new { id = 0 })" class="dropdown-item">
                            <i class="fas fa-fw fa-list"></i>
                            Liste
                        </a>

                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Acloturer", "FicheSituation", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-lock"></i>
                                Clôturer
                            </a>
                        }

                    </div>
                </li>

            }*@







            @if (!User.IsInRole("OperateurDCCiterne") && !User.IsInRole("Securite") && !User.IsInRole("ServiceVracPrivee") && !User.IsInRole("Logistique"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-newspaper"></i>
                        <span>Fiche Vente</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        @if (User.IsInRole("OperateurDC") || User.IsInRole("OperateurDCPesse"))
                        {

                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#typeDemandeModal" onclick="chargerTypes();">
                                <i class="fas fa-fw fa-plus"></i>
                                Nouvelle Fiche
                            </a>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("OperateurDE") || User.IsInRole("ServiceDE"))
                        {
                            <a href="@Url.Action("Instance", "FicheVenteBouteille", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-tasks"></i>
                                En Instance
                            </a>
                        }

                        <a href="@Url.Action("Index", "FicheVenteBouteille", new { id = 0 })" class="dropdown-item">
                            <i class="fas fa-fw fa-list"></i>
                            Liste
                        </a>

                       

                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Acloturer", "FicheVenteBouteille", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-lock"></i>
                                Clôturer
                            </a>
                        }


                    </div>
                </li>

            }







            @if (User.IsInRole("ServiceDC") || User.IsInRole("Admin") || User.IsInRole("DirecteurDC") || User.IsInRole("DG") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-newspaper"></i>
                        <span> Vente Centre </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        @if (User.IsInRole("ServiceDC"))
                        {

                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#typeCentreModal" onclick="chargerTypesCentre();">
                                <i class="fas fa-fw fa-plus"></i>
                                Nouvelle Fiche
                            </a>
                        }

                        <a href="@Url.Action("Index", "VenteCentre", new { id = 0 })" class="dropdown-item">
                            <i class="fas fa-fw fa-list"></i>
                            Liste
                        </a>

                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Acloturer", "VenteCentre", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-lock"></i>
                                Clôturer
                            </a>
                        }


                    </div>
                </li>

            }







            @if (!User.IsInRole("OperateurDCCiterne") && !User.IsInRole("Securite")  && !User.IsInRole("OperateurDCPesse") && !User.IsInRole("OperateurDC") && !User.IsInRole("ServiceVracPrivee") && !User.IsInRole("Logistique"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-newspaper"></i>
                        <span>Fiche Consigantion</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        @if (User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC"))
                        {

                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#typeConsignationModal" onclick="chargerTypesConsignation();">
                                <i class="fas fa-fw fa-plus"></i>
                                Nouvelle Fiche
                            </a>

                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("OperateurDE") || User.IsInRole("ServiceDE"))
                        {
                            <a href="@Url.Action("Instance", "FicheConsignation", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-tasks"></i>
                                En Instance
                            </a>
                        }

                        <a href="@Url.Action("Index", "FicheConsignation", new { id = 0 })" class="dropdown-item">
                            <i class="fas fa-fw fa-list"></i>
                            Liste
                        </a>

                       


                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Acloturer", "FicheConsignation", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-lock"></i>
                                Clôturer
                            </a>
                        }



                    </div>
                </li>

            }




            @if (User.IsInRole("ServiceDC") || User.IsInRole("Admin") || User.IsInRole("DirecteurDC") || User.IsInRole("DG") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-newspaper"></i>
                        <span>Consigantion Centre</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        @if (User.IsInRole("ServiceDC"))
                        {

                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ConsignationCentreModal" onclick="chargerTypesConsignationCentre();">
                                <i class="fas fa-fw fa-plus"></i>
                                Nouveau
                            </a>
                        }

                        <a href="@Url.Action("Index", "ConsignationCentre", new { id = 0 })" class="dropdown-item">
                            <i class="fas fa-fw fa-list"></i>
                            Liste
                        </a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Acloturer", "ConsignationCentre", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-lock"></i>
                                Clôturer
                            </a>
                        }



                    </div>
                </li>

            }





            @if (User.IsInRole("ServiceDC") || User.IsInRole("Admin") || User.IsInRole("DirecteurDC") || User.IsInRole("DG") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE"))

            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-newspaper"></i>
                        <span>Dotation Centre</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        @if (User.IsInRole("ServiceDC"))
                        {

                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#DotationCentreModal" onclick="chargerTypesDotationCentre();">
                                <i class="fas fa-fw fa-plus"></i>
                                Nouvelle Fiche
                            </a>
                        }

                        <a href="@Url.Action("Index", "DotationCentre", new { id = 0 })" class="dropdown-item">
                            <i class="fas fa-fw fa-list"></i>
                            Liste
                        </a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Acloturer", "DotationCentre", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-lock"></i>
                                Clôturer
                            </a>
                        }



                    </div>
                </li>

            }




            @if (User.IsInRole("ServiceDC") || User.IsInRole("Admin") || User.IsInRole("DirecteurDC") || User.IsInRole("DG") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE"))

            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-newspaper"></i>
                        <span>Stock Centre</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        @if (User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE"))
                        {

                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#StockCentreModal" onclick="chargerTypesStockCentre();">
                                <i class="fas fa-fw fa-plus"></i>
                                Nouveau
                            </a>
                        }

                        <a href="@Url.Action("Index", "StockCentre", new { id = 0 })" class="dropdown-item">
                            <i class="fas fa-fw fa-list"></i>
                            Liste
                        </a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Acloturer", "StockCentre", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-lock"></i>
                                Clôturer
                            </a>
                        }



                    </div>
                </li>

            }

            @if (User.IsInRole("ServiceDC") || User.IsInRole("Admin") || User.IsInRole("DirecteurDC") || User.IsInRole("DG") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-newspaper"></i>
                        <span>Emballage Centre</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        @if (User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE"))
                        {

                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#EmballageCentreModal" onclick="chargerTypesEmballageCentre();">
                                <i class="fas fa-fw fa-plus"></i>
                                Nouveau
                            </a>
                        }

                        <a href="@Url.Action("Index", "EmballageCentre", new { id = 0 })" class="dropdown-item">
                            <i class="fas fa-fw fa-list"></i>
                            Liste
                        </a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Acloturer", "EmballageCentre", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-lock"></i>
                                Clôturer
                            </a>
                        }



                    </div>
                </li>

            }
            @if (User.IsInRole("ServiceDC") || User.IsInRole("Admin") || User.IsInRole("DirecteurDC") || User.IsInRole("DG") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-newspaper"></i>
                        <span>Enlevement Gaz</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        @if (User.IsInRole("ServiceDE"))
                        {

                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#EnlevementClientModal" onclick="chargerEnlevement();">
                                <i class="fas fa-fw fa-plus"></i>
                                Nouveau
                            </a>
                        }

                        <a href="@Url.Action("Index", "BonEnlevementGaz", new { id = 0 })" class="dropdown-item">
                            <i class="fas fa-fw fa-list"></i>
                            Liste
                        </a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Acloturer", "BonEnlevementGaz", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-lock"></i>
                                Clôturer
                            </a>
                        }



                    </div>
                </li>

            }

            @if (!User.IsInRole("OperateurDCCiterne") && !User.IsInRole("OperateurDE") && !User.IsInRole("Securite") && !User.IsInRole("OperateurDCPesse") && !User.IsInRole("OperateurDCFacturation") && !User.IsInRole("ServiceVracPrivee") && !User.IsInRole("Logistique"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-newspaper"></i>
                        <span>Sortie</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        @if (User.IsInRole("Sortie")@*|| User.IsInRole("OperateurDC")*@)
                       {

                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#typeSortieModal" onclick="chargerTypesSortie();">
                            <i class="fas fa-fw fa-plus"></i>
                            Nouvelle Sortie
                        </a>
                       }

                        <a href="@Url.Action("Index", "Sortie", new { id = 0 })" class="dropdown-item">
                            <i class="fas fa-fw fa-list"></i>
                            Liste
                        </a>


                        @if (User.IsInRole("ServiceDC"))
                        {

                            <a href="@Url.Action("Valider", "Sortie", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-check"></i>
                                Valider
                            </a>
                        }



                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Acloturer", "Sortie", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-lock"></i>
                                Clôturer
                            </a>
                        }


                    </div>
                </li>

            }






            @if (!User.IsInRole("OperateurDE") && !User.IsInRole("Sortie") && !User.IsInRole("OperateurDC") && !User.IsInRole("OperateurDCPesse"))
            {



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-newspaper"></i>
                        <span>Bon de Chargement</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        @if (User.IsInRole("OperateurDCCiterne") || User.IsInRole("ServiceVracPrivee"))
                        {


                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#typeBonModal" onclick="chargerTypesBon();">
                                <i class="fas fa-fw fa-plus"></i>
                                Nouveau Bon
                            </a>

                        }


                        @*@if (User.IsInRole("ServiceDE"))
                            {


                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#typeBonModalDE" onclick="chargerTypesBonDE();">
                                    <i class="fas fa-fw fa-plus"></i>
                                    Nouveau Bon
                                </a>

                            }*@


                        @if (User.IsInRole("Admin") || User.IsInRole("Securite") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE"))
                        {
                            <a href="@Url.Action("Instance", "BonChargementCiterne", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-tasks"></i>
                                En Instance
                            </a>
                        }

                        <a href="@Url.Action("Index", "BonChargementCiterne", new { id = 0 })" class="dropdown-item">
                            <i class="fas fa-fw fa-list"></i>
                            Liste
                        </a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Acloturer", "BonChargementCiterne", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-lock"></i>
                                Clôturer
                            </a>
                        }



                    </div>
                </li>


            }

            @if (!User.IsInRole("OperateurDE") && !User.IsInRole("Sortie") && !User.IsInRole("OperateurDC")  && !User.IsInRole("OperateurDCPesse"))
            {



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-newspaper"></i>
                        <span>Bon de Retour</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        @if (User.IsInRole("ServiceDC") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("ServiceDE") || User.IsInRole("OperateurDCCiterne"))
                        {


                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#typeBonRetourModal" onclick="chargerTypesBonRetour();">
                                <i class="fas fa-fw fa-plus"></i>
                                Nouveau Bon
                            </a>

                        }


                        <a href="@Url.Action("Index", "BonRetourCiterne", new { id = 0 })" class="dropdown-item">
                            <i class="fas fa-fw fa-list"></i>
                            Liste
                        </a>

                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Acloturer", "BonRetourCiterne", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-lock"></i>
                                Clôturer
                            </a>
                        }


                    </div>
                </li>


            }


            @if (User.IsInRole("Securite") || User.IsInRole("DirecteurDE") || User.IsInRole("Admin"))
            {

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-newspaper"></i>
                        <span>Nbre Personnes</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">

                        <a href="@Url.Action("NbrePresonnes", "FicheVenteBouteille", new { id = 0 })" class="dropdown-item">
                            <i class="fas fa-fw fa-list"></i>
                            Conditionné
                        </a>


                        <a href="@Url.Action("NbrePersonnes", "BonChargementCiterne", new { id = 0 })" class="dropdown-item">
                            <i class="fas fa-fw fa-list"></i>
                            Vrac
                        </a>


                    </div>
                </li>


            }


            @if (!User.IsInRole("OperateurDCCiterne") && !User.IsInRole("Securite")  && !User.IsInRole("ServiceVracPrivee") && !User.IsInRole("Logistique"))
            {



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-newspaper"></i>
                        <span>AREDP</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        @if (User.IsInRole("OperateurDCPesse"))
                        {

                            <a href="@Url.Action("Ajouter", "Aredp", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-plus"></i>
                                Nouvelle AREDP
                            </a>


                        }


                        <a href="@Url.Action("Index", "Aredp", new { id = 0 })" class="dropdown-item">
                            <i class="fas fa-fw fa-list"></i>
                            Liste
                        </a>

                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Acloturer", "Aredp", new { id = 0 })" class="dropdown-item">
                                <i class="fas fa-fw fa-lock"></i>
                                Clôturer
                            </a>
                        }



                    </div>
                </li>


            }





            @if (User.IsInRole("Admin"))
            {

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-newspaper"></i>
                        <span>Utilisateurs</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">


                        <a href="@Url.Action("Ajouter", "Utilisateur", new { id = 0 })" class="dropdown-item">
                            <i class="fas fa-fw fa-plus"></i>
                            Nouveau
                        </a>




                        <a href="@Url.Action("Index", "Utilisateur", new { id = 0 })" class="dropdown-item">
                            <i class="fas fa-fw fa-list"></i>
                            Liste
                        </a>




                    </div>
                </li>


            }






        </ul>
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    @*<li class="breadcrumb-item">
                            <a href="/">Accueil</a>
                        </li>*@

                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>


                @RenderBody()


            </div>
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->
            <footer class="sticky-footer bg-dark  border border-danger">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © SomaGaz 2021</span>
                    </div>
                </div>
            </footer>
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Etês vous sûre de vouloir quitter?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                    @Html.ActionLink("Se déconnecter", "Logout", "Authentication", null, new { id = "loginLink", @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>



    <!-- Type Fiche Modal-->
    <div class="modal fade" id="typeDemandeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="~/FicheVenteBouteille/ValiderTypeFiche" id="frmTypeFiche" method="post" class="form-horizontal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Type Fiche</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="container">
                        <select name="idTypeFiche" id="idTypeFiche" class="form-control">
                            <option value="">--Svp Choisir un type --</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" onclick="envoyer();">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <!-- Type Fiche Consignation Modal-->
    <div class="modal fade" id="typeConsignationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="~/FicheConsignation/ValiderTypeFiche" id="frmTypeFicheConsignation" method="post" class="form-horizontal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Type Fiche</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="container">
                        <select name="idTypeFicheConsignation" id="idTypeFicheConsignation" class="form-control">
                            <option value="">--Svp Choisir un type --</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" onclick="envoyerConsignation();">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>






    <!-- Type BonChargement Modal-->
    <div class="modal fade" id="typeBonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="~/BonChargementCiterne/ValiderTypeBon" id="frmTypeBon" method="post" class="form-horizontal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Type Bon</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="container">
                        <select name="idTypeBon" id="idTypeBon" class="form-control">
                            <option value="">--Svp Choisir un type --</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" onclick="envoyerBon();">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- Type BonRetour Modal-->
    <div class="modal fade" id="typeBonRetourModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="~/BonRetourCiterne/ValiderTypeBon" id="frmTypeBonRetour" method="post" class="form-horizontal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Type Bon</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="container">
                        <select name="idTypeBonRetour" id="idTypeBonRetour" class="form-control">
                            <option value="">--Svp Choisir un type --</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" onclick="envoyerBonRetour();">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <!-- Type BonChargement DE Modal-->
    @*<div class="modal fade" id="typeBonModalDE" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="~/BonChargementCiterne/ValiderTypeBonDE" id="frmTypeBonDE" method="post" class="form-horizontal">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Type Bon</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="container">
                            <select name="idTypeBonDE" id="idTypeBonDE" class="form-control">
                                <option value="">--Svp Choisir un type --</option>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" onclick="envoyerBonDE();">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>*@


    <!-- Type Sortie Modal-->
    <div class="modal fade" id="typeSortieModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="~/Sortie/ValiderTypeSortie" id="frmTypeSortie" method="post" class="form-horizontal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Type Sortie</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="container">
                        <select name="idTypeSortie" id="idTypeSortie" class="form-control">
                            <option value="">--Svp Choisir un type --</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" onclick="envoyerSortie();">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>







    <!-- Vente Centre Modal-->
    <div class="modal fade" id="typeCentreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="~/VenteCentre/ValiderTypeVenteCentre" id="frmTypeCentre" method="post" class="form-horizontal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Centre</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="container">
                        <select name="CodeCentre" id="CodeCentre" class="form-control">
                            <option value="">--Svp Choisir un centre --</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" onclick="envoyerCentre();">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>





    <!-- Consignation Centre Modal-->
    <div class="modal fade" id="ConsignationCentreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="~/ConsignationCentre/ValiderConsignationCentre" id="frmConsignationCentre" method="post" class="form-horizontal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Centre</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="container">
                        <select name="CodeCentreConsignation" id="CodeCentreConsignation" class="form-control">
                            <option value="">--Svp Choisir un centre --</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" onclick="envoyerConsignationCentre();">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Dotation Centre Modal-->
    <div class="modal fade" id="DotationCentreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="~/DotationCentre/ValiderDotationCentre" id="frmDotationCentre" method="post" class="form-horizontal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Centre</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="container">
                        <select name="CodeCentreDotation" id="CodeCentreDotation" class="form-control">
                            <option value="">--Svp Choisir un centre --</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" onclick="envoyerDotationCentre();">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <!-- Stock Centre Modal-->
    <div class="modal fade" id="StockCentreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="~/StockCentre/ValiderStockCentre" id="frmStockCentre" method="post" class="form-horizontal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Centre</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="container">
                        <select name="CodeCentreStock" id="CodeCentreStock" class="form-control">
                            <option value="">--Svp Choisir un centre --</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" onclick="envoyerStockCentre();">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Emballage Centre Modal-->
    <div class="modal fade" id="EmballageCentreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="~/EmballageCentre/ValiderEmballageCentre" id="frmEmballageCentre" method="post" class="form-horizontal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Centre</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="container">
                        <select name="CodeCentreEmballage" id="CodeCentreEmballage" class="form-control">
                            <option value="">--Svp Choisir un centre --</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" onclick="envoyerEmballageCentre();">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Enlevement Client Modal-->

    <div class="modal fade" id="EnlevementClientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="~/BonEnlevementGaz/ValiderMouvementBon" id="frmMouvementEnlevement" method="post" class="form-horizontal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Mouvement</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="container">
                        <select name="idMouvementBon" id="idMouvementBon" class="form-control">
                            <option value="">--Svp Choisir un mouvement --</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" onclick="envoyerEnlevement();">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <script src="~/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Custom scripts for all pages-->

    <script src="~/template/js/sb-admin.min.js"></script>

    <script type="text/javascript">
         //Enlevement Gaz

        function validateEnlevementClient() {
                var isValid = true;
            if ($('#idMouvementBon').val().trim() == "") {
                $('#idMouvementBon').css('border-color', 'Red');
                    isValid = false;
                }
                else {
                $('#idMouvementBon').css('border-color', 'lightgrey');
                }

                return isValid;
            }
            function envoyerEnlevement() {

                var res = validate();
                if (res == false) {
                    return false;
                }

                $('#frmMouvementEnlevement').submit();
                //window.location.reload()
                //$('#myModal').modal('hide');
            }

            $(function () {
                chargerEnlevement();
            });
        function chargerEnlevement() {

                var ROOT = '@Url.Content("~/")';
                var url = ROOT + "Home/GetListeMouvementBonEnlevement";
            $.getJSON(url, function (data) {
                $("#idMouvementBon").empty();
                $.each(data, function (index, optionData) {
                    $("#idMouvementBon").append("<option value='" + optionData.id + "'>" + optionData.libelle + "</option> ");
                });
            })
        }






         //Vente Centre
        function validateCentre() {
                var isValid = true;
            if ($('#CodeCentre').val().trim() == "") {
                $('#CodeCentre').css('border-color', 'Red');
                    isValid = false;
                }
                else {
                $('#CodeCentre').css('border-color', 'lightgrey');
                }

                return isValid;
            }
            function envoyerCentre() {

                var res = validate();
                if (res == false) {
                    return false;
                }

                $('#frmTypeCentre').submit();
                //window.location.reload()
                //$('#myModal').modal('hide');
            }

            $(function () {
                chargerTypesCentre();
            });
            function chargerTypesCentre() {

                var ROOT = '@Url.Content("~/")';
                var url = ROOT + "Home/GetListeCentre";
            $.getJSON(url, function (data) {
                $("#CodeCentre").empty();
                $.each(data, function (index, optionData) {
                    $("#CodeCentre").append("<option value='" + optionData.Code + "'>" + optionData.libelle + "</option> ");
                });
            })
        }



         //Consignation Centre
        function validateConsignationCentre() {
                var isValid = true;
            if ($('#CodeCentreConsignation').val().trim() == "") {
                $('#CodeCentreConsignation').css('border-color', 'Red');
                    isValid = false;
                }
                else {
                $('#CodeCentreConsignation').css('border-color', 'lightgrey');
                }

                return isValid;
            }
        function envoyerConsignationCentre() {

                var res = validate();
                if (res == false) {
                    return false;
                }

                $('#frmConsignationCentre').submit();
                //window.location.reload()
                //$('#myModal').modal('hide');
            }

            $(function () {
                chargerTypesConsignationCentre();
            });
            function chargerTypesConsignationCentre() {

                    var ROOT = '@Url.Content("~/")';
                var url = ROOT + "Home/GetListeConsignationCentre";
                $.getJSON(url, function (data) {
                    $("#CodeCentreConsignation").empty();
                    $.each(data, function (index, optionData) {
                        $("#CodeCentreConsignation").append("<option value='" + optionData.Code + "'>" + optionData.libelle + "</option> ");
                    });
                })
            }




         //Dotation Centre
        function validateDotationCentre() {
                var isValid = true;
            if ($('#CodeCentreDotation').val().trim() == "") {
                $('#CodeCentreDotation').css('border-color', 'Red');
                    isValid = false;
                }
                else {
                $('#CodeCentreDotation').css('border-color', 'lightgrey');
                }

                return isValid;
            }
        function envoyerDotationCentre() {

                var res = validate();
                if (res == false) {
                    return false;
                }

                $('#frmDotationCentre').submit();
                //window.location.reload()
                //$('#myModal').modal('hide');
            }

            $(function () {
                chargerTypesDotationCentre();
            });
        function chargerTypesDotationCentre() {

                    var ROOT = '@Url.Content("~/")';
                var url = ROOT + "Home/GetListeDotationCentre";
                $.getJSON(url, function (data) {
                    $("#CodeCentreDotation").empty();
                    $.each(data, function (index, optionData) {
                        $("#CodeCentreDotation").append("<option value='" + optionData.Code + "'>" + optionData.libelle + "</option> ");
                    });
                })
            }





         //Stock Centre
        function validateStockCentre() {
                var isValid = true;
            if ($('#CodeCentreStock').val().trim() == "") {
                $('#CodeCentreStock').css('border-color', 'Red');
                    isValid = false;
                }
                else {
                $('#CodeCentreStock').css('border-color', 'lightgrey');
                }

                return isValid;
            }
        function envoyerStockCentre() {

                var res = validate();
                if (res == false) {
                    return false;
                }

                $('#frmStockCentre').submit();
                //window.location.reload()
                //$('#myModal').modal('hide');
            }

            $(function () {
                chargerTypesStockCentre();
            });

        function chargerTypesStockCentre() {

                    var ROOT = '@Url.Content("~/")';
                   var url = ROOT + "Home/GetListeStockCentre";
                $.getJSON(url, function (data) {
                    $("#CodeCentreStock").empty();
                    $.each(data, function (index, optionData) {
                        $("#CodeCentreStock").append("<option value='" + optionData.Code + "'>" + optionData.libelle + "</option> ");
                    });
                })
            }



         //Emballage Centre
        function validateEmballageCentre() {
                var isValid = true;
            if ($('#CodeCentreEmballage').val().trim() == "") {
                $('#CodeCentreEmballage').css('border-color', 'Red');
                    isValid = false;
                }
                else {
                $('#CodeCentreEmballage').css('border-color', 'lightgrey');
                }

                return isValid;
            }
        function envoyerEmballageCentre() {

                var res = validate();
                if (res == false) {
                    return false;
                }

            $('#frmEmballageCentre').submit();
                //window.location.reload()
                //$('#myModal').modal('hide');
            }

            $(function () {
                chargerTypesEmballageCentre();
            });

        function chargerTypesEmballageCentre() {

                    var ROOT = '@Url.Content("~/")';
                   var url = ROOT + "Home/GetListeStockCentre";
                $.getJSON(url, function (data) {
                    $("#CodeCentreEmballage").empty();
                    $.each(data, function (index, optionData) {
                        $("#CodeCentreEmballage").append("<option value='" + optionData.Code + "'>" + optionData.libelle + "</option> ");
                    });
                })
            }





        //Type Fiche Vente
        function validate() {
                var isValid = true;
                if ($('#idTypeFiche').val().trim() == "") {
                    $('#idTypeFiche').css('border-color', 'Red');
                    isValid = false;
                }
                else {
                    $('#idTypeFiche').css('border-color', 'lightgrey');
                }

                return isValid;
            }
            function envoyer() {

                var res = validate();
                if (res == false) {
                    return false;
                }
                $('#frmTypeFiche').submit();
                //window.location.reload()
                //$('#myModal').modal('hide');
            }

            $(function () {
                chargerTypes();
            });
            function chargerTypes() {

                var ROOT = '@Url.Content("~/")';
                var url = ROOT + "Home/GetListeTypeFiche";
            $.getJSON(url, function (data) {
                $("#idTypeFiche").empty();
                $.each(data, function (index, optionData) {
                    $("#idTypeFiche").append("<option value='" + optionData.id + "'>" + optionData.libelle + "</option> ");
                });
            })
        }




         //Type Fiche Consignation
        function validateConsignation() {
                var isValid = true;
                if ($('#idTypeFicheConsignation').val().trim() == "") {
                    $('#idTypeFicheConsignation').css('border-color', 'Red');
                    isValid = false;
                }
                else {
                    $('#idTypeFicheConsignation').css('border-color', 'lightgrey');
                }

                return isValid;
            }
        function envoyerConsignation() {

                var res = validate();
                if (res == false) {
                    return false;
                }
                $('#frmTypeFicheConsignation').submit();
                //window.location.reload()
                //$('#myModal').modal('hide');
            }

            $(function () {
                chargerTypesConsignation();
            });
        function chargerTypesConsignation() {

                var ROOT = '@Url.Content("~/")';
                var url = ROOT + "Home/GetListeTypeFicheConsignation";
            $.getJSON(url, function (data) {
                $("#idTypeFicheConsignation").empty();
                $.each(data, function (index, optionData) {
                    $("#idTypeFicheConsignation").append("<option value='" + optionData.id + "'>" + optionData.libelle + "</option> ");
                });
            })
        }









        function validateBon() {
                var isValid = true;
                if ($('#idTypeBon').val().trim() == "") {
                    $('#idTypeBon').css('border-color', 'Red');
                    isValid = false;
                }
                else {
                    $('#idTypeBon').css('border-color', 'lightgrey');
                }

                return isValid;
            }
            function envoyerBon() {

                var res = validateBon();
                if (res == false) {
                    return false;
                }
                $('#frmTypeBon').submit();
                //window.location.reload()
                //$('#myModal').modal('hide');
            }

        $(function () {

                chargerTypesBon();
            });
            function chargerTypesBon() {

                var ROOT = '@Url.Content("~/")';
                var url = ROOT + "Home/GetListeTypeBon";
            $.getJSON(url, function (data) {
                $("#idTypeBon").empty();
                $.each(data, function (index, optionData) {
                    $("#idTypeBon").append("<option value='" + optionData.id + "'>" + optionData.libelle + "</option> ");
                });
            })
        }




        //Script Bon Chargement Direction Commerciale



        function validateBonRetour() {
                var isValid = true;
                if ($('#idTypeBonRetour').val().trim() == "") {
                    $('#idTypeBonRetour').css('border-color', 'Red');
                    isValid = false;
                }
                else {
                    $('#idTypeBonRetour').css('border-color', 'lightgrey');
                }

                return isValid;
            }
        function envoyerBonRetour() {

                var res = validateBon();
                if (res == false) {
                    return false;
                }
            $('#frmTypeBonRetour').submit();
                //window.location.reload()
                //$('#myModal').modal('hide');
            }

        $(function () {

            chargerTypesBonRetour();
            });
        function chargerTypesBonRetour() {

                var ROOT = '@Url.Content("~/")';
            var url = ROOT + "Home/GetListeTypeBonsRetour";
            $.getJSON(url, function (data) {
                $("#idTypeBonRetour").empty();
                $.each(data, function (index, optionData) {
                    $("#idTypeBonRetour").append("<option value='" + optionData.id + "'>" + optionData.libelle + "</option> ");
                });
            })
        }









          //Script Bon Chargement DE



        @*function validateBonDE() {
                var isValid = true;
            if ($('#idTypeBonDE').val().trim() == "") {
                $('#idTypeBonDE').css('border-color', 'Red');
                    isValid = false;
                }
                else {
                $('#idTypeBonDE').css('border-color', 'lightgrey');
                }

                return isValid;
            }
            function envoyerBonDE() {

                var res = validateBon();
                if (res == false) {
                    return false;
                }
                $('#frmTypeBonDE').submit();
                //window.location.reload()
                //$('#myModal').modal('hide');
            }

            $(function () {
                chargerTypesBonDE();
            });
            function chargerTypesBonDE() {

                var ROOT = '@Url.Content("~/")';
                var url = ROOT + "Home/GetListeTypeBonDE";
            $.getJSON(url, function (data) {
                $("#idTypeBonDE").empty();
                $.each(data, function (index, optionData) {
                    $("#idTypeBonDE").append("<option value='" + optionData.id + "'>" + optionData.libelle + "</option> ");
                });
            })
        }*@




        //Script Type Sortie



        function validateSortie() {
                var isValid = true;
            if ($('#idTypeSortie').val().trim() == "") {
                $('#idTypeSortie').css('border-color', 'Red');
                    isValid = false;
                }
                else {
                $('#idTypeSortie').css('border-color', 'lightgrey');
                }

                return isValid;
            }
        function envoyerSortie() {

            var res = validateSortie();
                if (res == false) {
                    return false;
                }
            $('#frmTypeSortie').submit();
                //window.location.reload()
                //$('#myModal').modal('hide');
            }

            $(function () {
                chargerTypesSortie();
            });
        function chargerTypesSortie() {

                var ROOT = '@Url.Content("~/")';
                var url = ROOT + "Home/GetListeTypeSortie";
            $.getJSON(url, function (data) {
                $("#idTypeSortie").empty();
                $.each(data, function (index, optionData) {
                    $("#idTypeSortie").append("<option value='" + optionData.id + "'>" + optionData.libelle + "</option> ");
                });
            })
        }





            var MyAppUrlSettings = {
                MyUsefulUrl : '@Url.Action("Ajouter", "Aredp")'
              }


         var MyAppUrlSettingsIndex = {
             MyUsefulUrlIndex : '@Url.Action("Index", "Aredp")'
              }




    </script>

</body>
</html>
