﻿@using PagedList.Mvc
@{
    ViewBag.Title = "Liste Attestation De Reception Des emballages Defectueux Pleins";
}
@model GUHabitat.Models.ModelListeAredp
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}
<br />
<br />
<div>
    <form class="form-inline" action="~/Aredp/Index">
        <div class="magin"></div>
        <div class="form-group left ">

            @Html.TextBoxFor(x => x.filtreMotCle, new { @class = "form-control left", @autocomplete = "off", @placeholder = "Mot Clé" })&ensp;

        </div>
        <div class="form-group right ">
            <button type="submit" class="btn btn-primary right" id="buttonChercher">Chercher</button>
        </div>
    </form>
    <br />
    <div id="divAjaxContainer">
        <div class="table-responsive">

            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Référence</th>
                        <th class="text-lg-center">Date</th>
                        <th class="text-lg-center">Code Client</th>
                        <th class="text-lg-center">Nom</th>

                        <th class="text-lg-center">Etat</th>
                        <th class="text-lg-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListeAredp)
                    {
                        <tr>
                            <td class="text-lg-center">@item.Reference</td>
                            <td class="text-lg-center">@item.Date.ToShortDateString()</td>
                            <td class="text-lg-center">@item.CodeClient </td>
                            <td class="text-lg-center">@item.NomClient</td>

                            <td class="text-lg-center">@item.etatString </td>


                            <td class="text-lg-center">
                                <a href="@Url.Action("Details","Aredp", new { id = item.id})" class="btn btn-outline-info">
                                    <i class="fas fa-fw fa-info-circle"></i>
                                    Details
                                </a>

                            </td>



                        </tr>
                    }

                </tbody>

            </table>

        </div>




        <div class="pager">
            Page @(Model.ListeAredp.PageCount < Model.ListeAredp.PageNumber ? 0 : Model.ListeAredp.PageNumber)
            / @Model.ListeAredp.PageCount   @Html.PagedListPager(Model.ListeAredp, page => Url.Action("Index", new { page, filtreMotCle = Model.filtreMotCle }))
        </div>
    </div>

</div>





@*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@




