﻿@model GUHabitat.Models.ModelModifierAredp
@{
    ViewBag.Title = "Modifier L'attestation";
}





<form action="~/Aredp/Modifier" method="post" class="form-horizontal">
    @Html.HiddenFor(x => x.id)
    <!-- Tab panes -->
    <div class="tab-content">

        <div class='tab-pane container fade in show active' id='s1'>


            <div class="row">


                <h4>
                    <span class="badge badge-success">Informations Génerale</span>
                </h4>

                <br />

                <div class="row">

                    <div class="form-group col-sm-2 ">
                        <label for="NniM">Reference</label>
                        @Html.TextBoxFor(x => x.Reference, new { @class = "form-control", @readonly = "true", @autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.Reference)
                    </div>

                    <div class="form-group col-sm-2">
                        <label for="Date"> Date </label>
                        @Html.TextBoxFor(x => x.Date, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                        @Html.ValidationMessageFor(x => x.Date)
                    </div>

                    <div class="form-group col-sm-2">
                        <label>Code Client</label>
                        @Html.TextBoxFor(x => x.CodeClient, new { @class = " form-control", onblur = "getClient('m');", @autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.CodeClient)
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="NniM">NomClient</label>
                        @Html.TextBoxFor(x => x.NomClient, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.NomClient)
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="nomFamilleM">Commentaires</label>
                        @Html.TextAreaFor(x => x.Commentaire, new { @class = "form-control", @autocomplete = "off", @id = "Commentaire" })
                        @Html.ValidationMessageFor(x => x.Commentaire)
                    </div>


                </div>

            </div>



        </div>


        <br /><br />

        @if (User.IsInRole("OperateurDCPesse"))
        {
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary">Enregistrer</button>
            </div>
        }


    </div>
</form>
<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });

    $(function () {
        $('#datetimepicker3').datetimepicker({
            dateFormat: 'HH:mm'
        });
    });


     function getClient(type) {

        var _Code;
        if (type == 'm') _Code = $("#CodeClient").val();

        if (_Code != null) {

            var ROOT = '@Url.Content("~/")';
            var url =  ROOT + "Home/GetClient/";
            $.getJSON(url, { Code: _Code }, function (data) {

                        $("#NomClient").val(data);



            })
        }
     }



    $(document).ready(function () {
        $("*").dblclick(function (e) {
            e.preventDefault();
        });
    });




</script>



