﻿@{
    ViewBag.Title = "Code Centre Somagaz";
}

@model  IEnumerable<GUHabitat.Models.ModelVracSomagaz>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}

<br />
<br />







<div id="divAjaxContainer">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">

            <tr class="section-colored alert-success">
                <th class="text-lg-center">Code </th>
                <th class="text-lg-center">Centre</th>



            </tr>


            <tr>

                <td class="text-lg-center">1</td>
                <td class="text-lg-center">NOUADHIBOU</td>

            </tr>

            <tr>
                <td class="text-lg-center">2</td>
                <td class="text-lg-center">ATAR</td>
            </tr>

            <tr>
                <td class="text-lg-center">3</td>
                <td class="text-lg-center">ZOUERATE</td>
            </tr>
            <tr>
                <td class="text-lg-center">4</td>
                <td class="text-lg-center">ALEG</td>
            </tr>
            <tr>
                <td class="text-lg-center">5</td>
                <td class="text-lg-center">SEILIBABY</td>
            </tr>
            <tr>
                <td class="text-lg-center">6</td>
                <td class="text-lg-center">KIFFA</td>
            </tr>
            <tr>
                <td class="text-lg-center">7</td>
                <td class="text-lg-center">AIOUN</td>
            </tr>
            <tr>
                <td class="text-lg-center">8</td>
                <td class="text-lg-center">NEMA</td>

            </tr>
            @*<tr>
                <td class="text-lg-center">9</td>
                <td class="text-lg-center">NOUAKCHOTT</td>

            </tr>*@
        </table>

    </div>
  


</div>












