﻿
@model  IEnumerable<GUHabitat.Models.ModelEntrees>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}


<form class="form-inline" action="~/Statistiques/Entree" method="post">
    <div class="row">

        <div class="magin"></div>
        <div class="form-group left ">
            <div class="form-group ">
                <input type="date" name="dateDebut" value="@ViewBag.dateDebut" class="search-text form-control  " placeholder="Date" autocomplete="off" />
            </div>
        </div>
        <div class="form-group  right">
            <div class="form-group ">
                <input type="date" name="dateFin" value="@ViewBag.dateFin" class="search-text form-control  " placeholder="Date" autocomplete="off" />
            </div>
            <div class="magin"></div>
            <button type="submit" class="btn btn-primary " id="buttonChercher">Chercher</button>
        </div>
    </div>
</form>
<br />
<br />




@if (User.IsInRole("Admin") || User.IsInRole("OperateurDC") || User.IsInRole("Sortie") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
{
    <h2>
        <span class="badge badge-dark">Total des entrées</span>
    </h2>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12TotalEntree</td>
                            <td class="text-lg-center">@item.B9TotalEntree</td>
                            <td class="text-lg-center">@item.B6RTotalEntree</td>
                            <td class="text-lg-center">@item.B6VTotalEntree</td>
                            <td class="text-lg-center">@item.B3TotalEntree </td>
                            <td class="text-lg-center">@item.B35TotalEntree</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}

<br />
<br />


@if (User.IsInRole("Admin") || User.IsInRole("OperateurDC") || User.IsInRole("Sortie") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("OperateurDCPesse") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-dark">Défectuosité Pleins (Aredp)</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12TotalEntreeAredp</td>
                            <td class="text-lg-center">@item.B9TotalEntreeAredp</td>
                            <td class="text-lg-center">@item.B6RTotalEntreeAredp</td>
                            <td class="text-lg-center">@item.B6VTotalEntreeAredp</td>
                            <td class="text-lg-center">@item.B3TotalEntreeAredp </td>
                            <td class="text-lg-center">@item.B35TotalEntreeAredp </td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}

<br />
<br />

@if (User.IsInRole("Admin") || User.IsInRole("OperateurDC") || User.IsInRole("Sortie") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("OperateurDCPesse") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success">Aredp A facturer</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12AredpAfact</td>
                            <td class="text-lg-center">@item.B9AredpAfact</td>
                            <td class="text-lg-center">@item.B6RAredpAfact</td>
                            <td class="text-lg-center">@item.B6VAredpAfact</td>
                            <td class="text-lg-center">@item.B3AredpAfact </td>
                            <td class="text-lg-center">@item.B35AredpAfact</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}

<br />
<br />

@if (User.IsInRole("Admin") || User.IsInRole("OperateurDC") || User.IsInRole("Sortie") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("OperateurDCPesse") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success">Aredp Non facturer</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12AredpNonfact</td>
                            <td class="text-lg-center">@item.B9AredpNonfact</td>
                            <td class="text-lg-center">@item.B6RAredpNonfact</td>
                            <td class="text-lg-center">@item.B6VAredpNonfact</td>
                            <td class="text-lg-center">@item.B3AredpNonfact </td>
                            <td class="text-lg-center">@item.B35AredpNonfact</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}

<br />
<br />



@if (User.IsInRole("Admin") || User.IsInRole("OperateurDC") || User.IsInRole("Sortie") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-dark">Vente </span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12TotalEntreeVente</td>
                            <td class="text-lg-center">@item.B9TotalEntreeVente</td>
                            <td class="text-lg-center">@item.B6RTotalEntreeVente</td>
                            <td class="text-lg-center">@item.B6VTotalEntreeVente</td>
                            <td class="text-lg-center">@item.B3TotalEntreeVente </td>
                            <td class="text-lg-center">@item.B35TotalEntreeVente</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}



<br />
<br />



@if (User.IsInRole("Admin") || User.IsInRole("OperateurDC") || User.IsInRole("Sortie") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-dark">Vente Directe </span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12TotalEntreeVenteDirecte</td>
                            <td class="text-lg-center">@item.B9TotalEntreeVenteDirecte</td>
                            <td class="text-lg-center">@item.B6RTotalEntreeVenteDirecte</td>
                            <td class="text-lg-center">@item.B6VTotalEntreeVenteDirecte</td>
                            <td class="text-lg-center">@item.B3TotalEntreeVenteDirecte </td>
                            <td class="text-lg-center">@item.B35TotalEntreeVenteDirecte</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}



<br />
<br />




@if (User.IsInRole("Admin") || User.IsInRole("OperateurDC") || User.IsInRole("Sortie") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-dark"> Dotation </span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12TotalEntreeDotation</td>
                            <td class="text-lg-center">@item.B9TotalEntreeDotation</td>
                            <td class="text-lg-center">@item.B6RTotalEntreeDotation</td>
                            <td class="text-lg-center">@item.B6VTotalEntreeDotation</td>
                            <td class="text-lg-center">@item.B3TotalEntreeDotation </td>
                            <td class="text-lg-center">@item.B35TotalEntreeDotation</td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

}

<br />
<br />




@if (User.IsInRole("Admin") || User.IsInRole("OperateurDE") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("DirecteurDIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success">Total d’emballage déclaré par le client</span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12Client</td>
                            <td class="text-lg-center">@item.B9Client</td>
                            <td class="text-lg-center">@item.B6RClient</td>
                            <td class="text-lg-center">@item.B6VClient</td>
                            <td class="text-lg-center">@item.B3Client </td>
                            <td class="text-lg-center">@item.B35Client</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}

<br />
<br />






@if (User.IsInRole("Admin") || User.IsInRole("OperateurDE") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("DirecteurDIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success">Total d’emballage vide recevable</span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12VideRec</td>
                            <td class="text-lg-center">@item.B9VideRec</td>
                            <td class="text-lg-center">@item.B6RVideRec</td>
                            <td class="text-lg-center">@item.B6VVideRec</td>
                            <td class="text-lg-center">@item.B3VideRec </td>
                            <td class="text-lg-center">@item.B35VideRec</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}

<br />
<br />



@if (User.IsInRole("Admin") || User.IsInRole("OperateurDE") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("DirecteurDIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success">Total d’emballage vide défectueux </span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12VideDef</td>
                            <td class="text-lg-center">@item.B9VideDef</td>
                            <td class="text-lg-center">@item.B6RVideDef</td>
                            <td class="text-lg-center">@item.B6VVideDef</td>
                            <td class="text-lg-center">@item.B3VideDef </td>
                            <td class="text-lg-center">@item.B35VideDef</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}

<br />
<br />


@if (User.IsInRole("Admin") || User.IsInRole("OperateurDE") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("DirecteurDIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success">Total d’emballage rempli  </span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12PleinRemp</td>
                            <td class="text-lg-center">@item.B9PleinRemp</td>
                            <td class="text-lg-center">@item.B6RPleinRemp</td>
                            <td class="text-lg-center">@item.B6VPleinRemp</td>
                            <td class="text-lg-center">@item.B3PleinRemp </td>
                            <td class="text-lg-center">@item.B35PleinRemp</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}

<br />
<br />




@if (User.IsInRole("Admin") || User.IsInRole("OperateurDE") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("DirecteurDIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success">Total d’emballage rempli défectueux (sur chaîne)   </span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12PleinDef</td>
                            <td class="text-lg-center">@item.B9PleinDef</td>
                            <td class="text-lg-center">@item.B6RPleinDef</td>
                            <td class="text-lg-center">@item.B6VPleinDef</td>
                            <td class="text-lg-center">@item.B3PleinDef </td>
                            <td class="text-lg-center">@item.B35PleinDef</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}

<br />
<br />



@if (User.IsInRole("Admin") || User.IsInRole("OperateurDE") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("DirecteurDIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success">Total d’emballage défectueux à remplacer  </span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12DefAremp</td>
                            <td class="text-lg-center">@item.B9DefAremp</td>
                            <td class="text-lg-center">@item.B6RDefAremp</td>
                            <td class="text-lg-center">@item.B6VDefAremp</td>
                            <td class="text-lg-center">@item.B3DefAremp </td>
                            <td class="text-lg-center">@item.B35DefAremp</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}

<br />
<br />

@if (User.IsInRole("Admin") || User.IsInRole("OperateurDE") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("DirecteurDIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success">Total d’emballage défectueux remplacés  </span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12DefRemp</td>
                            <td class="text-lg-center">@item.B9DefRemp</td>
                            <td class="text-lg-center">@item.B6RDefRemp</td>
                            <td class="text-lg-center">@item.B6VDefRemp</td>
                            <td class="text-lg-center">@item.B3DefRemp </td>
                            <td class="text-lg-center">@item.B35DefRemp</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}



<br />
<br />







<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });


</script>



@*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@


