﻿@{
    /**/

    ViewBag.Title = "Retour Vrac Client";
}

@model  IEnumerable<GUHabitat.Models.ModelRetourClient>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}

<br />
<br />

<form class="form-inline" action="~/Statistiques/RetourClient" method="post">
    <div class="row">

        <div class="magin"></div>
        <div class="form-group left ">

            <div class="form-group text-lg-center ">
                <input type="text" name="codeClient" value="@ViewBag.codeClient" class="search-text form-control  " placeholder="code client" autocomplete="off" />
            </div>
            <div class="magin"></div>
            <div class="form-group ">
                <input type="date" name="dateDebut" value="@ViewBag.dateDebut" class="search-text form-control  " placeholder="Date" autocomplete="off" />
            </div>
        </div>
        <div class="form-group  right">

            <div class="form-group ">
                <input type="date" name="dateFin" value="@ViewBag.dateFin" class="search-text form-control  " placeholder="Date" autocomplete="off" />
            </div>
            <div class="magin"></div>

            <button type="submit" class="btn btn-primary " id="buttonChercher">Chercher</button>
        </div>
    </div>
</form>
<br />
<br />

@if (User.IsInRole("Admin") || User.IsInRole("DirecteurDC") || User.IsInRole("ServiceDC") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("OperateurDCCiterne") || User.IsInRole("DIC") || User.IsInRole("DG") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("DirecteurDIC"))
{

    <h3>
        <span class="badge badge-success">Total Retour</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Date Debut</th>
                        <th class="text-lg-center">Date Fin</th>
                        <th class="text-lg-center">Client</th>
                        <th class="text-lg-center ">Tonnage(TM)</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.NomClient</td>
                            <td class="section-colored alert-danger text-xl-center "><span style="font-weight:bold">@item.Tonnage.ToString("0.000")</span> </td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
        
    </div>


}







<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });


</script>



@*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@







