﻿@{
    /**/

    ViewBag.Title = "Situation Nouadhibou";
}

@model  IEnumerable<GUHabitat.Models.ModelStatistiqueSituationNdb>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}

<br />
<br />

<form class="form-inline" action="~/Statistiques/SituationNDB" method="post">
    <div class="row">

        <div class="magin"></div>
        <div class="form-group left ">

            <div class="magin"></div>
            <div class="form-group ">
                <input type="date" name="dateDebut" value="@ViewBag.dateDebut" class="search-text form-control  " placeholder="Date" autocomplete="off" />
            </div>
        </div>
        <div class="form-group  right">

            <div class="form-group ">
                <input type="date" name="dateFin" value="@ViewBag.dateFin" class="search-text form-control  " placeholder="Date" autocomplete="off" />
            </div>
            <div class="magin"></div>

            <button type="submit" class="btn btn-primary " id="buttonChercher">Chercher</button>
        </div>
    </div>
</form>
<br />
<br />


<h3>
    <span class="badge badge-dark">Centre NOUADHIBOU</span>
</h3>

<br />

@if (User.IsInRole("Admin") || User.IsInRole("DirecteurDIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success">Stocks</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Date Debut</th>
                        <th class="text-lg-center">Date Fin</th>
                        <th class="text-lg-center">StockNOUADHIBOU</th>
                        <th class="text-lg-center ">Dépotage</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.StockNOUADHIBOU</td>



                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}
<br />




@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success">Production</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>

                        <th class="text-lg-center">Total(TM)</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12TotalProductionNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B9TotalProductionNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B6RTotalProductionNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B6VTotalProductionNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B3TotalProductionNOUADHIBOU </td>
                            <td class="text-lg-center">@item.B35TotalProductionNOUADHIBOU</td>

                            <td class="section-colored alert-danger text-xl-center "><span style="font-weight:bold">@item.TotalProductionNOUADHIBOU.ToString("0.000")</span> </td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

}



@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success">Total Facturation</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>

                        <th class="text-lg-center">Total(TM)</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12TotalFacturationNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B9TotalFacturationNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B6RTotalFacturationNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B6VTotalFacturationNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B3TotalFacturationNOUADHIBOU </td>
                            <td class="text-lg-center">@item.B35TotalFacturationNOUADHIBOU</td>
                            <td class="section-colored alert-danger text-xl-center "><span style="font-weight:bold">@item.TotalFacturationNOUADHIBOU.ToString("0.000")</span> </td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

}


@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success"> Consignation</span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12ConsignationNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B9ConsignationNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B6RConsignationNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B6VConsignationNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B3ConsignationNOUADHIBOU </td>
                            <td class="text-lg-center">@item.B35ConsignationNOUADHIBOU</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}



<br />
<br />


@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success"> Dotation  </span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12DotationNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B9DotationNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B6RDotationNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B6VDotationNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B3DotationNOUADHIBOU </td>
                            <td class="text-lg-center">@item.B35DotationNOUADHIBOU</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}



<br />
<br />



@if (User.IsInRole("Admin") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG"))
{
    <h3>
        <span class="badge badge-success"> Emballage  </span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12EmballageNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B9EmballageNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B6REmballageNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B6VEmballageNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B3EmballageNOUADHIBOU</td>
                            <td class="text-lg-center">@item.B35EmballageNOUADHIBOU </td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}


<br />
<br />







<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });


</script>



@*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@







