﻿
@model  IEnumerable<GUHabitat.Models.ModelSorties>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}


<form class="form-inline" action="~/Statistiques/Sortie" method="post">
    <div class="row">

        <div class="magin"></div>
        <div class="form-group left ">
            <div class="form-group ">
                <input type="date" name="dateDebut" value="@ViewBag.dateDebut" class="search-text form-control  " placeholder="Date" autocomplete="off" />
            </div>
        </div>
        <div class="form-group  right">
            <div class="form-group ">
                <input type="date" name="dateFin" value="@ViewBag.dateFin" class="search-text form-control  " placeholder="Date" autocomplete="off" />
            </div>
            <div class="magin"></div>
            <button type="submit" class="btn btn-primary " id="buttonChercher">Chercher</button>
        </div>
    </div>
</form>
<br />
<br />


@if (User.IsInRole("Admin") || User.IsInRole("OperateurDC") || User.IsInRole("Sortie") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
{
    <h3>
        <span class="badge badge-success">Total des Sorties</span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12TotalSortie</td>
                            <td class="text-lg-center">@item.B9TotalSortie</td>
                            <td class="text-lg-center">@item.B6RTotalSortie</td>
                            <td class="text-lg-center">@item.B6VTotalSortie</td>
                            <td class="text-lg-center">@item.B3TotalSortie </td>
                            <td class="text-lg-center">@item.B35TotalSortie</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}

<br />
<br />



@if (User.IsInRole("Admin") || User.IsInRole("OperateurDC") || User.IsInRole("Sortie") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("OperateurDCPesse") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
{
    <h3>
        <span class="badge badge-success">Défectuosité Pleins (Aredp)</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12TotalSortieAredp</td>
                            <td class="text-lg-center">@item.B9TotalSortieAredp</td>
                            <td class="text-lg-center">@item.B6RTotalSortieAredp</td>
                            <td class="text-lg-center">@item.B6VTotalSortieAredp</td>
                            <td class="text-lg-center">@item.B3TotalSortieAredp </td>
                            <td class="text-lg-center">@item.B35TotalSortieAredp </td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}

<br />
<br />


@if (User.IsInRole("Admin") || User.IsInRole("OperateurDC") || User.IsInRole("Sortie") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
{
    <h3>
        <span class="badge badge-success"> Vente </span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12TotalSortieVente</td>
                            <td class="text-lg-center">@item.B9TotalSortieVente</td>
                            <td class="text-lg-center">@item.B6RTotalSortieVente</td>
                            <td class="text-lg-center">@item.B6VTotalSortieVente</td>
                            <td class="text-lg-center">@item.B3TotalSortieVente </td>
                            <td class="text-lg-center">@item.B35TotalSortieVente</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}



<br />
<br />



@if (User.IsInRole("Admin") || User.IsInRole("OperateurDC") || User.IsInRole("Sortie") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
{
    <h3>
        <span class="badge badge-success"> Vente Directe </span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12TotalSortieVenteDirecte</td>
                            <td class="text-lg-center">@item.B9TotalSortieVenteDirecte</td>
                            <td class="text-lg-center">@item.B6RTotalSortieVenteDirecte</td>
                            <td class="text-lg-center">@item.B6VTotalSortieVenteDirecte</td>
                            <td class="text-lg-center">@item.B3TotalSortieVenteDirecte </td>
                            <td class="text-lg-center">@item.B35TotalSortieVenteDirecte</td>


                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}



<br />
<br />




@if (User.IsInRole("Admin") || User.IsInRole("OperateurDC") || User.IsInRole("Sortie") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
{
    <h3>
        <span class="badge badge-success"> Consignation </span>
    </h3>


    <div id="divAjaxContainer" embed-responsive>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>
                        <th class="text-lg-center">Présentoir</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                        <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                        <td class="text-lg-center">@item.B12TotalSortieConsignation</td>
                        <td class="text-lg-center">@item.B9TotalSortieConsignation</td>
                        <td class="text-lg-center">@item.B6RTotalSortieConsignation</td>
                        <td class="text-lg-center">@item.B6VTotalSortieConsignation</td>
                        <td class="text-lg-center">@item.B3TotalSortieConsignation </td>
                        <td class="text-lg-center">@item.B35TotalSortieConsignation</td>
                        <td class="text-lg-center">@item.PresentoirTotalSortieConsignation</td>


                    </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}



<br />
<br />



@if (User.IsInRole("Admin") || User.IsInRole("OperateurDC") || User.IsInRole("Sortie") || User.IsInRole("SuperviseurDE") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("DIC") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC"))
{
    <h3>
        <span class="badge badge-success"> Dotation </span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Debut</th>
                        <th class="text-lg-center">Fin</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                            <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>
                            <td class="text-lg-center">@item.B12TotalSortieDotation</td>
                            <td class="text-lg-center">@item.B9TotalSortieDotation</td>
                            <td class="text-lg-center">@item.B6RTotalSortieDotation</td>
                            <td class="text-lg-center">@item.B6VTotalSortieDotation</td>
                            <td class="text-lg-center">@item.B3TotalSortieDotation </td>
                            <td class="text-lg-center">@item.B35TotalSortieDotation</td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

}

<br />
<br />








<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });


</script>



@*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@


