﻿@{
    ViewBag.Title = "Statistiques Vrac";
}

@model  IEnumerable<GUHabitat.Models.ModelStatistiquesVrac>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}

<br />
<br />

<form class="form-inline" action="~/Statistiques/StatistiquesVrac" method="post">
    <div class="row">

        <div class="magin"></div>
        <div class="form-group left ">

            <div class="magin"></div>
            <div class="form-group ">
                <input type="date" name="dateDebut" value="@ViewBag.dateDebut" class="search-text form-control  " placeholder="Date" autocomplete="off" />
            </div>
        </div>
        <div class="form-group  right">

            <div class="form-group ">
                <input type="date" name="dateFin" value="@ViewBag.dateFin" class="search-text form-control  " placeholder="Date" autocomplete="off" />
            </div>
            <div class="magin"></div>

            <button type="submit" class="btn btn-primary " id="buttonChercher">Chercher</button>
        </div>
    </div>
</form>
<br />
<br />



@if (User.IsInRole("Admin") || User.IsInRole("ServiceVracPrivee") || User.IsInRole("ServiceDC") || User.IsInRole("OperateurDCCiterne") || User.IsInRole("DirecteurDC") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDE") || User.IsInRole("DIC") || User.IsInRole("DG") || User.IsInRole("Logistique") || User.IsInRole("DirecteurDIC"))
{
    <h3>
        <span class="badge badge-success">Statistiques Vrac</span>
    </h3>

    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Date Debut</th>
                        <th class="text-lg-center">Date Fin</th>
                        @if (User.IsInRole("Logistique"))
                        {
                            <th class="text-lg-center">Vrac Somagaz(TM)</th>
                        }
                        @if (!User.IsInRole("Logistique"))
                        {
                            <th class="text-lg-center">Vrac Somagaz(TM)</th>
                            <th class="text-lg-center ">Vrac Collaborateurs(TM)</th>
                            <th class="text-lg-center ">Vrac Partenaires(TM)</th>
                            <th class="text-lg-center ">Vrac Privee(TM)</th>
                            <th class="text-lg-center ">Vrac Star(TM)</th>

                        }


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td class="text-lg-center">@item.dateDebut.ToShortDateString()</td>
                        <td class="text-lg-center">@item.dateFin.ToShortDateString()</td>

                        @if (User.IsInRole("Logistique"))
                        {
                            <td class="section-colored alert-danger text-xl-center "><span style="font-weight:bold">@item.TonnageSomagaz.ToString("0.000")</span></td>

                        }

                        @if (!User.IsInRole("Logistique"))
                        {
                            <td class="section-colored alert-danger text-xl-center "><span style="font-weight:bold">@item.TonnageSomagaz.ToString("0.000")</span></td>
                            <td class="section-colored alert-danger text-xl-center "><span style="font-weight:bold">@item.TonnageCollaborateurs.ToString("0.000")</span></td>
                            <td class="section-colored alert-danger text-xl-center "><span style="font-weight:bold">@item.TonnagePartenaires.ToString("0.000")</span></td>
                            <td class="section-colored alert-danger text-xl-center "><span style="font-weight:bold">@item.TonnagePrivee.ToString("0.000")</span></td>
                            <td class="section-colored alert-danger text-xl-center "><span style="font-weight:bold">@item.TonnageStar.ToString("0.000")</span></td>

                        }


                    </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
}




<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });


</script>



@*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@







