﻿@using PagedList.Mvc
@{
    ViewBag.Title = "Liste Utilisateurs";
}
@model GUHabitat.Models.ModelListUtilisateur
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}
<br />
<br />
<div>
    <form class="form-inline" action="~/Utilisateur/Index">

        <div class="row">

            <div class="magin"></div>
            <div class="form-group left ">

                @Html.TextBoxFor(x => x.filtreMotCle, new { @class = "form-control left", @autocomplete = "off", @placeholder = "Mot Clé" })&ensp;

            </div>
            <div class="form-group right ">
                <button type="submit" class="btn btn-primary right" id="buttonChercher">Chercher</button>
            </div>
        </div>
    </form>
    <br />
    <div id="divAjaxContainer">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Login</th>
                        <th class="text-lg-center">Nom</th>
                        <th class="text-lg-center">Profil</th>
                        <th class="text-lg-center">Entité </th>
                        <th class="text-lg-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListeUtilisateurs)
                    {
                        <tr>
                            <td class="text-lg-center">@item.login</td>
                            <td class="text-lg-center">@item.Nom</td>
                            <td class="text-lg-center">@item.role</td>
                            <td class="text-lg-center">@item.entite</td>

                            <td class="text-lg-center">
                                <a href="@Url.Action("Modifier","Utilisateur", new { id = item.id})" class="btn btn-outline-info">
                                    <i class="fas fa-fw fa-info-circle"></i>
                                    Details
                                </a>

                            </td>



                        </tr>
                    }

                </tbody>

            </table>
        </div>
    <div class="pager">
        Page @(Model.ListeUtilisateurs.PageCount < Model.ListeUtilisateurs.PageNumber ? 0 : Model.ListeUtilisateurs.PageNumber)
        / @Model.ListeUtilisateurs.PageCount   @Html.PagedListPager(Model.ListeUtilisateurs, page => Url.Action("Index", new { page, filtreMotCle = Model.filtreMotCle }))
    </div>
</div>

</div>





@*
    <script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>
*@
