﻿@model GUHabitat.Models.ModelModifierUtilisateur
@{
    ViewBag.Title = "Modifier Utilisateur";
}


<form action="~/Utilisateur/Modifier" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.id)

    <div class="tab-content">
        <div class='tab-pane container fade in show active' id='s1'>

            <br /><br />
            <div class="row">




                <div class="form-group col-sm-6 ">
                    <label for="Login"> Login</label>
                    @Html.TextBoxFor(x => x.login, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.login)
                </div>
                <div class="form-group col-sm-6 ">
                    <label for="Password"> Mot de passe </label>
                    @Html.TextBoxFor(x => x.password, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.password)
                </div>

                <div class="form-group col-sm-6 ">
                    <label for="Nom"> Nom </label>
                    @Html.TextBoxFor(x => x.Nom, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.Nom)
                </div>

                <div class="form-group col-sm-6 ">
                    <label for="Profil">Profil</label>
                    @Html.DropDownListFor(x => x.idRole, new SelectList(Model.ListeRoles, "id", "libelle"), "--Choix Profil--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.idRole)
                </div>



                <div class="form-group col-sm-6 ">
                    <label for="Entite">Entité</label>
                    @Html.DropDownListFor(x => x.idEntite, new SelectList(Model.ListeEntites, "id", "libelle"), "--Choix entité--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.idEntite)
                </div>


                @*<div id="imgPlan" class="form-group">
                        <label for="message-text" class="col-form-label">Signature</label>
                        <input type="file" name="signature" accept="image/jpeg, image/png" />
                    </div>*@




            </div>
        </div>
    </div>

    <hr />

    @if (User.IsInRole("Admin"))
    {
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>

    }



</form>



