﻿@using PagedList.Mvc

@model GUHabitat.Models.ModelListeSortie
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}



@if (!Model.ListeSortie.Any())
{
    <div class="alert alert-danger">
        Pas d'instance
    </div>

}
else
{

    <h4> <span class="badge badge-success">Nombre Instance :  @ViewBag.nbInstance</span></h4>
    <br />

    <div>
        <form class="form-inline" action="~/Sortie/Valider">
            <div class="magin"></div>
            <div class="form-group left ">

                @*@Html.TextBoxFor(x => x.filtreMotCle, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @type = "date" })*@
                @Html.TextBoxFor(x => x.filtreMotCle, new { @class = "form-control left", @type = "date" })&ensp;
            </div>
            <div class="form-group right ">
                <button type="submit" class="btn btn-primary right" id="buttonChercher">Chercher</button>
            </div>

        </form>


        <br />
        <div id="divAjaxContainer">

            @*<input id="checkall" type="checkbox"> Tout
            <br />
            <br />*@
            <br />
            <div class="table-responsive">

                <table class="table table-bordered table-hover" name="frm">
                    <thead class="section-colored alert-success">
                        <tr>
                            @*<th>Cocher</th>*@
                            <th class="text-lg-center">Date</th>
                            <th class="text-lg-center">Type Sortie</th>
                            <th class="text-lg-center">Référence</th>
                            <th class="text-lg-center">Concerné</th>
                            <th class="text-lg-center">B12</th>
                            <th class="text-lg-center">B09</th>
                            <th class="text-lg-center">B6R</th>
                            <th class="text-lg-center">B6V</th>
                            <th class="text-lg-center">B03</th>
                            <th class="text-lg-center">B35</th>
                            <th class="text-lg-center">Etat</th>
                            <th class="text-lg-center">Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListeSortie)
                        {
                            <tr>
                                @*<td><input type="checkbox" name="chk_1" class="deleteCheckbox" pkey="@item.id" value=""></td>*@
                                <td class="text-lg-center">@item.Date.ToShortDateString()</td>
                                <td class="text-lg-center">@item.TypeSortie </td>
                                <td class="text-lg-center">@item.ReferenceTypeSortie </td>
                                @if (item.idTypeSortie != 2)
                                {
                                    <td class="text-lg-center">@item.Client </td>
                                }
                                @if (item.idTypeSortie == 2)
                                {
                                    <td class="text-lg-center">@item.Employe </td>
                                }
                                <td class="text-lg-center">@item.B12</td>
                                <td class="text-lg-center">@item.B9</td>
                                <td class="text-lg-center">@item.B6R</td>
                                <td class="text-lg-center">@item.B6V</td>
                                <td class="text-lg-center">@item.B3 </td>
                                <td class="text-lg-center">@item.B35 </td>

                                <td class="text-lg-center">@item.etatString </td>

                                <td class="text-lg-center">
                                    <a href="@Url.Action("Details","Sortie", new { id = item.id})" class="btn btn-outline-info">
                                        <i class="fas fa-fw fa-info-circle"></i>
                                        Details
                                    </a>

                                </td>


                            </tr>
                        }

                    </tbody>

                </table>

            </div>




            <div class="pager">
                Page @(Model.ListeSortie.PageCount < Model.ListeSortie.PageNumber ? 0 : Model.ListeSortie.PageNumber)
                / @Model.ListeSortie.PageCount   @Html.PagedListPager(Model.ListeSortie, page => Url.Action("Valider", new { page, filtreMotCle = Model.filtreMotCle }))
            </div>
        </div>

        <hr />

        <div class="text-center">

            @if (User.IsInRole("ServiceDC"))
            {
                <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#ValiderParDate">
                    <i class="fas fa-fw fa-check"></i>
                    Valider
                </a>

            }

           @*@if (User.IsInRole("ServiceDC"))
            {

                <button type="submit" class="btn btn-outline-primary" id="btnPrintSelected">Valider</button>

            }*@




        </div>

       


    </div>

}



    <div class="modal fade" id="ValiderParDate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Etês vous sûre de vouloir Valider les enregistrement liés à cette date : @Model.filtreMotCle</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>

                    <a href="@Url.Action("ValiderParDate","Sortie", new { date =  Model.filtreMotCle})" class="btn btn-primary">

                        Valider
                    </a>
                </div>
            </div>
        </div>
    </div>

<script>

    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });




 $(document).on('click', '#btnPrintSelected', function (event) {
        var idArray = new Array();

        $("input:checked.deleteCheckbox").each(function (i) {
            idArray[i] = $(this).attr('pkey');
        });

       var ROOT = '@Url.Content("~/")';

     $.ajax({
         type: "POST",
         url: ROOT + "/Sortie/SelectedValider",
         dataType: "json",
         traditional: true,
         data: {
             ids: idArray
         }


     })

            .done(function () {
                alert("success");
            })
            .fail(function () {


                $("#frmPrint").submit();
            })
        //
     event.preventDefault();
     window.location.href = ROOT + '/Sortie/Index';

  });




    $("#checkall").change(function () {
        $(".deleteCheckbox").prop("checked", $(this).prop("checked"))
    })


</script>








