﻿@model GUHabitat.Models.ModelAjouterStockCentre
@{
    ViewBag.Title = "";
}

<h4> <span class="badge badge-success">Centre : @Model.LibelleCentre</span></h4>

<hr />



@if ((User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE")) && (Model.etat != 2 && Model.etat != 3))
{
    <a href="@Url.Action("Modifier", "StockCentre", new { id = Model.id })" class="btn btn-outline-primary">
        <i class="fas fa-fw fa-edit"></i>
        Modifier
    </a>
}


@if ((User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE")) && (Model.etat == 2))
{
    <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#InstanceStockCentre">
        <i class="fas fa-fw fa-arrow-alt-circle-left"></i>
        En Instance
    </a>

}

@if ((User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE")) && (Model.etat == 1))
{
    <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#Valider">
        <i class="fas fa-check"></i>
        Valider
    </a>

}


<form action="~/StockCentre/Ajouter" method="post" id="form" class="form-horizontal">
    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.CodeCentre)

    <!-- Tab panes -->
    <div class="tab-content">

        <br />

        <div class="row col-12">

            <div class="row col-12">
                <h4>
                    <span class="badge badge-success">Informations Génerale</span>
                </h4>
            </div>

            <br /><br />

            <div class="row">

                <div class="form-group col-sm-4 ">
                    <label for="NniM">Reference</label>
                    @Html.TextBoxFor(x => x.reference, new { @class = "form-control", @readonly = "true", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.reference)
                </div>

                <div class="form-group col-sm-5 ">
                    <label for="Date"> Date </label>
                    @Html.TextBoxFor(x => x.Date, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.Date)
                </div>


            </div>


        </div>


        <hr />
        <div class="row col-12">

            <div class="row col-12">
                <h4>
                    <span class="badge badge-success">Stock</span>
                </h4>


            </div>


            <br /><br />


                  <div class="row col-12">





                      <div class="form-group col-sm-2">
                          <label>Stock Debut</label>
                          @Html.TextBoxFor(x => x.Stock, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                          @Html.ValidationMessageFor(x => x.Stock)
                      </div>
                      <div class="form-group col-sm-2">
                          <label>Stock Théorie</label>
                          @Html.TextBoxFor(x => x.StockTheorie, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                          @Html.ValidationMessageFor(x => x.StockTheorie)
                      </div>
                      <div class="form-group col-sm-2">
                          <label>Stock Fin</label>
                          @Html.TextBoxFor(x => x.StockFin, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                          @Html.ValidationMessageFor(x => x.StockFin)
                      </div>

                      @if (Model.CodeCentre == 9)
                      {
                          <div class="form-group col-sm-2">
                              <label>Dépotage</label>
                              @Html.TextBoxFor(x => x.Depotage, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                              @Html.ValidationMessageFor(x => x.Depotage)
                          </div>

                      }

                      <div class="form-group col-sm-2">
                          <label>Gain / Perte</label>
                          @Html.TextBoxFor(x => x.GainPerte, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                          @Html.ValidationMessageFor(x => x.GainPerte)
                      </div>
                  </div>

        </div>



        <hr />


        <div class="row">
            <div class="form-group col-sm-12">
                <label for="nomFamilleM">Commentaires</label>
                @Html.TextAreaFor(x => x.Commentaire, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                @Html.ValidationMessageFor(x => x.Commentaire)
            </div>

        </div>


        <hr />



        <br /><br />

    </div>
</form>


<!-- EnInstance Modal-->
<div class="modal fade" id="InstanceStockCentre" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Etês vous sûre de vouloir mettre En Instance cet document?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>

                <a href="@Url.Action("EnInstance","StockCentre", new { id = Model.id})" class="btn btn-primary">
                    En Instance
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Valider Modal-->
<div class="modal fade" id="Valider" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Etês vous sûre de vouloir Valider cet document?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>

                <a href="@Url.Action("Valider","StockCentre", new { id = Model.id})" class="btn btn-primary">
                    Valider
                </a>
            </div>
        </div>
    </div>
</div>



<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });

    $(function () {
        $('#datetimepicker3').datetimepicker({
            dateFormat: 'HH:mm'
        });
    });





    $('form').submit(function () {
        $(this).find(':submit').attr('disabled', 'disabled');
    });





</script>



