﻿@using PagedList.Mvc
@{
    ViewBag.Title = "Liste Stock Centre";
}
@model GUHabitat.Models.ModelListeStockCentre
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}
<br />
<br />
<div>
    <form class="form-inline" action="~/StockCentre/Index">
        <div class="magin"></div>
        <div class="form-group left ">

            @Html.TextBoxFor(x => x.filtreMotCle, new { @class = "form-control datepicker left", @autocomplete = "off", @placeholder = "Date" })&ensp;

        </div>
        <div class="form-group right ">
            <button type="submit" class="btn btn-primary right" id="buttonChercher">Chercher</button>
        </div>
    </form>
    <br />
    <div id="divAjaxContainer">
        <div class="table-responsive">

            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Date</th>
                        <th class="text-lg-center">Centre</th>
                        <th class="text-lg-center">Stock Début</th>
                        <th class="text-lg-center">Stock Fin</th>

                        <th class="text-lg-center">Etat</th>
                        <th class="text-lg-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListeStockCentre)
                    {
                        <tr>
                           
                            <td class="text-lg-center">@item.Date.ToShortDateString()</td>
                            <td class="text-lg-center">@item.LibelleCentre </td>
                            <td class="text-lg-center">@item.Stock</td>
                            <td class="text-lg-center">@item.StockFin</td>

                            <td class="text-lg-center">@item.etatString </td>

                            <td class="text-lg-center">
                                <a href="@Url.Action("Details","StockCentre", new { id = item.id})" class="btn btn-outline-info">
                                    <i class="fas fa-fw fa-info-circle"></i>
                                    Details
                                </a>

                            </td>



                        </tr>
                    }

                </tbody>

            </table>

        </div>




        <div class="pager">
            Page @(Model.ListeStockCentre.PageCount < Model.ListeStockCentre.PageNumber ? 0 : Model.ListeStockCentre.PageNumber)
            / @Model.ListeStockCentre.PageCount   @Html.PagedListPager(Model.ListeStockCentre, page => Url.Action("Index", new { page, filtreMotCle = Model.filtreMotCle }))
        </div>
    </div>

</div>

<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });

</script>




@*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@




