﻿@model GUHabitat.Models.ModelAjouterFicheConsignation
@{
    ViewBag.Title = "Details Fiche Consignation ";
}


<p>
    @if ((User.IsInRole("OperateurDC") || User.IsInRole("OperateurDE") || User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDE") || User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC")) && (Model.idTypeFicheConsignation != 3))
    {
        <a href="@Url.Action("ImprimerA5", "FicheConsignation", new { id = Model.id })" class="btn btn-outline-dark">
            <i class="fas fa-fw fa-print"></i>
            Imprimer
        </a>
    }

    @if ((User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("Admin") || User.IsInRole("DG")) && (Model.idTypeFicheConsignation != 3))
    {
        <a href="@Url.Action("ImprimerBulletin", "FicheConsignation", new { id = Model.id })" class="btn btn-outline-dark">
            <i class="fas fa-fw fa-print"></i>
            Imprimer Bulletin
        </a>
    }


    @if ((User.IsInRole("OperateurDC") || User.IsInRole("OperateurDE") || User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE") || User.IsInRole("DirecteurDC") || User.IsInRole("DirecteurDE") || User.IsInRole("Admin") || User.IsInRole("DG") || User.IsInRole("DirecteurDIC")) && (Model.idTypeFicheConsignation == 3))
    {
        <a href="@Url.Action("ImprimerPresentoir", "FicheConsignation", new { id = Model.id })" class="btn btn-outline-dark">
            <i class="fas fa-fw fa-print"></i>
            Imprimer
        </a>
    }

    @if ((User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("Admin") || User.IsInRole("DG")) && (Model.idTypeFicheConsignation == 3))
    {
        <a href="@Url.Action("ImprimerBulletinPresentoir", "FicheConsignation", new { id = Model.id })" class="btn btn-outline-dark">
            <i class="fas fa-fw fa-print"></i>
            Imprimer Bulletin
        </a>
    }



    @if ((User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("OperateurDE")) && (Model.etat != 3 && Model.etat != 4))
    {
        <a href="@Url.Action("Modifier", "FicheConsignation", new { id = Model.id })" class="btn btn-outline-primary">
            <i class="fas fa-fw fa-edit"></i>
            Modifier
        </a>
    }


    @if ((User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("ServiceDE")) && (Model.etat == 3))
    {

        <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#InstanceConsignation">
            <i class="fas fa-fw fa-arrow-alt-circle-left"></i>
            En Instance
        </a>

    }

    @if ((User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE")) && (Model.etat != 3 && Model.etat != 4))
    {

        <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#ValiderConsignation">
            <i class="fas fa-fw fa-check"></i>
            Valider
        </a>

    }


    <h4> <span class="badge badge-success">Type : @Model.TypeFicheString</span></h4>

</p>

<!-- Nav tabs -->
<ul class="nav nav-tabs">

    <li class='nav-item'>
        <a class='nav-link' data-toggle='tab' href='#s1' id="_s1"> Nombre à consigner </a>
    </li>


    <li class='nav-item'>
        <a class='nav-link ' data-toggle='tab' href='#s2' id="_s2">Nombre consigné</a>
    </li>





</ul>
<form action="~/FicheConsignation/Modifier" method="post" class="form-horizontal">
    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.idTypeFicheConsignation)
    <!-- Tab panes -->
    <div class="tab-content">
        <div class='tab-pane container fade ' id='s1'>

            <br />
            <div class="row">


                <h4>
                    <span class="badge badge-success">Informations Génerale</span>
                </h4>

                <br /><br />

                <div class="row">

                    <div class="form-group col-sm-4 ">
                        <label for="NniM">Reference</label>
                        @Html.TextBoxFor(x => x.Reference, new { @class = "form-control", @readonly = "true", @autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.Reference)
                    </div>

                    <div class="form-group col-sm-4 ">
                        <label for="Date"> Date </label>
                        @Html.TextBoxFor(x => x.Date, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.Date)
                    </div>

                    <div class="form-group col-sm-3">
                        <label>Code Client</label>
                        @Html.TextBoxFor(x => x.CodeClient, new { @class = " form-control", onblur = "getClient('m');", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.CodeClient)
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="NniM">NomClient</label>
                        @Html.TextBoxFor(x => x.NomClient, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.NomClient)
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="PrenomM">Vehicule Immatricule</label>
                        @Html.TextBoxFor(x => x.VehiculeImmatricule, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.VehiculeImmatricule)
                    </div>






                </div>



              


            </div>




            <br />

            <div class="row">

                <h4>
                    <span class="badge badge-success">Nombre à consigner</span>
                </h4>

                <br /><br />


                <div class="row">
                    @if (Model.idTypeFicheConsignation != 3)
                    {

                        <div class="form-group col-sm-2">
                            <label>B12</label>
                            @Html.TextBoxFor(x => x.B12DC, new { @class = "form-control", @autocomplete = "off", @id = "B12DC", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.B12DC)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B9</label>
                            @Html.TextBoxFor(x => x.B9DC, new { @class = "form-control", @autocomplete = "off", @id = "B9DC", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.B9DC)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6R</label>
                            @Html.TextBoxFor(x => x.B6RDC, new { @class = "form-control", @autocomplete = "off", @id = "B6RDC", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.B6RDC)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6V</label>
                            @Html.TextBoxFor(x => x.B6VDC, new { @class = "form-control", @autocomplete = "off", @id = "B6VDC", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.B6VDC)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B3</label>
                            @Html.TextBoxFor(x => x.B3DC, new { @class = "form-control", @autocomplete = "off", @id = "B3DC", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.B3DC)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B35</label>
                            @Html.TextBoxFor(x => x.B35DC, new { @class = "form-control", @autocomplete = "off", @id = "B35DC", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.B35DC)
                        </div>

                    }


                </div>

            </div>

            <div class="row">

                @if (Model.idTypeFicheConsignation == 3)
                {
                   
                        <div class="row col-sm-2">
                            <label>
                                Présentoir
                            </label>
                            @Html.TextBoxFor(x => x.PresentoirDC, new { @class = "form-control", @autocomplete = "off", @id = "PresentoirDC", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.PresentoirDC)
                        </div>

                        <div class="row col-sm-12">
                            <label for="nomFamilleM">Numéros Serie</label>
                            @Html.TextAreaFor(x => x.NumeroSerie, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.NumeroSerie)
                        </div>

                  

                }

            </div>

           
            <br />

            @if (Model.idTypeFicheConsignation != 3)
            {

                <div class="row">

                    <h4>
                        <span class="badge badge-success">Prix</span>
                    </h4>

                    <br /><br />


                    <div class="row">

                        <div class="form-group col-sm-2">
                            <label>B12</label>
                            @Html.TextBoxFor(x => x.B12Prix, new { @class = "form-control", @autocomplete = "off", @id = "B12Prix", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.B12Prix)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B9</label>
                            @Html.TextBoxFor(x => x.B9Prix, new { @class = "form-control", @autocomplete = "off", @id = "B9Prix", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.B9Prix)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6R</label>
                            @Html.TextBoxFor(x => x.B6RPrix, new { @class = "form-control", @autocomplete = "off", @id = "B6RPrix", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.B6RPrix)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6V</label>
                            @Html.TextBoxFor(x => x.B6VPrix, new { @class = "form-control", @autocomplete = "off", @id = "B6VPrix", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.B6VPrix)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B3</label>
                            @Html.TextBoxFor(x => x.B3Prix, new { @class = "form-control", @autocomplete = "off", @id = "B3Prix", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.B3Prix)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B35</label>
                            @Html.TextBoxFor(x => x.B35Prix, new { @class = "form-control", @autocomplete = "off", @id = "B35Prix", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.B35Prix)
                        </div>
                        @*@if (Model.idTypeFicheConsignation == 3)
                        {
                            <div class="form-group col-sm-2">
                                <label>
                                    Présentoir
                                </label>
                                @Html.TextBoxFor(x => x.PresentoirPrix, new { @class = "form-control", @autocomplete = "off", @id = "PresentoirPrix", @readonly = "true" })
                                @Html.ValidationMessageFor(x => x.PresentoirPrix)
                            </div>

                        }*@


                    </div>

                </div>


            }


            <br />
            @if (Model.idTypeFicheConsignation != 3)
            {

                <div class="row">

                    <h4>
                        <span class="badge badge-success">Total Prix</span>
                    </h4>

                    <br /><br />


                    <div class="row">


                        <div class="form-group col-sm-2">
                            <label>B12</label>
                            @Html.TextBoxFor(x => x.TotalPrixB12, new { @class = "form-control", @autocomplete = "off", @id = "TotalPrixB12", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.TotalPrixB12)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B9</label>
                            @Html.TextBoxFor(x => x.TotalPrixB9, new { @class = "form-control", @autocomplete = "off", @id = "TotalPrixB9", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.TotalPrixB9)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6R</label>
                            @Html.TextBoxFor(x => x.TotalPrixB6R, new { @class = "form-control", @autocomplete = "off", @id = "TotalPrixB6R", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.TotalPrixB6R)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6V</label>
                            @Html.TextBoxFor(x => x.TotalPrixB6V, new { @class = "form-control", @autocomplete = "off", @id = "TotalPrixB6V", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.TotalPrixB6V)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B3</label>
                            @Html.TextBoxFor(x => x.TotalPrixB3, new { @class = "form-control", @autocomplete = "off", @id = "TotalPrixB3", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.TotalPrixB3)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B35</label>
                            @Html.TextBoxFor(x => x.TotalPrixB35, new { @class = "form-control", @autocomplete = "off", @id = "TotalPrixB35", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.TotalPrixB35)
                        </div>

                        @*@if (Model.idTypeFicheConsignation == 3)
                        {
                            <div class="form-group col-sm-2">
                                <label>
                                    Présentoir
                                </label>
                                @Html.TextBoxFor(x => x.TotalPrixPresentoir, new { @class = "form-control", @autocomplete = "off", @id = "TotalPrixPresentoir", @readonly = "true" })
                                @Html.ValidationMessageFor(x => x.TotalPrixPresentoir)
                            </div>

                        }*@


                    </div>

                </div>

                <hr />


            }


        </div>


        <div class='tab-pane container fade' id='s2'>

            <br />


            <div class="row">

                @if (Model.idTypeFicheConsignation != 3)
                { 

                <div class="form-group col-sm-2">
                    <label>B12</label>
                    @Html.TextBoxFor(x => x.B12DE, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.B12DE)
                </div>
                <div class="form-group col-sm-2">
                    <label>B9</label>
                    @Html.TextBoxFor(x => x.B9DE, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.B9DE)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6R</label>
                    @Html.TextBoxFor(x => x.B6RDE, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.B6RDE)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6V</label>
                    @Html.TextBoxFor(x => x.B6VDE, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.B6VDE)
                </div>
                <div class="form-group col-sm-2">
                    <label>B3</label>
                    @Html.TextBoxFor(x => x.B3DE, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.B3DE)
                </div>
                <div class="form-group col-sm-2">
                    <label>B35</label>
                    @Html.TextBoxFor(x => x.B35DE, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.B35DE)
                </div>


                }

                @if (Model.idTypeFicheConsignation == 3)
                {
                    <div class="form-group col-sm-2">
                        <label>
                            Présentoir
                        </label>
                        @Html.TextBoxFor(x => x.PresentoirDE, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.PresentoirDE)
                    </div>

                }


                <div class="form-group col-sm-12">
                    <label for="nomFamilleM">Commentaires</label>
                    @Html.TextAreaFor(x => x.Commentaire, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.Commentaire)
                </div>

            </div>

            <hr />

        </div>

        <br /><br />

    </div>
</form>
<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });

    $(function () {
        $('#datetimepicker3').datetimepicker({
            dateFormat: 'HH:mm'
        });
    });


     function getClient(type) {

        var _Code;
        if (type == 'm') _Code = $("#CodeClient").val();

        if (_Code != null) {

            var ROOT = '@Url.Content("~/")';
            var url =  ROOT + "Home/GetClient/";
            $.getJSON(url, { Code: _Code }, function (data) {

                        $("#NomClient").val(data);



            })
        }
     }


    function getDestination() {

        var _Code;
        _Code = $("#CodeDestination").val();

        if (_Code != null) {

            var ROOT = '@Url.Content("~/")';
            var url =  ROOT + "Home/GetDestination";
            $.getJSON(url, { Code: _Code }, function (data) {

                $("#libelleDestination").val(data);



            })
        }
     }








</script>




<!-- EnInstance Modal-->
<div class="modal fade" id="InstanceConsignation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Etês vous sûre de vouloir mettre En Instance cette Fiche ?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>

                <a href="@Url.Action("EnInstance","FicheConsignation", new { id = Model.id})" class="btn btn-primary">
                    @*<i class="fas fa-fw fa-info-circle"></i>*@
                    Valider
                </a>
            </div>
        </div>
    </div>
</div>



<!-- Valider Modal-->
<div class="modal fade" id="ValiderConsignation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Etês vous sûre de vouloir Valider cette Fiche ?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>

                <a href="@Url.Action("Valider","FicheConsignation", new { id = Model.id})" class="btn btn-primary">
                    @*<i class="fas fa-fw fa-info-circle"></i>*@
                    Valider
                </a>
            </div>
        </div>
    </div>
</div>