﻿@using PagedList.Mvc

@model GUHabitat.Models.ModelListeFicheConsignation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}



@if (!Model.ListeFicheConsignation.Any())
{
    <div class="alert alert-danger">
        Pas d'instance
    </div>

}
else
{

    <h4> <span class="badge badge-success">Nombre Instance :  @ViewBag.nbInstance</span></h4>  
    <br /><br />

    <div>
        <form class="form-inline" action="~/FicheConsignation/Instance">
            <div class="magin"></div>
            <div class="form-group left ">

                @Html.TextBoxFor(x => x.filtreMotCle, new { @class = "form-control left", @autocomplete = "off", @placeholder = "Mot Clé" })&ensp;

            </div>
            <div class="form-group right ">
                <button type="submit" class="btn btn-primary right" id="buttonChercher">Chercher</button>
            </div>
        </form>
        <br />
        <div id="divAjaxContainer">
            <div class="table-responsive">

                <table class="table table-bordered table-hover">
                    <thead class="section-colored alert-success">
                        <tr>
                            <th class="text-lg-center">Référence</th>
                            <th class="text-lg-center">Date</th>
                            <th class="text-lg-center">Client</th>
                            <th class="text-lg-center">Type</th>
                            <th class="text-lg-center">B12</th>
                            <th class="text-lg-center">B09</th>
                            <th class="text-lg-center">B6R</th>
                            <th class="text-lg-center">B6V</th>
                            <th class="text-lg-center">B03</th>
                            <th class="text-lg-center">B35</th>
                            <th class="text-lg-center">Présentoir</th>
                            <th class="text-lg-center">Etat</th>
                            <th class="text-lg-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListeFicheConsignation)
                        {
                        <tr>
                            <td class="text-lg-center">@item.Reference</td>
                            <td class="text-lg-center">@item.Date.ToShortDateString()</td>
                            <td class="text-lg-center">@item.CodeClient </td>
                            <td class="text-lg-center">@item.TypeFicheConsignation </td>
                            <td class="text-lg-center">@item.B12DE</td>
                            <td class="text-lg-center">@item.B9DE</td>
                            <td class="text-lg-center">@item.B6RDE</td>
                            <td class="text-lg-center">@item.B6VDE</td>
                            <td class="text-lg-center">@item.B3DE </td>
                            <td class="text-lg-center">@item.B35DE </td>
                            <td class="text-lg-center">@item.PresentoirDE</td>
                            <td class="text-lg-center">@item.etatString </td>


                            <td class="text-lg-center">
                                <a href="@Url.Action("Details","FicheConsignation", new { id = item.id})" class="btn btn-outline-info">
                                    <i class="fas fa-fw fa-info-circle"></i>
                                    Details
                                </a>

                            </td>



                        </tr>
                        }

                    </tbody>

                </table>

            </div>




            <div class="pager">
                Page @(Model.ListeFicheConsignation.PageCount < Model.ListeFicheConsignation.PageNumber ? 0 : Model.ListeFicheConsignation.PageNumber)
                / @Model.ListeFicheConsignation.PageCount   @Html.PagedListPager(Model.ListeFicheConsignation, page => Url.Action("Instance", new { page, filtreMotCle = Model.filtreMotCle }))
            </div>
        </div>

    </div>

}








@*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@


