﻿@model GUHabitat.Models.ModelModifierFicheConsignation
@{
    ViewBag.Title = "Modifier la Fiche";
}


@if (ViewBag.MessageModifier1 != null)
{
    <div class="alert alert-danger">
        @ViewBag.MessageModifier1

    </div>

}



<!-- Nav tabs -->
<ul class="nav nav-tabs">
    @if (User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("OperateurDE"))
    { 
        <li class='nav-item'>
            <a class='nav-link' data-toggle='tab' href='#s1' id="_s1"> Nombre à consigner </a>
        </li>
    }
    @if (User.IsInRole("OperateurDE"))
    {

        <li class='nav-item'>
            <a class='nav-link ' data-toggle='tab' href='#s2' id="_s2">Nombre consigné</a>
        </li>

    }



</ul>
<form action="~/FicheConsignation/Modifier" method="post" class="form-horizontal">
    @Html.HiddenFor(x => x.id)

    <!-- Tab panes -->
    <div class="tab-content">
        <div class='tab-pane container fade ' id='s1'>

            <br />
            <div class="row">


                <h4>
                    <span class="badge badge-success">Informations Génerale</span>
                </h4>

                <br /><br />

                @if (User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC"))
                {
                    <div class="row">

                        <div class="form-group col-sm-4 ">
                            <label for="NniM">Reference</label>
                            @Html.TextBoxFor(x => x.Reference, new { @class = "form-control", @readonly = "true", @autocomplete = "off" })
                            @Html.ValidationMessageFor(x => x.Reference)
                        </div>

                        <div class="form-group col-sm-3 ">
                            <label for="Date"> Date </label>
                            @Html.TextBoxFor(x => x.Date, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                            @Html.ValidationMessageFor(x => x.Date)
                        </div>

                        <div class="form-group col-sm-4 ">
                            <label for="Entite">Type Fiche</label>
                            @Html.DropDownListFor(x => x.idTypeFicheConsignation, new SelectList(Model.ListeFiches, "id", "libelle"), "--Choix Type --", new { @class = "form-control", @id = "TypeFiche" })
                            @Html.ValidationMessageFor(x => x.idTypeFicheConsignation)
                        </div>

                        <div class="form-group col-sm-3">
                            <label>Code Client</label>
                            @Html.TextBoxFor(x => x.CodeClient, new { @class = " form-control", onblur = "getClient('m');", @autocomplete = "off" })
                            @Html.ValidationMessageFor(x => x.CodeClient)
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="NniM">NomClient</label>
                            @Html.TextBoxFor(x => x.NomClient, new { @class = "form-control", @autocomplete = "off" })
                            @Html.ValidationMessageFor(x => x.NomClient)
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="PrenomM">Vehicule Immatricule</label>
                            @Html.TextBoxFor(x => x.VehiculeImmatricule, new { @class = "form-control", @autocomplete = "off" })
                            @Html.ValidationMessageFor(x => x.VehiculeImmatricule)
                        </div>






                    </div>


                }




            </div>




            <br />


            @if (User.IsInRole("OperateurDE"))
            {

                <div class="row">

                    <div class="form-group col-sm-4 ">
                        <label for="NniM">Reference</label>
                        @Html.TextBoxFor(x => x.Reference, new { @class = "form-control", @readonly = "true", @autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.Reference)
                    </div>

                    <div class="form-group col-sm-3 ">
                        <label for="Date"> Date </label>
                        @Html.TextBoxFor(x => x.Date, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.Date)
                    </div>

                    @Html.HiddenFor(x => x.idTypeFicheConsignation)

                    <div class="form-group col-sm-3">
                        <label>Code Client</label>
                        @Html.TextBoxFor(x => x.CodeClient, new { @class = " form-control", onblur = "getClient('m');", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.CodeClient)
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="NniM">NomClient</label>
                        @Html.TextBoxFor(x => x.NomClient, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.NomClient)
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="PrenomM">Vehicule Immatricule</label>
                        @Html.TextBoxFor(x => x.VehiculeImmatricule, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.VehiculeImmatricule)
                    </div>






                </div>
            }

            @if (User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC"))
            {


                <div class="row">

                    <h4>
                        <span class="badge badge-success">Nombre à consigner</span>
                    </h4>

                    <br /><br />


                    <div class="row">
                        @if (Model.idTypeFicheConsignation != 3)
                        {

                            <div class="form-group col-sm-2">
                                <label>B12</label>
                                @Html.TextBoxFor(x => x.B12DC, new { @class = "form-control", @autocomplete = "off", @id = "B12DC" })
                                @Html.ValidationMessageFor(x => x.B12DC)
                            </div>
                            <div class="form-group col-sm-2">
                                <label>B9</label>
                                @Html.TextBoxFor(x => x.B9DC, new { @class = "form-control", @autocomplete = "off", @id = "B9DC" })
                                @Html.ValidationMessageFor(x => x.B9DC)
                            </div>
                            <div class="form-group col-sm-2">
                                <label>B6R</label>
                                @Html.TextBoxFor(x => x.B6RDC, new { @class = "form-control", @autocomplete = "off", @id = "B6RDC" })
                                @Html.ValidationMessageFor(x => x.B6RDC)
                            </div>
                            <div class="form-group col-sm-2">
                                <label>B6V</label>
                                @Html.TextBoxFor(x => x.B6VDC, new { @class = "form-control", @autocomplete = "off", @id = "B6VDC" })
                                @Html.ValidationMessageFor(x => x.B6VDC)
                            </div>
                            <div class="form-group col-sm-2">
                                <label>B3</label>
                                @Html.TextBoxFor(x => x.B3DC, new { @class = "form-control", @autocomplete = "off", @id = "B3DC" })
                                @Html.ValidationMessageFor(x => x.B3DC)
                            </div>
                            <div class="form-group col-sm-2">
                                <label>B35</label>
                                @Html.TextBoxFor(x => x.B35DC, new { @class = "form-control", @autocomplete = "off", @id = "B35DC" })
                                @Html.ValidationMessageFor(x => x.B35DC)
                            </div>

                        }


                    </div>






                </div>

                <div class="row">

                    @if (Model.idTypeFicheConsignation == 3)
                    {
                       
                            <div class="row col-sm-2">
                                <label>
                                    Présentoir
                                </label>
                                @Html.TextBoxFor(x => x.PresentoirDC, new { @class = "form-control", @autocomplete = "off", @id = "PresentoirDC" })
                                @Html.ValidationMessageFor(x => x.PresentoirDC)
                            </div>
                        
                            <div class="row col-sm-12">
                                <label for="nomFamilleM">Numeros Series</label>
                                @Html.TextAreaFor(x => x.NumeroSerie, new { @class = "form-control", @autocomplete = "off" })
                                @Html.ValidationMessageFor(x => x.NumeroSerie)
                            </div>

                       
                    }

                </div>


            }
            <br />



            @if (User.IsInRole("OperateurDE"))
            {

                <div class="row">

                    <h4>
                        <span class="badge badge-success">Nombre à consigner</span>
                    </h4>

                    <br /><br />


                    <div class="row">
                        @if (Model.idTypeFicheConsignation != 3)
                        {

                            <div class="form-group col-sm-2">
                                <label>B12</label>
                                @Html.TextBoxFor(x => x.B12DC, new { @class = "form-control", @autocomplete = "off", @id = "B12DC", @readonly = "true" })
                                @Html.ValidationMessageFor(x => x.B12DC)
                            </div>
                            <div class="form-group col-sm-2">
                                <label>B9</label>
                                @Html.TextBoxFor(x => x.B9DC, new { @class = "form-control", @autocomplete = "off", @id = "B9DC", @readonly = "true" })
                                @Html.ValidationMessageFor(x => x.B9DC)
                            </div>
                            <div class="form-group col-sm-2">
                                <label>B6R</label>
                                @Html.TextBoxFor(x => x.B6RDC, new { @class = "form-control", @autocomplete = "off", @id = "B6RDC", @readonly = "true" })
                                @Html.ValidationMessageFor(x => x.B6RDC)
                            </div>
                            <div class="form-group col-sm-2">
                                <label>B6V</label>
                                @Html.TextBoxFor(x => x.B6VDC, new { @class = "form-control", @autocomplete = "off", @id = "B6VDC", @readonly = "true" })
                                @Html.ValidationMessageFor(x => x.B6VDC)
                            </div>
                            <div class="form-group col-sm-2">
                                <label>B3</label>
                                @Html.TextBoxFor(x => x.B3DC, new { @class = "form-control", @autocomplete = "off", @id = "B3DC", @readonly = "true" })
                                @Html.ValidationMessageFor(x => x.B3DC)
                            </div>
                            <div class="form-group col-sm-2">
                                <label>B35</label>
                                @Html.TextBoxFor(x => x.B35DC, new { @class = "form-control", @autocomplete = "off", @id = "B35DC", @readonly = "true" })
                                @Html.ValidationMessageFor(x => x.B35DC)
                            </div>

                        }
                    </div>






                </div>

                <div class="row">

                    @if (Model.idTypeFicheConsignation == 3)
                    {
                       
                            <div class="row col-sm-2">
                                <label>
                                    Présentoir
                                </label>
                                @Html.TextBoxFor(x => x.PresentoirDC, new { @class = "form-control", @autocomplete = "off", @id = "PresentoirDC", @readonly = "true" })
                                @Html.ValidationMessageFor(x => x.PresentoirDC)
                            </div>
                      



                            <div class="row col-sm-12">
                                <label for="nomFamilleM">Numeros Series</label>
                                @Html.TextAreaFor(x => x.NumeroSerie, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                                @Html.ValidationMessageFor(x => x.NumeroSerie)
                            </div>

                      
                    }

                </div>


                <br />

            }




            @if((User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC")) && (Model.idTypeFicheConsignation != 3))
            {

                <div class="row">

                    <h4>
                        <span class="badge badge-success">Prix</span>
                    </h4>

                    <br /><br />


                    <div class="row">

                        <div class="form-group col-sm-2">
                            <label>B12</label>
                            @Html.TextBoxFor(x => x.B12Prix, new { @class = "form-control", @autocomplete = "off", @id = "B12Prix" })
                            @Html.ValidationMessageFor(x => x.B12Prix)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B9</label>
                            @Html.TextBoxFor(x => x.B9Prix, new { @class = "form-control", @autocomplete = "off", @id = "B9Prix" })
                            @Html.ValidationMessageFor(x => x.B9Prix)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6R</label>
                            @Html.TextBoxFor(x => x.B6RPrix, new { @class = "form-control", @autocomplete = "off", @id = "B6RPrix" })
                            @Html.ValidationMessageFor(x => x.B6RPrix)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6V</label>
                            @Html.TextBoxFor(x => x.B6VPrix, new { @class = "form-control", @autocomplete = "off", @id = "B6VPrix" })
                            @Html.ValidationMessageFor(x => x.B6VPrix)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B3</label>
                            @Html.TextBoxFor(x => x.B3Prix, new { @class = "form-control", @autocomplete = "off", @id = "B3Prix" })
                            @Html.ValidationMessageFor(x => x.B3Prix)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B35</label>
                            @Html.TextBoxFor(x => x.B35Prix, new { @class = "form-control", @autocomplete = "off", @id = "B35Prix" })
                            @Html.ValidationMessageFor(x => x.B35Prix)
                        </div>
                        @if (Model.idTypeFicheConsignation == 3)
                        {
                            <div class="form-group col-sm-2">
                                <label>
                                    Présentoir
                                </label>
                                @Html.TextBoxFor(x => x.PresentoirPrix, new { @class = "form-control", @autocomplete = "off", @id = "PresentoirPrix" })
                                @Html.ValidationMessageFor(x => x.PresentoirPrix)
                            </div>

                        }



                    </div>

                </div>


            }


            <br />
            @if ((User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC")) && (Model.idTypeFicheConsignation != 3))
            {

                <div class="row">

                    <h4>
                        <span class="badge badge-success">Total Prix</span>
                    </h4>

                    <br /><br />


                    <div class="row">


                        <div class="form-group col-sm-2">
                            <label>B12</label>
                            @Html.TextBoxFor(x => x.TotalPrixB12, new { @class = "form-control", @autocomplete = "off", @id = "TotalPrixB12", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.TotalPrixB12)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B9</label>
                            @Html.TextBoxFor(x => x.TotalPrixB9, new { @class = "form-control", @autocomplete = "off", @id = "TotalPrixB9", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.TotalPrixB9)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6R</label>
                            @Html.TextBoxFor(x => x.TotalPrixB6R, new { @class = "form-control", @autocomplete = "off", @id = "TotalPrixB6R", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.TotalPrixB6R)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B6V</label>
                            @Html.TextBoxFor(x => x.TotalPrixB6V, new { @class = "form-control", @autocomplete = "off", @id = "TotalPrixB6V", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.TotalPrixB6V)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B3</label>
                            @Html.TextBoxFor(x => x.TotalPrixB3, new { @class = "form-control", @autocomplete = "off", @id = "TotalPrixB3", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.TotalPrixB3)
                        </div>
                        <div class="form-group col-sm-2">
                            <label>B35</label>
                            @Html.TextBoxFor(x => x.TotalPrixB35, new { @class = "form-control", @autocomplete = "off", @id = "TotalPrixB35", @readonly = "true" })
                            @Html.ValidationMessageFor(x => x.TotalPrixB35)
                        </div>
                        @if (Model.idTypeFicheConsignation == 3)
                        {
                            <div class="form-group col-sm-2">
                                <label>
                                    Présentoir
                                </label>
                                @Html.TextBoxFor(x => x.TotalPrixPresentoir, new { @class = "form-control", @autocomplete = "off", @id = "TotalPrixPresentoir", @readonly = "true" })
                                @Html.ValidationMessageFor(x => x.TotalPrixPresentoir)
                            </div>
                        }


                    </div>

                </div>

                <hr />


            }


        </div>


        <div class='tab-pane container fade' id='s2'>

            <br />


            <div class="row">

                @if (Model.idTypeFicheConsignation != 3)
                {
                   

                    <div class="form-group col-sm-2">
                        <label>B12</label>
                        @Html.TextBoxFor(x => x.B12DE, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.B12DE)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B9</label>
                        @Html.TextBoxFor(x => x.B9DE, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.B9DE)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B6R</label>
                        @Html.TextBoxFor(x => x.B6RDE, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.B6RDE)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B6V</label>
                        @Html.TextBoxFor(x => x.B6VDE, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.B6VDE)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B3</label>
                        @Html.TextBoxFor(x => x.B3DE, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.B3DE)
                    </div>
                    <div class="form-group col-sm-2">
                        <label>B35</label>
                        @Html.TextBoxFor(x => x.B35DE, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.B35DE)
                    </div>


                }

                @if (Model.idTypeFicheConsignation == 3)
                {
                    <div class="form-group col-sm-2">
                        <label>
                            Présentoir
                        </label>
                        @Html.TextBoxFor(x => x.PresentoirDE, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.PresentoirDE)
                    </div>

                }


                <div class="form-group col-sm-12">
                    <label for="nomFamilleM">Commentaires</label>
                    @Html.TextAreaFor(x => x.Commentaire, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.Commentaire)
                </div>

            </div>

            <hr />

        </div>

        <br /><br />
        @if ((User.IsInRole("ServiceDC") || User.IsInRole("DirecteurDC") || User.IsInRole("OperateurDE")) && (Model.etat != 3 && Model.etat != 4))
        {
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary">Enregistrer</button>
            </div>
        }

    </div>
</form>
<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });

    $(function () {
        $('#datetimepicker3').datetimepicker({
            dateFormat: 'HH:mm'
        });
    });


     function getClient(type) {

        var _Code;
        if (type == 'm') _Code = $("#CodeClient").val();

        if (_Code != null) {

            var ROOT = '@Url.Content("~/")';
            var url =  ROOT + "Home/GetClient/";
            $.getJSON(url, { Code: _Code }, function (data) {

                        $("#NomClient").val(data);



            })
        }
     }


    function getDestination() {

        var _Code;
        _Code = $("#CodeDestination").val();

        if (_Code != null) {

            var ROOT = '@Url.Content("~/")';
            var url =  ROOT + "Home/GetDestination";
            $.getJSON(url, { Code: _Code }, function (data) {

                $("#libelleDestination").val(data);



            })
        }
     }



      document.getElementById("TypeFiche").value  = @Model.idTypeFicheConsignation;




</script>



