﻿@using PagedList.Mvc
@{
    ViewBag.Title = "Liste Fiche Situation";
}
@model GUHabitat.Models.ModelListeFicheSituation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}
<br />
<br />
<div>
    <form class="form-inline" action="~/FicheSituation/Index">
        <div class="magin"></div>
        <div class="form-group left ">


            @Html.TextBoxFor(x => x.filtreMotCle, new { @class = "form-control datepicker left", @autocomplete = "off", @placeholder = "Date" })&ensp;

        </div>
        <div class="form-group right ">
            <button type="submit" class="btn btn-primary right" id="buttonChercher">Chercher</button>
        </div>
    </form>
    <br />
    <div id="divAjaxContainer">
        <div class="table-responsive">

            <table class="table table-bordered table-hover ">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Date</th>
                        <th class="text-sm-center">Total Stock</th>
                        <th class="text-lg-center">Total Vente</th>
                        <th class="text-lg-center">Total Recette</th>
                        <th class="text-lg-center">Total Transfert</th>
                        <th class="text-lg-center">Total Versement</th>
                        <th class="text-lg-center">Prêts ce Jour</th>
                        <th class="text-lg-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListeFicheSituation)
                    {
                    <tr>
                        <td class="text-lg-center">@item.Date.ToShortDateString()</td>
                        <td class="text-lg-center">@item.TotalStock </td>
                        <td class="text-lg-center">@item.TotalVente</td>
                        <td class="text-lg-center">@item.TotalRecette</td>
                        <td class="text-lg-center">@item.TotalTransfert</td>
                        <td class="text-lg-center">@item.TotalVersement </td>
                        <td class="text-lg-center">@item.PretsAceJour </td>


                        <td class="text-lg-center">
                            <a href="@Url.Action("Details","FicheSituation", new { id = item.id})" class="btn btn-outline-info">
                                <i class="fas fa-fw fa-info-circle"></i>
                                Details
                            </a>

                        </td>



                    </tr>
                    }

                </tbody>

            </table>

        </div>




        <div class="pager">
            Page @(Model.ListeFicheSituation.PageCount < Model.ListeFicheSituation.PageNumber ? 0 : Model.ListeFicheSituation.PageNumber)
            / @Model.ListeFicheSituation.PageCount   @Html.PagedListPager(Model.ListeFicheSituation, page => Url.Action("Index", new { page, filtreMotCle = Model.filtreMotCle }))
        </div>
    </div>

</div>



<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });

 



</script>

@*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@


