﻿@using PagedList.Mvc
@{
    ViewBag.Title = "Liste Dotation Centre";
}
@model GUHabitat.Models.ModelListeDotationCentre
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}
<br />
<br />
<div>
    <form class="form-inline" action="~/DotationCentre/Index">
        <div class="magin"></div>
        <div class="form-group left ">

            @Html.TextBoxFor(x => x.filtreMotCle, new { @class = "form-control left", @autocomplete = "off", @placeholder = "Mot Clé" })&ensp;

        </div>
        <div class="form-group right ">
            <button type="submit" class="btn btn-primary right" id="buttonChercher">Chercher</button>
        </div>
    </form>
    <br />
    <div id="divAjaxContainer">
        <div class="table-responsive">

            <table class="table table-bordered table-hover">
                <thead class="section-colored alert-success">
                    <tr>
                        <th class="text-lg-center">Référence</th>
                        <th class="text-lg-center">Date</th>
                        <th class="text-lg-center">Code</th>
                        <th class="text-lg-center">Centre</th>
                        <th class="text-lg-center">B12</th>
                        <th class="text-lg-center">B09</th>
                        <th class="text-lg-center">B6R</th>
                        <th class="text-lg-center">B6V</th>
                        <th class="text-lg-center">B03</th>
                        <th class="text-lg-center">B35</th>

                        <th class="text-lg-center">Etat</th>
                        <th class="text-lg-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListeDotationCentre)
                    {
                    <tr>
                        <td class="text-lg-center">@item.Reference</td>
                        <td class="text-lg-center">@item.Date.ToShortDateString()</td>
                        <td class="text-lg-center">@item.CodeCentre </td>
                        <td class="text-lg-center">@item.LibelleCentre </td>
                        <td class="text-lg-center">@item.B12</td>
                        <td class="text-lg-center">@item.B9</td>
                        <td class="text-lg-center">@item.B6R</td>
                        <td class="text-lg-center">@item.B6V</td>
                        <td class="text-lg-center">@item.B3 </td>
                        <td class="text-lg-center">@item.B35 </td>
                        <td class="text-lg-center">@item.etatString </td>

                        <td class="text-lg-center">
                            <a href="@Url.Action("Details","DotationCentre", new { id = item.id})" class="btn btn-outline-info">
                                <i class="fas fa-fw fa-info-circle"></i>
                                Details
                            </a>

                        </td>



                    </tr>
                    }

                </tbody>

            </table>

        </div>




        <div class="pager">
            Page @(Model.ListeDotationCentre.PageCount < Model.ListeDotationCentre.PageNumber ? 0 : Model.ListeDotationCentre.PageNumber)
            / @Model.ListeDotationCentre.PageCount   @Html.PagedListPager(Model.ListeDotationCentre, page => Url.Action("Index", new { page, filtreMotCle = Model.filtreMotCle }))
        </div>
    </div>

</div>





@*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@


