﻿@model GUHabitat.Models.ModelAjouterBonEnlevement
@{
    ViewBag.Title = "";
}


@if ((User.IsInRole("ServiceDE")) && (Model.etat != 2 && Model.etat != 3))
{
    <a href="@Url.Action("Modifier", "BonEnlevementGaz", new { id = Model.id })" class="btn btn-outline-primary">
        <i class="fas fa-fw fa-edit"></i>
        Modifier
    </a>
}

<br /><br />
<h4> <span class="badge badge-success">Mouvement : @Model.MouvementBonString</span></h4>

<hr />



<form action="~/BonEnlevementGaz/Details" method="post" id="form" class="form-horizontal">
    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.idMouvementBon)

    <!-- Tab panes -->
    <div class="tab-content">

        <br />

        <div class="row col-12">

            <div class="row col-12">
                <h4>
                    <span class="badge badge-success">Informations Génerale</span>
                </h4>
            </div>

            <br /><br />

            <div class="row">

                <div class="form-group col-sm-3 ">
                    <label for="NniM">Reference</label>
                    @Html.TextBoxFor(x => x.Reference, new { @class = "form-control", @readonly = "true", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.Reference)
                </div>

                <div class="form-group col-sm-3 ">
                    <label for="Date"> Date </label>
                    @Html.TextBoxFor(x => x.Date, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.Date)
                </div>

                <div class="form-group col-sm-4 ">
                    <label for="Entite">Type</label>
                    @Html.DropDownListFor(x => x.idTypeBonEnlevement, new SelectList(Model.ListeTypeBonEnlevement, "id", "libelle"), "--Choix --", new { @class = "form-control", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.idTypeBonEnlevement)
                </div>


            </div>

        </div>





        <hr />
        <div class="row col-12">

            <div class="row col-12">
                <h4>
                    <span class="badge badge-success"> Details</span>
                </h4>


            </div>


            <br /><br />


            <div class="row col-12">

                <div class="form-group col-sm-2">
                    <label>Code Client</label>
                    @Html.TextBoxFor(x => x.CodeClient, new { @class = " form-control", onblur = "getClient('m');", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.CodeClient)
                </div>
                <div class="form-group col-sm-4">
                    <label for="NniM">NomClient</label>
                    @Html.TextBoxFor(x => x.NomClient, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.NomClient)
                </div>

                <div class="form-group col-sm-3">
                    <label for="NniM">Reference Bon Pesee</label>
                    @Html.TextBoxFor(x => x.ReferenceBonPesee, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.ReferenceBonPesee)
                </div>

                <div class="form-group col-sm-3">
                    <label for="NniM">Reference Depotage</label>
                    @Html.TextBoxFor(x => x.ReferenceDepotage, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.ReferenceDepotage)
                </div>



            </div>
            <div class="row col-12">
                @if (Model.idMouvementBon == 1)
                { 
                    <div class="form-group col-sm-3">
                        <label>Immatricule Camion</label>
                        @Html.TextBoxFor(x => x.ImmatriculeCamion, new { @class = " form-control", onblur = "getClient('m');", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.ImmatriculeCamion)
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="NniM">Chauffeur Camion</label>
                        @Html.TextBoxFor(x => x.ChauffeurCamion, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                        @Html.ValidationMessageFor(x => x.ChauffeurCamion)
                    </div>

                }


                <div class="form-group col-sm-3">
                    <label for="NniM">Tonnage</label>
                    @Html.TextBoxFor(x => x.Tonnage, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.Tonnage)
                </div>


            </div>





        </div>

        <hr />

        <div class="row">
            <div class="form-group col-sm-12">
                <label for="nomFamilleM">Commentaires</label>
                @Html.TextAreaFor(x => x.Commentaires, new { @class = "form-control", @autocomplete = "off", @readonly = "true" })
                @Html.ValidationMessageFor(x => x.Commentaires)
            </div>

        </div>


        <hr />



        <br /><br />


    </div>
</form>
<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });

    $(function () {
        $('#datetimepicker3').datetimepicker({
            dateFormat: 'HH:mm'
        });
    });



    function getClient(type) {

        var _Code;
        if (type == 'm') _Code = $("#CodeClient").val();

        if (_Code != null) {

            var ROOT = '@Url.Content("~/")';
            var url =  ROOT + "Home/GetClient/";
            $.getJSON(url, { Code: _Code }, function (data) {

                        $("#NomClient").val(data);



            })
        }
     }




    $('form').submit(function () {
        $(this).find(':submit').attr('disabled', 'disabled');
    });





</script>



