﻿@using PagedList.Mvc
@{
    ViewBag.Title = "Liste de BEEVS";
}
@model GUHabitat.Models.ListeBeevModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">@TempData["SuccessMessage"] </span>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:red;">@TempData["ErrorMessage"] </span>
}
<br />
<br />
<div>
    <form class="form-inline" action="~/Beev/Index">

        @Html.TextBoxFor(x => x.filtreMotCle, new { @class = "form-control", @autocomplete = "off", @placeholder = "Mot Clé" })&ensp;
        <button type="submit" class="btn btn-primary" id="buttonChercher">Chercher</button>
    </form>
    <br />
    <div id="divAjaxContainer">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Série</th>
                    <th>Date</th>
                    <th>Client</th>
                    <th>B12</th>
                    <th>B09</th>
                    <th>B6R</th>
                    <th>B6V</th>
                    <th>B03</th>
                    <th>B35</th>
                    <th>Etat</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListeBeev)
                {
                <tr>
                    <td>@item.Serie</td>
                    <td>@item.Date.ToShortDateString()</td>
                    <td>@item.NomClient </td>
                    <td>@item.B12</td>
                    <td>@item.B9</td>
                    <td>@item.B6R</td>
                    <td>@item.B6V</td>
                    <td>@item.B3 </td>
                    <td>@item.B35 </td>
                    <td>@item.etatString </td>


                    <td>
                        <a href="@Url.Action("Details","Beev", new { id = item.id})" class="btn btn-outline-info">
                            <i class="fas fa-fw fa-info-circle"></i>
                            Details
                        </a>

                    </td>

                </tr>
                }

            </tbody>

        </table>
        <div class="pager">
            Page @(Model.ListeBeev.PageCount < Model.ListeBeev.PageNumber ? 0 : Model.ListeBeev.PageNumber)
            / @Model.ListeBeev.PageCount   @Html.PagedListPager(Model.ListeBeev, page => Url.Action("Index", new { page, filtreMotCle = Model.filtreMotCle }))
        </div>
    </div>

</div>





    @*<script>
        $(document).ready(function () {
            toastr.success("Test");
        });
    </script>*@
 