﻿@model GUHabitat.Models.ModelModifierBeev
<br />
@{
    ViewBag.Title = "Ajouter un Beev";
}


<form action="~/Beev/ModifierBeev" method="post" class="form-horizontal">
    @Html.HiddenFor(x => x.id)

    <div class="tab-content">
        <div class='tab-pane container fade in show active' id='s1'>

            <br /><br />
            <div class="row">


                <div class="form-group col-sm-4 ">
                    <label for="Date"> Date</label>
                    @Html.TextBoxFor(x => x.Date, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(x => x.Date)
                </div>


                <div class="form-group col-sm-2 ">
                    <label>Serie</label>
                    @Html.TextBoxFor(x => x.Serie, new { @class = "form-control", @readonly = "true", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.Serie)
                </div>


                <div class="form-group col-sm-2">
                    <label>Code Client</label>
                    @Html.TextBoxFor(x => x.CodeClient, new { @class = "form-control", onblur = "getClient('m');", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.CodeClient)
                </div>
                <div class="form-group col-sm-4">
                    <label>Nom Client</label>
                    @Html.TextBoxFor(x => x.NomClient, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.NomClient)
                </div>


                <div class="form-group col-sm-2">
                    <label>B12</label>
                    @Html.TextBoxFor(x => x.B12, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B12)
                </div>
                <div class="form-group col-sm-2">
                    <label>B09</label>
                    @Html.TextBoxFor(x => x.B9, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B9)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6R</label>
                    @Html.TextBoxFor(x => x.B6R, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B6R)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6V</label>
                    @Html.TextBoxFor(x => x.B6V, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B6V)
                </div>
                <div class="form-group col-sm-2">
                    <label>B03</label>
                    @Html.TextBoxFor(x => x.B3, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B3)
                </div>
                <div class="form-group col-sm-2">
                    <label>B35</label>
                    @Html.TextBoxFor(x => x.B35, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B35)
                </div>




                <div class="form-group col-sm-6">
                    <label>Commentaire</label>
                    @Html.TextBoxFor(x => x.Commentaire, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.Commentaire)
                </div>

            </div>
        </div>
        <hr />
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </div>
</form>
<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });

   function getClient(type) {

        var _Code;
        if (type == 'm') _Code = $("#CodeClient").val();

        if (_Code != null) {

            var ROOT = '@Url.Content("~/")';
            var url =  ROOT + "Home/GetClient/";
            $.getJSON(url, { Code: _Code }, function (data) {

                        $("#NomClient").val(data);



            })
        }
    }

</script>




