﻿@model GUHabitat.Models.ModelAjouterEmballageCentre
@{
    ViewBag.Title = "";
}

<h4> <span class="badge badge-success">Centre : @Model.libelleCentreString</span></h4>

@if (ViewBag.MessageEmballageAjout != null)
{
    <div class="alert alert-danger">
        @ViewBag.MessageEmballageAjout

    </div>

}


<hr />





<form action="~/EmballageCentre/Ajouter" method="post" id="form" class="form-horizontal">
    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.CodeCentre)

    <!-- Tab panes -->
    <div class="tab-content">

        <br />

        <div class="row col-12">

            <div class="row col-12">
                <h4>
                    <span class="badge badge-success">Informations Génerale</span>
                </h4>
            </div>

            <br /><br />

            <div class="row">

                <div class="form-group col-sm-3 ">
                    <label for="NniM">Reference</label>
                    @Html.TextBoxFor(x => x.Reference, new { @class = "form-control", @readonly = "true", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.Reference)
                </div>

                <div class="form-group col-sm-3 ">
                    <label for="Date"> Date </label>
                    @Html.TextBoxFor(x => x.Date, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(x => x.Date)
                </div>

                <div class="form-group col-sm-3 ">
                    <label for="Entite">Type Mouvement</label>
                    @Html.DropDownListFor(x => x.idTypeMouvement, new SelectList(Model.ListeMouvement, "id", "libelle"), "--Choix --", new { @class = "form-control", @id = "CodeCentre" })
                    @Html.ValidationMessageFor(x => x.idTypeMouvement)
                </div>

                <div class="form-group col-sm-3 ">
                    <label for="Entite">Etat</label>
                    @Html.DropDownListFor(x => x.idEtatEmballage, new SelectList(Model.ListeEtatEmballages, "id", "libelle"), "--Choix --", new { @class = "form-control", @id = "CodeCentre" })
                    @Html.ValidationMessageFor(x => x.idEtatEmballage)
                </div>

                <div class="form-group col-sm-3 ">
                    <label for="Entite">Source / Destination</label>
                    @Html.DropDownListFor(x => x.idDestinationSource, new SelectList(Model.ListeSourceDestination, "id", "libelle"), "--Choix --", new { @class = "form-control", @id = "CodeCentre" })
                    @Html.ValidationMessageFor(x => x.idDestinationSource)
                </div>


            </div>


        </div>


        <hr />
        <div class="row col-12">

            <div class="row col-12">
                <h4>
                    <span class="badge badge-success">Nbre Bouteilles </span>
                </h4>


            </div>


            <br /><br />


            <div class="row">



                <div class="form-group col-sm-2">
                    <label>B12</label>
                    @Html.TextBoxFor(x => x.B12, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B12)
                </div>
                <div class="form-group col-sm-2">
                    <label>B9</label>
                    @Html.TextBoxFor(x => x.B9, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B9)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6R</label>
                    @Html.TextBoxFor(x => x.B6R, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B6R)
                </div>
                <div class="form-group col-sm-2">
                    <label>B6V</label>
                    @Html.TextBoxFor(x => x.B6V, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B6V)
                </div>
                <div class="form-group col-sm-2">
                    <label>B3</label>
                    @Html.TextBoxFor(x => x.B3, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B3)
                </div>
                <div class="form-group col-sm-2">
                    <label>B35</label>
                    @Html.TextBoxFor(x => x.B35, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.B35)
                </div>

            </div>

        </div>



        <hr />



        <div class="row">
            <div class="form-group col-sm-12">
                <label for="nomFamilleM">Commentaires</label>
                @Html.TextAreaFor(x => x.Commentaire, new { @class = "form-control", @autocomplete = "off" })
                @Html.ValidationMessageFor(x => x.Commentaire)
            </div>

        </div>


        <hr />



        <br /><br />

        @if (User.IsInRole("ServiceDC") || User.IsInRole("ServiceDE"))
        {
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary ">Enregistrer</button>
            </div>
        }

    </div>
</form>
<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            separator: '-',
        });
    });

    $(function () {
        $('#datetimepicker3').datetimepicker({
            dateFormat: 'HH:mm'
        });
    });





    $('form').submit(function () {
        $(this).find(':submit').attr('disabled', 'disabled');
    });





</script>



